.version.ballerina_roug /* version checker */
{
	color: #000001;
	background-color: #76A051;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 735.8499999999998px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 14px 58px 0px;
}

#slideshowu42194
{
	z-index: 55;
	width: 0.01px;
	height: 885px;
	margin-left: 35px;
	margin-top: 85px;
	position: relative;
}

#u42195
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 539px;
}

#u42195popup
{
	z-index: 56;
}

#u42268
{
	z-index: 57;
	width: 366px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u42277
{
	z-index: 59;
	width: 366px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u42268:hover,#u42277:hover
{
	width: 366px;
	height: 79px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u42286
{
	z-index: 61;
	width: 366px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 11px;
}

#u42295
{
	z-index: 63;
	width: 366px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 387px;
}

#u42286:hover,#u42295:hover
{
	width: 366px;
	height: 79px;
	min-height: 0px;
	margin: 89px -10000px 0px 0px;
}

#u42304
{
	z-index: 65;
	width: 366px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 11px;
}

#u42313
{
	z-index: 67;
	width: 366px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 387px;
}

#u42304:hover,#u42313:hover
{
	width: 366px;
	height: 79px;
	min-height: 0px;
	margin: 178px -10000px 0px 0px;
}

#u42322
{
	z-index: 69;
	width: 366px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 11px;
}

#u42331
{
	z-index: 71;
	width: 366px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 387px;
}

#u42322:hover,#u42331:hover
{
	width: 366px;
	height: 79px;
	min-height: 0px;
	margin: 267px -10000px 0px 0px;
}

#u42204
{
	position: absolute;
	width: 720px;
	height: 569px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -36px;
	left: 663px;
	-pie-background: rgba(0,0,0,0.9);
}

#u42204popup
{
	z-index: 73;
}

#u42271
{
	z-index: 74;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42280
{
	z-index: 76;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42289
{
	z-index: 78;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42298
{
	z-index: 80;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42307
{
	z-index: 82;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42316
{
	z-index: 84;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42325
{
	z-index: 86;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42334
{
	z-index: 88;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42271_img,#u42280_img,#u42289_img,#u42298_img,#u42307_img,#u42316_img,#u42325_img,#u42334_img
{
	padding-left: 85px;
	padding-right: 84px;
}

#u42223-3
{
	position: absolute;
	width: 320px;
	min-height: 1098px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -565px;
	left: 662px;
}

#u42223-3popup
{
	z-index: 90;
}

#u42213-3
{
	position: absolute;
	width: 322px;
	min-height: 1087px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -554px;
	left: 1061px;
}

#u42213-3popup
{
	z-index: 93;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu38185
{
	width: 0.01px;
	margin-top: -970px;
}

#u38185
{
	z-index: 6;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 10px;
}

.ie #u38185
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu48717
{
	z-index: 12;
	width: 203px;
	margin-right: -10000px;
}

#u48718
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u48728
{
	width: 66px;
	padding-bottom: 20px;
}

#u48728:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48728:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48729-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48728:hover #u48729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48728:active #u48729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48722
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48722:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48722:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48746
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u48756
{
	width: 66px;
	padding-bottom: 20px;
}

#u48728.MuseMenuActive,#u48756:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48756:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48756.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48757-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48728.MuseMenuActive #u48729-4,#u48756:hover #u48757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48756:active #u48757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48756.MuseMenuActive #u48757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48720,#u48721,#u48748
{
	width: 120px;
}

#u48748:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u48750
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48722.MuseMenuActive,#u48750:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48723-4,#u48751-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u48732
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u48742
{
	width: 67px;
	padding-bottom: 20px;
}

#u48742:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48742:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48742.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48743-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48742:hover #u48743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48742:active #u48743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48742.MuseMenuActive #u48743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48719,#u48747,#u48733
{
	width: 120px;
	top: 39px;
}

#u48749,#u48734,#u48735
{
	width: 120px;
}

#u48738
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u48750.MuseMenuActive,#u48738:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48738:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48738.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48740-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu38187
{
	width: 0.01px;
	margin-top: -926px;
}

#u38187
{
	z-index: 2;
	width: 749px;
	padding-left: 42px;
	padding-top: 450px;
	padding-right: 45px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u38182-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38181-4
{
	z-index: 7;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#u38202
{
	z-index: 11;
	width: 51px;
	height: 50px;
	margin-left: 698px;
	margin-top: 16px;
}

#u42226-4
{
	z-index: 96;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 35px;
}

#u42193-5
{
	z-index: 100;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 458px;
	left: 35px;
}

#u42193
{
	font-weight: bold;
}

#u42193-2
{
	font-weight: normal;
}

#u42225
{
	z-index: 106;
	position: relative;
	width: 217px;
	margin-right: -10000px;
	margin-top: 458px;
	left: 36px;
}

#u42225_states
{
	height: 18px;
	width: 217px;
	vertical-align: top;
	background: url("../images/u42225_states.png") no-repeat 0px 0px;
}

#u42225:hover #u42225_states
{
	background: url("../images/u42225_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

