.version.birthday_for_s /* version checker */
{
	color: #0000FF;
	background-color: #E24D32;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 677.6500000000001px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 14px 58px 58.34999999999991px;
}

#slideshowu41969
{
	z-index: 55;
	width: 0.01px;
	height: 593px;
	margin-left: 35px;
	margin-top: 85px;
	position: relative;
}

#u41989
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 245px;
}

#u41989popup
{
	z-index: 56;
}

#u42029
{
	z-index: 57;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u42038
{
	z-index: 59;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u42029:hover,#u42038:hover
{
	width: 372px;
	height: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u42047
{
	z-index: 61;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 5px;
}

#u42056
{
	z-index: 63;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 387px;
}

#u42047:hover,#u42056:hover
{
	width: 372px;
	height: 169px;
	min-height: 0px;
	margin: 179px -10000px 0px 0px;
}

#u41972
{
	position: absolute;
	width: 720px;
	height: 569px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -36px;
	left: 663px;
	-pie-background: rgba(0,0,0,0.9);
}

#u41972popup
{
	z-index: 65;
}

#u42032
{
	z-index: 66;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42032_img
{
	padding-left: 146px;
	padding-right: 145px;
}

#u42041
{
	z-index: 68;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42041_img
{
	padding-left: 148px;
	padding-right: 149px;
}

#u42050
{
	z-index: 70;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42059
{
	z-index: 72;
	width: 676px;
	height: 507px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42050_img,#u42059_img
{
	padding-left: 85px;
	padding-right: 84px;
}

#u41971-3
{
	position: absolute;
	width: 320px;
	min-height: 1098px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -565px;
	left: 662px;
}

#u41971-3popup
{
	z-index: 74;
}

#u41981-3
{
	position: absolute;
	width: 322px;
	min-height: 1087px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -554px;
	left: 1061px;
}

#u41981-3popup
{
	z-index: 77;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu38185
{
	width: 0.01px;
	margin-top: -678px;
}

#u38185
{
	z-index: 6;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 10px;
}

.ie #u38185
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu48717
{
	z-index: 12;
	width: 203px;
	margin-right: -10000px;
}

#u48718
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u48728
{
	width: 66px;
	padding-bottom: 20px;
}

#u48728:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48728:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48729-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48728:hover #u48729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48728:active #u48729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48722
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48722:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48722:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48746
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u48756
{
	width: 66px;
	padding-bottom: 20px;
}

#u48728.MuseMenuActive,#u48756:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48756:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48756.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48757-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48728.MuseMenuActive #u48729-4,#u48756:hover #u48757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48756:active #u48757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48756.MuseMenuActive #u48757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48720,#u48721,#u48748
{
	width: 120px;
}

#u48748:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u48750
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48722.MuseMenuActive,#u48750:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48723-4,#u48751-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u48732
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u48742
{
	width: 67px;
	padding-bottom: 20px;
}

#u48742:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48742:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48742.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48743-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48742:hover #u48743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48742:active #u48743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48742.MuseMenuActive #u48743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48719,#u48747,#u48733
{
	width: 120px;
	top: 39px;
}

#u48749,#u48734,#u48735
{
	width: 120px;
}

#u48738
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u48750.MuseMenuActive,#u48738:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48738:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48738.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48740-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu38187
{
	width: 0.01px;
	margin-top: -634px;
}

#u38187
{
	z-index: 2;
	width: 749px;
	padding-left: 42px;
	padding-top: 450px;
	padding-right: 45px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u38182-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38181-4
{
	z-index: 7;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#u38202
{
	z-index: 11;
	width: 51px;
	height: 50px;
	margin-left: 698px;
	margin-top: 16px;
}

#u41968-4
{
	z-index: 80;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 35px;
}

#u41966-5
{
	z-index: 84;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 458px;
	left: 35px;
}

#u41966
{
	font-weight: bold;
}

#u41966-2
{
	font-weight: normal;
}

#u41967
{
	z-index: 90;
	position: relative;
	width: 217px;
	margin-right: -10000px;
	margin-top: 460px;
	left: 35px;
}

#u41967_states
{
	height: 18px;
	width: 217px;
	vertical-align: top;
	background: url("../images/u41967_states.png") no-repeat 0px 0px;
}

#u41967:hover #u41967_states
{
	background: url("../images/u41967_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

