.version.blackacorn /* version checker */
{
	color: #0000EB;
	background-color: #E35001;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 1000px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu44238
{
	z-index: 6;
	width: 0.01px;
	height: 942px;
	margin-right: -10000px;
	margin-top: 58px;
}

#u44249popup
{
	z-index: 7;
}

#u44249
{
	width: 836px;
	height: 890px;
	top: -4px;
	left: 58px;
}

#u44250
{
	z-index: 8;
	width: 828px;
	height: 882px;
	margin-right: -10000px;
}

#u44247-3popup
{
	z-index: 9;
}

#u44247-3
{
	width: 38px;
	min-height: 922px;
	padding: 10px;
}

#u44246-3popup
{
	z-index: 12;
}

#u44246-3
{
	width: 38px;
	min-height: 921px;
	padding: 10px;
	top: 1px;
	left: 895px;
}

#slideshowu46231
{
	z-index: 61;
	width: 0.01px;
	height: 942px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
}

#u46234
{
	position: absolute;
	width: 828px;
	height: 881px;
	background-color: transparent;
	left: 63px;
}

#u46234popup
{
	z-index: 62;
}

#u46287
{
	z-index: 63;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u49303
{
	z-index: 65;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u49303_img
{
	margin-left: -26px;
	margin-right: -26px;
}

#u49312
{
	z-index: 67;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46287_clip,#u49303_clip,#u49312_clip
{
	overflow: hidden;
	width: 828px;
	height: 881px;
}

#u46287_img,#u49312_img
{
	margin-left: -26px;
	margin-right: -27px;
}

#u46232-3
{
	position: absolute;
	width: 203px;
	min-height: 922px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u46232-3popup
{
	z-index: 69;
}

#u46249-3
{
	position: absolute;
	width: 203px;
	min-height: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 730px;
}

#u46249-3popup
{
	z-index: 72;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#ppmenuu48413
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 58px;
}

#pmenuu48413
{
	width: 0.01px;
}

#menuu48413
{
	z-index: 18;
	width: 203px;
	margin-right: -10000px;
}

#u48414
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u48424
{
	width: 66px;
	padding-bottom: 20px;
}

#u48424:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48424:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48425-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48424:hover #u48425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48424:active #u48425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48418
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48418:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48418:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48442
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u48452
{
	width: 66px;
	padding-bottom: 20px;
}

#u48424.MuseMenuActive,#u48452:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48452:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48452.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48453-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48424.MuseMenuActive #u48425-4,#u48452:hover #u48453-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48452:active #u48453-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48452.MuseMenuActive #u48453-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48416,#u48417,#u48444
{
	width: 120px;
}

#u48444:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u48446
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48418.MuseMenuActive,#u48446:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48419-4,#u48447-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u48428
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u48438
{
	width: 67px;
	padding-bottom: 20px;
}

#u48438:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48438:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48438.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48439-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48438:hover #u48439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48438:active #u48439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48438.MuseMenuActive #u48439-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48415,#u48443,#u48429
{
	width: 120px;
	top: 39px;
}

#u48445,#u48430,#u48431
{
	width: 120px;
}

#u48434
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u48446.MuseMenuActive,#u48434:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48434:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48434.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48436-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u46252-3
{
	z-index: 95;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 611px;
}

#pu44180
{
	width: 0.01px;
	margin-top: 10px;
}

#u44180
{
	z-index: 2;
	width: 836px;
	height: 880px;
	margin-right: -10000px;
}

#u44224
{
	z-index: 16;
	width: 837px;
	margin-right: -10000px;
	margin-top: 780px;
}

#u44224_states
{
	height: 104px;
	width: 837px;
}

#u46253-12
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 778px;
	left: 182px;
}

#pu44179-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 964px;
}

#u44179-3
{
	z-index: 3;
	width: 450px;
	min-height: 881px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 5px;
}

#u46254-8
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 16px;
}

#u48890
{
	z-index: 98;
	width: 532px;
	height: 941px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u48890:hover
{
	background-color: transparent;
	width: 532px;
	height: 941px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u48890:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

