.version.bouquet /* version checker */
{
	color: #000013;
	background-color: #B6A426;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 635px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -216px;
	padding-bottom: 33px;
}

#pu7897
{
	width: 0.01px;
	margin-left: -284px;
}

#u7897,#u7897-bw
{
	z-index: 2;
	height: 215px;
}

#u7929-4
{
	z-index: 3;
	width: 942px;
	min-height: 133px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 293px;
}

#u7929-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	margin: 7px -10000px 0px 0px;
}

#u7898
{
	z-index: 7;
	width: 911px;
	height: 7px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 307px;
}

#menuu7899
{
	z-index: 8;
	width: 1219px;
	margin-right: -10000px;
	margin-top: 173px;
}

#u7907
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
}

#u7908
{
	width: 303px;
	padding-bottom: 15px;
}

#u7908:hover
{
	margin: 0px;
}

#u7914
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u7917
{
	width: 303px;
	padding-bottom: 15px;
}

#u7908.MuseMenuActive,#u7917:hover
{
	margin: 0px;
}

#u7900
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 610px;
}

#u7903
{
	width: 303px;
	padding-bottom: 15px;
}

#u7917.MuseMenuActive,#u7903:hover
{
	margin: 0px;
}

#u7910,#u7919,#u7906
{
	height: 19px;
	width: 303px;
	margin-right: -10000px;
	top: 7px;
}

#u7921
{
	width: 304px;
	min-height: 34px;
	margin-right: -10000px;
	left: 915px;
}

#u7922
{
	width: 304px;
	padding-bottom: 15px;
}

#u7903.MuseMenuActive,#u7922:hover
{
	margin: 0px;
}

#u7922.MuseMenuActive
{
	margin: 0px;
}

#u7923
{
	height: 19px;
	width: 304px;
	margin-right: -10000px;
	top: 7px;
}

#pu7928-3
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 77px;
}

#u7928-3
{
	z-index: 30;
	width: 5px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 107px;
}

#menuu7930
{
	z-index: 33;
	width: 112px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u7938
{
	width: 112px;
}

#u7941
{
	width: 112px;
	min-height: 41px;
	margin-right: -10000px;
}

#u7943-4
{
	width: 112px;
	min-height: 20px;
}

#u7941:hover #u7943-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7975
{
	width: 112px;
	margin-top: 23px;
}

#u7981-4
{
	width: 112px;
	min-height: 20px;
}

#u7941.MuseMenuActive #u7943-4,#u7978:hover #u7981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u8005
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8005:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8012
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8005.MuseMenuActive,#u8012:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8028
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8012.MuseMenuActive,#u8028:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8007-4,#u8013-4,#u8031-4
{
	width: 110px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u7989
{
	width: 112px;
	margin-top: 24px;
}

#u7978,#u7990
{
	width: 112px;
	min-height: 42px;
	margin-right: -10000px;
}

#u7993-4
{
	width: 112px;
	min-height: 20px;
}

#u7978.MuseMenuActive #u7981-4,#u7990:hover #u7993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7990.MuseMenuActive #u7993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7976,#u7994
{
	width: 120px;
	left: 112px;
}

#u8035
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8028.MuseMenuActive,#u8035:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8042
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8035.MuseMenuActive,#u8042:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7977,#u8004,#u8011,#u8027,#u7995,#u8034,#u8041,#u8048
{
	width: 120px;
}

#u8049
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8042.MuseMenuActive,#u8049:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8049.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8037-4,#u8044-4,#u8051-4
{
	width: 110px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u7996-3
{
	z-index: 92;
	width: 5px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 20px;
}

#u9168
{
	z-index: 112;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 250px;
	background: transparent url("../images/thumbnail-u9168-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u9170
{
	z-index: 113;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 597px;
	background: transparent url("../images/thumbnail-u8134-fr.jpg") no-repeat left top;
	background-size: contain;
}

#pu9165-4
{
	width: 0.01px;
	margin-left: 306px;
	margin-top: 26px;
}

#u9165-4
{
	z-index: 101;
	width: 195px;
	min-height: 47px;
	letter-spacing: 2px;
	color: #5B5B5B;
	font-size: 19px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u9161-6
{
	z-index: 105;
	width: 195px;
	min-height: 47px;
	color: #5B5B5B;
	font-size: 18px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u9248-3
{
	z-index: 145;
	width: 5px;
	margin-left: 456px;
	position: relative;
}

#pu9162
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 30px;
}

#u9162
{
	z-index: 120;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail-u8137-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u9173
{
	z-index: 127;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 312px;
	background: transparent url("../images/thumbnail-u8139-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u9164
{
	z-index: 134;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 618px;
	background: transparent url("../images/thumbnail-u8141-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u9173:hover,#u9164:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 4px -10000px 0px 0px;
	background-size: contain;
}

#pu9167-6
{
	width: 0.01px;
	margin-left: 88px;
	margin-top: 28px;
}

#u9167-6
{
	z-index: 114;
	width: 195px;
	min-height: 47px;
	color: #5B5B5B;
	font-size: 18px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u9163-6
{
	z-index: 135;
	width: 195px;
	min-height: 47px;
	color: #5B5B5B;
	font-size: 18px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 308px;
}

#u9160-6
{
	z-index: 128;
	width: 195px;
	min-height: 47px;
	color: #5B5B5B;
	font-size: 18px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 617px;
}

#pu9174
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 68px;
}

#u9174
{
	z-index: 141;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail-u8143-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u9166
{
	z-index: 111;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
	background: transparent url("../images/thumbnail-u8120-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u9168:hover,#u9170:hover,#u9162:hover,#u9174:hover,#u9166:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u9172-3
{
	z-index: 142;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 1074px;
}

#pu9171-6
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 28px;
}

#u9171-6
{
	z-index: 121;
	width: 195px;
	min-height: 47px;
	color: #5B5B5B;
	font-size: 18px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u9169-6
{
	z-index: 95;
	width: 195px;
	min-height: 47px;
	font-size: 18px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 316px;
}

#u9169-4
{
	color: #5B5B5B;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 216px;
}

#page .verticalspacer
{
	clear: both;
}

