.version.bouquet /* version checker */
{
	color: #0000F4;
	background-color: #08FECF;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 635px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 33px;
}

#pu6777
{
	width: 0.01px;
	margin-left: -100px;
}

#u6777,#u6777-bw
{
	z-index: 2;
	height: 215px;
}

#u6741
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u6741_states
{
	height: 184px;
	width: 193px;
}

#u10922-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu11175
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u11175,#u11175-bw
{
	z-index: 12;
	height: 52px;
}

#menuu11924
{
	z-index: 13;
	width: 1044px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 123px;
}

#u11925
{
	width: 259px;
	min-height: 34px;
	margin-right: -10000px;
}

#u11928
{
	width: 259px;
	padding-bottom: 12px;
}

#u11960
{
	width: 259px;
	min-height: 34px;
	margin-right: -10000px;
	left: 261px;
}

#u11963
{
	width: 259px;
	padding-bottom: 12px;
}

#u11930,#u11964
{
	height: 22px;
	width: 259px;
	margin-right: -10000px;
	top: 6px;
}

#u11961
{
	width: 281px;
	top: 34px;
}

#u11982
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11982:hover
{
	margin: 0px -10000px 0px 0px;
}

#u11984-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11982:hover #u11984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11994
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11982.MuseMenuActive,#u11994:hover
{
	margin: 0px -10000px 0px 0px;
}

#u11997-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11982.MuseMenuActive #u11984-4,#u11994:hover #u11997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11962,#u11981,#u11993,#u12000
{
	width: 281px;
}

#u12001
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11994.MuseMenuActive,#u12001:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12001.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12003-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11994.MuseMenuActive #u11997-4,#u12001:hover #u12003-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11967
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 522px;
}

#u11968
{
	width: 260px;
	padding-bottom: 12px;
}

#u11972
{
	width: 276px;
	top: 34px;
}

#u12022
{
	width: 275px;
}

#u12023
{
	width: 273px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12023:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12025-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12001.MuseMenuActive #u12003-4,#u12023:hover #u12025-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11973,#u12032
{
	width: 276px;
}

#u12033
{
	width: 274px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12033:hover
{
	width: 275px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12033.MuseMenuActive
{
	width: 275px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12035-4
{
	width: 267px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#u12023.MuseMenuActive #u12025-4,#u12033:hover #u12035-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12039
{
	width: 275px;
	top: -1px;
	margin-bottom: -1px;
}

#u12040
{
	width: 273px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12023.MuseMenuActive,#u12040:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12040.MuseMenuActive
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12043-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12033.MuseMenuActive #u12035-4,#u12040:hover #u12043-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12040.MuseMenuActive #u12043-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11974
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 784px;
}

#u11977
{
	width: 260px;
	padding-bottom: 12px;
}

#u11928.MuseMenuActive,#u11963.MuseMenuActive,#u11968.MuseMenuActive,#u11977.MuseMenuActive
{
	margin: 0px;
}

#u11971,#u11980
{
	height: 22px;
	width: 260px;
	margin-right: -10000px;
	top: 6px;
}

#pu6743-3
{
	width: 0.01px;
	margin-left: 130px;
	margin-top: 111px;
}

#u6743-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 24px;
}

#u9168
{
	z-index: 80;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
	background: transparent url("../images/thumbnail-u9168-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u14504
{
	z-index: 91;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 521px;
	background: transparent url("../images/thumbnail-u14504-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u9168:hover,#u14504:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#pu9165-4
{
	width: 0.01px;
	margin-left: 306px;
	margin-top: 26px;
}

#u9165-4
{
	z-index: 76;
	width: 195px;
	min-height: 47px;
	letter-spacing: 2px;
	color: #5B5B5B;
	font-size: 19px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u14503-4
{
	z-index: 87;
	width: 261px;
	min-height: 47px;
	letter-spacing: 2px;
	color: #5B5B5B;
	font-size: 19px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u9248-3
{
	z-index: 84;
	width: 5px;
	margin-left: 456px;
	position: relative;
}

#u9172-3
{
	z-index: 81;
	width: 5px;
	margin-left: 1128px;
	margin-top: 530px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

