.version.carnation_halo /* version checker */
{
	color: #000008;
	background-color: #D08D6E;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 875.6500000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -216px;
	padding-bottom: 48px;
}

#pu7897
{
	width: 0.01px;
	margin-left: -284px;
}

#u7897,#u7897-bw
{
	z-index: 2;
	height: 215px;
}

#u7929-4
{
	z-index: 3;
	width: 942px;
	min-height: 133px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 293px;
}

#u7929-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	margin: 7px -10000px 0px 0px;
}

#u7898
{
	z-index: 7;
	width: 911px;
	height: 7px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 307px;
}

#menuu7899
{
	z-index: 8;
	width: 1219px;
	margin-right: -10000px;
	margin-top: 173px;
}

#u7907
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
}

#u7908
{
	width: 303px;
	padding-bottom: 15px;
}

#u7908:hover
{
	margin: 0px;
}

#u7914
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u7917
{
	width: 303px;
	padding-bottom: 15px;
}

#u7908.MuseMenuActive,#u7917:hover
{
	margin: 0px;
}

#u7900
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 610px;
}

#u7903
{
	width: 303px;
	padding-bottom: 15px;
}

#u7917.MuseMenuActive,#u7903:hover
{
	margin: 0px;
}

#u7910,#u7919,#u7906
{
	height: 19px;
	width: 303px;
	margin-right: -10000px;
	top: 7px;
}

#u7921
{
	width: 304px;
	min-height: 34px;
	margin-right: -10000px;
	left: 915px;
}

#u7922
{
	width: 304px;
	padding-bottom: 15px;
}

#u7903.MuseMenuActive,#u7922:hover
{
	margin: 0px;
}

#u7922.MuseMenuActive
{
	margin: 0px;
}

#u7923
{
	height: 19px;
	width: 304px;
	margin-right: -10000px;
	top: 7px;
}

#slideshowu8212
{
	z-index: 95;
	width: 0.01px;
	height: 778px;
	margin-left: 102px;
	margin-top: 51px;
	position: relative;
}

#u8233
{
	position: absolute;
	width: 444px;
	height: 582px;
	background-color: transparent;
	left: 41px;
}

#u8233popup
{
	z-index: 96;
}

#u8279
{
	z-index: 97;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8288
{
	z-index: 99;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8297
{
	z-index: 101;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8306
{
	z-index: 103;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8279_img,#u8288_img,#u8297_img,#u8306_img
{
	padding-bottom: 1px;
}

#u8223
{
	position: absolute;
	width: 394px;
	top: 604px;
	left: 65px;
}

#u8223popup
{
	z-index: 105;
}

#u8282
{
	z-index: 106;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8291
{
	z-index: 108;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u8300
{
	z-index: 110;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u8309
{
	z-index: 112;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u8282.SSSlideLinkSelected,#u8291.SSSlideLinkSelected,#u8300.SSSlideLinkSelected,#u8309.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u8246-4
{
	z-index: 114;
	width: 312px;
	min-height: 36px;
	font-size: 22px;
	letter-spacing: 5px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 627px;
	top: -778px;
	margin-bottom: -36px;
	position: relative;
}

#ppu8243-16
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: -748px;
}

#pu8243-16
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 604px;
}

#u8243-16
{
	z-index: 118;
	width: 302px;
	min-height: 360px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u8243-2
{
	font-size: 21px;
	text-align: left;
	font-style: italic;
}

#u8243-4
{
	font-size: 21px;
	text-align: left;
	color: #E21E79;
}

#u8243-8,#u8243-10
{
	font-size: 18px;
	letter-spacing: 1px;
}

#u8243-5,#u8243-6,#u8243-11,#u8243-12,#u8243-13,#u8243-14
{
	font-size: 21px;
}

#u8957
{
	z-index: 134;
	width: 77px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 83px;
}

#u8959
{
	z-index: 135;
	width: 44px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 170px;
}

#u8961
{
	z-index: 136;
	width: 77px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
}

#u7928-3
{
	z-index: 30;
	width: 5px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 107px;
}

#menuu7930
{
	z-index: 33;
	width: 112px;
	margin-right: -10000px;
}

#u7938
{
	width: 112px;
}

#u7941
{
	width: 112px;
	min-height: 41px;
	margin-right: -10000px;
}

#u7943-4
{
	width: 112px;
	min-height: 20px;
}

#u7941:hover #u7943-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7975
{
	width: 112px;
	margin-top: 23px;
}

#u7981-4
{
	width: 112px;
	min-height: 20px;
}

#u7941.MuseMenuActive #u7943-4,#u7978:hover #u7981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u8005
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8005:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8012
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8005.MuseMenuActive,#u8012:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8028
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8012.MuseMenuActive,#u8028:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8007-4,#u8013-4,#u8031-4
{
	width: 110px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u7989
{
	width: 112px;
	margin-top: 24px;
}

#u7978,#u7990
{
	width: 112px;
	min-height: 42px;
	margin-right: -10000px;
}

#u7993-4
{
	width: 112px;
	min-height: 20px;
}

#u7978.MuseMenuActive #u7981-4,#u7990:hover #u7993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7990.MuseMenuActive #u7993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7976,#u7994
{
	width: 120px;
	left: 112px;
}

#u8035
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8028.MuseMenuActive,#u8035:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8042
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8035.MuseMenuActive,#u8042:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7977,#u8004,#u8011,#u8027,#u7995,#u8034,#u8041,#u8048
{
	width: 120px;
}

#u8049
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8042.MuseMenuActive,#u8049:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8049.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8037-4,#u8044-4,#u8051-4
{
	width: 110px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u7996-3
{
	z-index: 92;
	width: 5px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 216px;
}

#page .verticalspacer
{
	clear: both;
}

