.version.contact /* version checker */
{
	color: #000015;
	background-color: #FE6EDB;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 650px;
	min-height: 858px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 245px 179px 58px;
}

#menuu36245
{
	z-index: 2;
	width: 105px;
}

#u36246
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u36247
{
	width: 51px;
	padding-bottom: 22px;
}

#u36247:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36247:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36247.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36248-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u36247:hover #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36247:active #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36247.MuseMenuActive #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36253
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u36254
{
	width: 52px;
	padding-bottom: 22px;
}

#u36254:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36254:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36254.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36257-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u36254:hover #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u36254:active #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u36254.MuseMenuActive #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#pu5862
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 41px;
}

#u5862
{
	z-index: 15;
	width: 532px;
	min-height: 783px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u38092-16
{
	z-index: 16;
	width: 261px;
	min-height: 185px;
	background-color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u38092-2
{
	font-weight: bold;
}

#u38093-13
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 261px;
}

#u38094-6
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 27px;
}

#u38095-6
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 27px;
}

#u38096-6
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 317px;
	left: 27px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

