.version.crown /* version checker */
{
	color: #000004;
	background-color: #6C2C5C;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 3107.85px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 1191px;
	width: 0.01px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u28793-6
{
	z-index: 53;
	width: 360px;
	min-height: 125px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 455px;
}

#u28793-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 125px;
	width: 360px;
	margin: 23px -10000px 0px 0px;
}

#pu12901,#pu12900
{
	width: 0.01px;
	margin-left: -100px;
}

#u12900
{
	z-index: 6;
	height: 52px;
}

.ie #u12900
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12900-bw
{
	z-index: 6;
	height: 52px;
}

#menuu12806
{
	z-index: 7;
	width: 1015px;
	margin-right: -10000px;
	left: 100px;
}

#u12842
{
	width: 248px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 248px;
	padding-bottom: 28px;
}

#u12843:hover
{
	width: 248px;
	min-height: 0px;
	margin: 0px;
}

#u12843.MuseMenuActive
{
	width: 248px;
	min-height: 0px;
	margin: 0px;
}

#u12845-4
{
	width: 100px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12843:hover #u12845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u12843.MuseMenuActive #u12845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u12814
{
	width: 280px;
	min-height: 52px;
	margin-right: -10000px;
	left: 250px;
}

#u12838
{
	width: 280px;
	padding-bottom: 28px;
}

#u12838.MuseMenuActive
{
	width: 280px;
	min-height: 0px;
	margin: 0px;
}

#u12841-4
{
	width: 132px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12838:hover #u12841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u12838.MuseMenuActive #u12841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u12825.MuseMenuActive #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u12832.MuseMenuActive #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 218px;
	min-height: 52px;
	margin-right: -10000px;
	left: 532px;
}

#u12873
{
	width: 218px;
	padding-bottom: 28px;
}

#u12873.MuseMenuActive
{
	width: 218px;
	min-height: 0px;
	margin: 0px;
}

#u12876-4
{
	width: 70px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12873:hover #u12876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u12873.MuseMenuActive #u12876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 263px;
	min-height: 52px;
	margin-right: -10000px;
	left: 752px;
}

#u12810
{
	width: 263px;
	padding-bottom: 28px;
}

#u12810.MuseMenuActive
{
	width: 263px;
	min-height: 0px;
	margin: 0px;
}

#u12812-4
{
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12810:hover #u12812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u12810.MuseMenuActive #u12812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#pu12903-3
{
	width: 0.01px;
	margin-left: 130px;
	margin-top: 80px;
}

#u12903-3
{
	z-index: 3;
	width: 5px;
	margin-right: -10000px;
	margin-top: 55px;
}

#u21497-6
{
	z-index: 74;
	width: 412px;
	min-height: 450px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 247px;
}

#u21497-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 450px;
	width: 412px;
	margin: 26px -10000px 0px 0px;
}

#u21497-6:hover p
{
	text-align: center;
}

#u21497-2
{
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u22579-19
{
	z-index: 80;
	width: 581px;
	min-height: 581px;
	border-color: #DCDFE1;
	line-height: 1.31;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 115px;
	background: #D2D6DC url("../images/dsc03870.jpg") no-repeat center center;
	background-size: cover;
}

#u22579-19:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 581px;
	width: 581px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#pu24893-3
{
	width: 0.01px;
	margin-left: 70px;
}

#u24893-3
{
	z-index: 109;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u24894-4
{
	z-index: 112;
	width: 580px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 2.17;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u24894
{
	color: #000000;
}

#u24891-3
{
	z-index: 106;
	width: 5px;
	background-color: transparent;
	margin-left: 251px;
	margin-top: 5px;
	position: relative;
}

#u26312
{
	z-index: 178;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	margin-left: 465px;
	margin-top: 125px;
	position: relative;
	background: transparent url("../images/62.jpg") no-repeat center center;
	background-size: cover;
}

#u26312:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 125px 0px 0px 465px;
	background-size: cover;
}

#ppu25972
{
	width: 0.01px;
	margin-left: 244px;
	margin-top: -4px;
}

#pu25972
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
}

#u25972
{
	z-index: 168;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	margin-left: 3px;
	position: relative;
	background: transparent url("../images/5-u25972-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u25972:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 0px 0px 0px 3px;
	background-size: cover;
}

#u25973-4
{
	z-index: 169;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 2px;
	position: relative;
}

#u8133
{
	z-index: 69;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	margin-top: 19px;
	position: relative;
	background: transparent url("../images/32.jpg") no-repeat center center;
	background-size: cover;
}

#u8133:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 19px 0px 0px;
	background-size: cover;
}

#u12906
{
	z-index: 52;
	width: 601px;
	margin-right: -10000px;
	left: 165px;
}

#pu13816
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 50px -10000px -36px 55px;
}

#u13816
{
	z-index: 63;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/7.gif") no-repeat center center;
	background-size: cover;
}

#u13816:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u13812
{
	z-index: 62;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	margin-top: 42px;
	position: relative;
	background: transparent url("../images/thumbnail1.jpg") no-repeat center center;
	background-size: cover;
}

#u13812:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 42px 0px 0px;
	background-size: cover;
}

#pu13808
{
	width: 0.01px;
	margin: 50px -10000px -36px 275px;
}

#u13808
{
	z-index: 60;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/thumbnail.jpg") no-repeat left top;
	background-size: cover;
}

#u13808:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u13814
{
	z-index: 61;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	margin-top: 42px;
	position: relative;
	background: transparent url("../images/thumbnail2.jpg") no-repeat center bottom;
	background-size: cover;
}

#u13814:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 42px 0px 0px;
	background-size: cover;
}

#u8989-3
{
	z-index: 71;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 884px;
}

#u24896-4
{
	z-index: 120;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 220px;
}

#u24897-4
{
	z-index: 124;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 441px;
}

#u26313-4
{
	z-index: 179;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 220px;
}

#u24898-4
{
	z-index: 128;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u24899-4
{
	z-index: 132;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u24900-4
{
	z-index: 136;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 443px;
}

#u8143
{
	z-index: 68;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail3.jpg") no-repeat left top;
	background-size: contain;
}

#u8143:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u13810
{
	z-index: 59;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 220px;
	background: transparent url("../images/thumbnail4.jpg") no-repeat left top;
	background-size: cover;
}

#u8120
{
	z-index: 66;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
	background: transparent url("../images/thumbnail5.jpg") no-repeat left top;
	background-size: cover;
}

#u24901-4
{
	z-index: 140;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u24902-4
{
	z-index: 144;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u24903-4
{
	z-index: 148;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 443px;
}

#pu8143,#pu8139
{
	width: 0.01px;
	margin-left: 244px;
	margin-top: 20px;
}

#u8139
{
	z-index: 70;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail6.jpg") no-repeat left top;
	background-size: cover;
}

#u8137
{
	z-index: 67;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 220px;
	background: transparent url("../images/thumbnail7.jpg") no-repeat left top;
	background-size: cover;
}

#u8134
{
	z-index: 65;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
	background: transparent url("../images/52.jpg") no-repeat right bottom;
	background-size: cover;
}

#u8134:hover
{
	background-repeat: no-repeat;
	background-position: right bottom;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#pu24898-4,#pu24901-4,#pu24904-4
{
	width: 0.01px;
	margin-left: 244px;
}

#u24904-4
{
	z-index: 152;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u24905-4
{
	z-index: 156;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u24906-4
{
	z-index: 160;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#pu22583-7
{
	width: 0.01px;
	margin-left: 247px;
	margin-top: 20px;
}

#u22583-7
{
	z-index: 99;
	width: 140px;
	min-height: 140px;
	line-height: 1.31;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/merrygroudn3.jpg") no-repeat center bottom;
	background-size: cover;
}

#u22583-7:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 140px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u22579-19:hover p,#u22583-7:hover p
{
	color: #000000;
	visibility: inherit;
}

#u22583
{
	color: #ED1C24;
}

#u22579,#u22579-2,#u22579-3,#u22579-4,#u22579-5,#u22579-6,#u22579-7,#u22579-8,#u22579-9,#u22579-10,#u22579-11,#u22579-12,#u22579-13,#u22579-14,#u22579-15,#u22579-16,#u22579-17,#u22583-3,#u22583-5
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u8141
{
	z-index: 64;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 217px;
	background: transparent url("../images/thumbnail8.jpg") no-repeat left top;
	background-size: cover;
}

#u25980
{
	z-index: 173;
	width: 140px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 439px;
	background: transparent url("../images/thumbnail9.jpg") no-repeat left top;
	background-size: cover;
}

#u13810:hover,#u8120:hover,#u8139:hover,#u8137:hover,#u8141:hover,#u25980:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 140px;
	height: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#pu24907-4
{
	width: 0.01px;
	margin-left: 251px;
}

#u24907-4
{
	z-index: 164;
	width: 135px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u24895-4
{
	z-index: 116;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u25981-4
{
	z-index: 174;
	width: 138px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 1.87;
	font-size: 11px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 435px;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

