.version.double_side_band_floral /* version checker */
{
	color: #0000E4;
	background-color: #37BBA7;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 634.6500000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 33px;
}

#pu6777
{
	width: 0.01px;
	margin-left: -100px;
}

#u6777,#u6777-bw
{
	z-index: 2;
	height: 215px;
}

#u6741
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u6741_states
{
	height: 184px;
	width: 193px;
}

#u10922-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu11175
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u11175,#u11175-bw
{
	z-index: 12;
	height: 52px;
}

#menuu11924
{
	z-index: 13;
	width: 1044px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 123px;
}

#u11925
{
	width: 259px;
	min-height: 34px;
	margin-right: -10000px;
}

#u11928
{
	width: 259px;
	padding-bottom: 12px;
}

#u11960
{
	width: 259px;
	min-height: 34px;
	margin-right: -10000px;
	left: 261px;
}

#u11963
{
	width: 259px;
	padding-bottom: 12px;
}

#u11930,#u11964
{
	height: 22px;
	width: 259px;
	margin-right: -10000px;
	top: 6px;
}

#u11961
{
	width: 281px;
	top: 34px;
}

#u11982
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11982:hover
{
	margin: 0px -10000px 0px 0px;
}

#u11984-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11982:hover #u11984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11994
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11982.MuseMenuActive,#u11994:hover
{
	margin: 0px -10000px 0px 0px;
}

#u11997-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11982.MuseMenuActive #u11984-4,#u11994:hover #u11997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11962,#u11981,#u11993,#u12000
{
	width: 281px;
}

#u12001
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11994.MuseMenuActive,#u12001:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12001.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12003-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11994.MuseMenuActive #u11997-4,#u12001:hover #u12003-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11967
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 522px;
}

#u11968
{
	width: 260px;
	padding-bottom: 12px;
}

#u11972
{
	width: 276px;
	top: 34px;
}

#u12022
{
	width: 275px;
}

#u12023
{
	width: 273px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12023:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12025-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12001.MuseMenuActive #u12003-4,#u12023:hover #u12025-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11973,#u12032
{
	width: 276px;
}

#u12033
{
	width: 274px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12033:hover
{
	width: 275px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12033.MuseMenuActive
{
	width: 275px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12035-4
{
	width: 267px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#u12023.MuseMenuActive #u12025-4,#u12033:hover #u12035-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12039
{
	width: 275px;
	top: -1px;
	margin-bottom: -1px;
}

#u12040
{
	width: 273px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12023.MuseMenuActive,#u12040:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12040.MuseMenuActive
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12043-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12033.MuseMenuActive #u12035-4,#u12040:hover #u12043-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12040.MuseMenuActive #u12043-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11974
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 784px;
}

#u11977
{
	width: 260px;
	padding-bottom: 12px;
}

#u11928.MuseMenuActive,#u11963.MuseMenuActive,#u11968.MuseMenuActive,#u11977.MuseMenuActive
{
	margin: 0px;
}

#u11971,#u11980
{
	height: 22px;
	width: 260px;
	margin-right: -10000px;
	top: 6px;
}

#slideshowu13248
{
	z-index: 76;
	width: 0.01px;
	height: 778px;
	margin-left: 102px;
	margin-top: 85px;
	position: relative;
}

#u13251
{
	position: absolute;
	width: 444px;
	height: 582px;
	background-color: transparent;
	left: 41px;
}

#u13251popup
{
	z-index: 77;
}

#u13372
{
	z-index: 78;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15943
{
	z-index: 80;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15952
{
	z-index: 82;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15961
{
	z-index: 84;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15970
{
	z-index: 86;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13262
{
	position: absolute;
	width: 495px;
	top: 604px;
	left: 14px;
}

#u13262popup
{
	z-index: 88;
}

#u13375
{
	z-index: 89;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u15946
{
	z-index: 91;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u15955
{
	z-index: 93;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u15964
{
	z-index: 95;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u15973
{
	z-index: 97;
	width: 91px;
	height: 82px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u13375.SSSlideLinkSelected,#u15946.SSSlideLinkSelected,#u15955.SSSlideLinkSelected,#u15964.SSSlideLinkSelected,#u15973.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u13288-4
{
	z-index: 99;
	width: 312px;
	min-height: 36px;
	font-size: 22px;
	letter-spacing: 5px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 627px;
	top: -778px;
	margin-bottom: -36px;
	position: relative;
}

#u6743-3
{
	z-index: 6;
	width: 5px;
	margin-left: 130px;
	top: -728px;
	margin-bottom: -17px;
}

#pu13289-16
{
	width: 0.01px;
	margin-left: 627px;
	margin-top: -702px;
}

#u13289-16
{
	z-index: 103;
	width: 302px;
	min-height: 360px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u13289-2
{
	font-size: 21px;
	text-align: left;
	font-style: italic;
}

#u13289-4
{
	font-size: 21px;
	text-align: left;
	color: #E21E79;
}

#u13289-8,#u13289-10
{
	font-size: 18px;
	letter-spacing: 1px;
}

#u13289-5,#u13289-6,#u13289-11,#u13289-12,#u13289-13,#u13289-14
{
	font-size: 21px;
}

#u13246
{
	z-index: 119;
	width: 77px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 83px;
}

#u13284
{
	z-index: 120;
	width: 44px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 170px;
}

#u13286
{
	z-index: 121;
	width: 77px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

