.version.felt /* version checker */
{
	color: #0000F8;
	background-color: #70DD1F;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 634.8499999999999px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -216px;
	padding-bottom: 426px;
}

#pu7897
{
	width: 0.01px;
	margin-left: -284px;
}

#u7897,#u7897-bw
{
	z-index: 2;
	height: 215px;
}

#u7929-4
{
	z-index: 3;
	width: 942px;
	min-height: 133px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 293px;
}

#u7929-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	margin: 7px -10000px 0px 0px;
}

#u7898
{
	z-index: 7;
	width: 911px;
	height: 7px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 307px;
}

#menuu7899
{
	z-index: 8;
	width: 1219px;
	margin-right: -10000px;
	margin-top: 173px;
}

#u7907
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
}

#u7908
{
	width: 303px;
	padding-bottom: 15px;
}

#u7908:hover
{
	margin: 0px;
}

#u7914
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u7917
{
	width: 303px;
	padding-bottom: 15px;
}

#u7908.MuseMenuActive,#u7917:hover
{
	margin: 0px;
}

#u7900
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 610px;
}

#u7903
{
	width: 303px;
	padding-bottom: 15px;
}

#u7917.MuseMenuActive,#u7903:hover
{
	margin: 0px;
}

#u7910,#u7919,#u7906
{
	height: 19px;
	width: 303px;
	margin-right: -10000px;
	top: 7px;
}

#u7921
{
	width: 304px;
	min-height: 34px;
	margin-right: -10000px;
	left: 915px;
}

#u7922
{
	width: 304px;
	padding-bottom: 15px;
}

#u7903.MuseMenuActive,#u7922:hover
{
	margin: 0px;
}

#u7922.MuseMenuActive
{
	margin: 0px;
}

#u7923
{
	height: 19px;
	width: 304px;
	margin-right: -10000px;
	top: 7px;
}

#pu7928-3
{
	width: 0.01px;
	padding-bottom: 22px;
	margin-left: 25px;
	margin-top: 81px;
}

#u7928-3
{
	z-index: 30;
	width: 5px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 105px;
}

#menuu7930
{
	z-index: 33;
	width: 112px;
	margin-right: -10000px;
}

#u7938
{
	width: 112px;
}

#u7941
{
	width: 112px;
	min-height: 41px;
	margin-right: -10000px;
}

#u7943-4
{
	width: 112px;
	min-height: 20px;
}

#u7941:hover #u7943-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7975
{
	width: 112px;
	margin-top: 23px;
}

#u7981-4
{
	width: 112px;
	min-height: 20px;
}

#u7941.MuseMenuActive #u7943-4,#u7978:hover #u7981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7976
{
	width: 120px;
	left: 112px;
}

#u8012
{
	width: 116px;
	margin-right: -10000px;
	padding: 2px 2px 4px;
}

#u8012:active
{
	margin: 0px -10000px 0px 0px;
}

#u8013-4
{
	width: 112px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u8012:hover #u8013-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u8012:active #u8013-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u8005
{
	width: 116px;
	margin-right: -10000px;
	padding: 2px 2px 4px;
}

#u8012.MuseMenuActive,#u8005:active
{
	margin: 0px -10000px 0px 0px;
}

#u8007-4
{
	width: 112px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u8012.MuseMenuActive #u8013-4,#u8005:hover #u8007-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u8005:active #u8007-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u7977,#u8011,#u8004,#u8027
{
	width: 120px;
}

#u8028
{
	width: 116px;
	margin-right: -10000px;
	padding: 2px 2px 4px;
}

#u8005.MuseMenuActive,#u8028:active
{
	margin: 0px -10000px 0px 0px;
}

#u8028.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u8031-4
{
	width: 112px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u8005.MuseMenuActive #u8007-4,#u8028:hover #u8031-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u8028:active #u8031-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u7989
{
	width: 112px;
	margin-top: 24px;
}

#u7978,#u7990
{
	width: 112px;
	min-height: 42px;
	margin-right: -10000px;
}

#u7993-4
{
	width: 112px;
	min-height: 20px;
}

#u7978.MuseMenuActive #u7981-4,#u7990:hover #u7993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7990.MuseMenuActive #u7993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7994
{
	width: 116px;
	top: 2px;
	left: 114px;
}

#u7995,#u8034
{
	width: 116px;
}

#u8037-4
{
	width: 112px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u8028.MuseMenuActive #u8031-4,#u8035:hover #u8037-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u8044-4
{
	width: 112px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u8035.MuseMenuActive #u8037-4,#u8042:hover #u8044-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u8041,#u8048
{
	width: 116px;
	margin-top: 5px;
}

#u8035,#u8042,#u8049
{
	width: 116px;
	margin-right: -10000px;
}

#u8051-4
{
	width: 112px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u8042.MuseMenuActive #u8044-4,#u8049:hover #u8051-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u8049.MuseMenuActive #u8051-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px;
}

#u7996-3
{
	z-index: 92;
	width: 5px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 18px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 216px;
}

#page .verticalspacer
{
	clear: both;
}

