.version.felt /* version checker */
{
	color: #00001A;
	background-color: #E8E4C4;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 2696px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 452px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u12879_states
{
	height: 184px;
	width: 193px;
}

#u12902-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu12900
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u12900
{
	z-index: 12;
	height: 52px;
}

.ie #u12900
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12900-bw
{
	z-index: 12;
	height: 52px;
}

#menuu12806
{
	z-index: 13;
	width: 1088px;
	margin-right: -10000px;
	left: 100px;
}

#u12842
{
	width: 276px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 276px;
	padding-bottom: 30px;
}

#u12843:hover
{
	margin: 0px;
}

#u12845
{
	height: 22px;
	width: 128px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12814
{
	width: 288px;
	min-height: 52px;
	margin-right: -10000px;
	left: 278px;
}

#u12838
{
	width: 288px;
	padding-bottom: 30px;
}

#u12841
{
	height: 22px;
	width: 141px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12825.MuseMenuActive #u12827-4,#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12832.MuseMenuActive #u12834-4,#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 249px;
	min-height: 52px;
	margin-right: -10000px;
	left: 568px;
}

#u12873
{
	width: 249px;
	padding-bottom: 30px;
}

#u12876
{
	height: 22px;
	width: 101px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12850
{
	width: 275px;
	top: 52px;
}

#u12862
{
	width: 275px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12818.MuseMenuActive,#u12862:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12864-4
{
	width: 132px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 68px;
}

#u12818.MuseMenuActive #u12820-4,#u12862:hover #u12864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12851,#u12859,#u12852
{
	width: 275px;
}

#u12855
{
	width: 275px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12862.MuseMenuActive,#u12855:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12855.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12858-4
{
	width: 84px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 92px;
}

#u12862.MuseMenuActive #u12864-4,#u12855:hover #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12855.MuseMenuActive #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 269px;
	min-height: 52px;
	margin-right: -10000px;
	left: 819px;
}

#u12810
{
	width: 269px;
	padding-bottom: 30px;
}

#u12843.MuseMenuActive,#u12838.MuseMenuActive,#u12873.MuseMenuActive,#u12810.MuseMenuActive
{
	margin: 0px;
}

#u12812
{
	height: 22px;
	width: 122px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#pu12903-3
{
	width: 0.01px;
	margin-left: 130px;
	margin-top: 81px;
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 54px;
}

#u24218
{
	z-index: 107;
	width: 306px;
	height: 352px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 224px;
	background: transparent url("../images/621-u24218-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24217-6
{
	z-index: 101;
	width: 253px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 364px;
	margin-top: 19px;
	position: relative;
}

#u22672
{
	z-index: 93;
	width: 306px;
	height: 352px;
	border-style: none;
	border-color: transparent;
	margin-left: 352px;
	margin-top: 40px;
	position: relative;
	background: transparent url("../images/4-u22672-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u22672:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 40px 0px 0px 352px;
	background-size: cover;
}

#u22671-6
{
	z-index: 87;
	width: 253px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 362px;
	margin-top: 18px;
	position: relative;
}

#u12906
{
	z-index: 72;
	width: 310px;
	margin-left: 352px;
	margin-top: 5px;
}

#u22686
{
	z-index: 100;
	width: 310px;
	height: 363px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fb3-u22686-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24218:hover,#u22686:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u22685-6
{
	z-index: 94;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 408px;
	margin-top: 19px;
	position: relative;
}

#u10298
{
	z-index: 86;
	width: 305px;
	height: 352px;
	border-style: none;
	border-color: transparent;
	margin-left: 353px;
	margin-top: 18px;
	position: relative;
	background: transparent url("../images/thumbnail-u10298-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u10298:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 18px 0px 0px 353px;
	background-size: cover;
}

#u10296-6
{
	z-index: 79;
	width: 253px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 368px;
	margin-top: 16px;
	position: relative;
}

#u10297
{
	z-index: 85;
	width: 306px;
	height: 352px;
	border-style: none;
	border-color: transparent;
	margin-left: 352px;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/thumbnail-u10297-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u10297:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 9px 0px 0px 352px;
	background-size: cover;
}

#u10295-6
{
	z-index: 73;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 407px;
	margin-top: 13px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

