.version.fine_arts /* version checker */
{
	color: #0000E1;
	background-color: #202B72;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 930px;
	min-height: 930px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 16px 107px 7px;
}

#menuu36245
{
	z-index: 2;
	width: 105px;
	margin-left: 51px;
}

#u36246
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u36247
{
	width: 51px;
	padding-bottom: 22px;
}

#u36247:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36247:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36247.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36248-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u36247:hover #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36247:active #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36247.MuseMenuActive #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36253
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u36254
{
	width: 52px;
	padding-bottom: 22px;
}

#u36254:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36254:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36254.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36257-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u36254:hover #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u36254:active #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u36254.MuseMenuActive #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u6640-3
{
	z-index: 15;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 860px;
}

#u37890
{
	z-index: 18;
	width: 749px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 48px;
	padding: 40px 44px 54px 43px;
}

#pu6640-3,#pu37892
{
	width: 0.01px;
}

#u37892
{
	z-index: 50;
	width: 207px;
	height: 222px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/millinery-u37892-fr.jpg") no-repeat right bottom;
	background-size: cover;
}

#u37894
{
	z-index: 56;
	width: 436px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 313px;
	background: #7F7F7F url("../images/history5.jpg") no-repeat center center;
	background-size: cover;
}

#u37895
{
	z-index: 57;
	width: 492px;
	height: 222px;
	position: relative;
	margin-right: -10000px;
	left: -56px;
	background: transparent url("../images/fwb_group3.jpg") no-repeat center center;
	background-size: cover;
}

#u37891-31
{
	z-index: 19;
	width: 375px;
	min-height: 455px;
	background-color: transparent;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 125px;
	position: relative;
}

#u37891-3,#u37891-11,#u37891-18
{
	line-height: 1.3;
	font-weight: bold;
}

#u37891-5,#u37891-7,#u37891-8,#u37891-9,#u37891-13,#u37891-15,#u37891-16,#u37891-20,#u37891-22,#u37891-24,#u37891-25
{
	font-size: 13px;
	line-height: 1.3;
}

#u37891-27
{
	font-size: 13px;
	line-height: 1.3;
	font-weight: bold;
}

#u37891-29
{
	font-size: 13px;
	font-weight: normal;
}

#u37893-5
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 74px;
}

#u37896-5
{
	z-index: 58;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: left;
	font-size: 15px;
	color: #5A0804;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 421px;
}

#u37896-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 421px -10000px 0px 0px;
}

#u37897-31
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 387px;
	left: 467px;
}

#u37898-5
{
	z-index: 94;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: left;
	font-size: 15px;
	color: #5A0804;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
}

#u37898-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 437px -10000px 0px 0px;
}

#u37899-5
{
	z-index: 99;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: left;
	font-size: 15px;
	color: #5A0804;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
}

#u37899-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 506px -10000px 0px 0px;
}

#u38274-5
{
	z-index: 104;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: left;
	font-size: 15px;
	color: #5A0804;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
}

#u38274-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 577px -10000px 0px 0px;
}

#u38275-5
{
	z-index: 109;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: left;
	font-size: 15px;
	color: #5A0804;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
}

#u38275-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 525px -10000px 0px 0px;
}

#u41256-5
{
	z-index: 114;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: left;
	font-size: 15px;
	color: #5A0804;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 595px;
}

#u41256-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 595px -10000px 0px 0px;
}

#u41257-5
{
	z-index: 119;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: left;
	font-size: 15px;
	color: #5A0804;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 613px;
	left: 2px;
}

#u41257-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 613px -10000px 0px 0px;
}

#u42073-5
{
	z-index: 124;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: left;
	font-size: 15px;
	color: #5A0804;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 662px;
	left: 4px;
}

#u42073-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 662px -10000px 0px 0px;
}

#u37896-5:hover p,#u37896-5:hover span,#u37898-5:hover p,#u37898-5:hover span,#u37899-5:hover p,#u37899-5:hover span,#u38274-5:hover p,#u38274-5:hover span,#u38275-5:hover p,#u38275-5:hover span,#u41256-5:hover p,#u41256-5:hover span,#u41257-5:hover p,#u41257-5:hover span,#u42073-5:hover p,#u42073-5:hover span
{
	color: #5A0804;
	visibility: inherit;
}

#u37896-3,#u37898-3,#u37899-3,#u38274-3,#u38275-3,#u41256-3,#u41257-3,#u42073-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u37896-3  span,#u37898-3  span,#u37899-3  span,#u38274-3  span,#u38275-3  span,#u41256-3  span,#u41257-3  span,#u42073-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 0.9;
}

#u37896-2,#u37898-2,#u37899-2,#u38274-2,#u38275-2,#u41256-2,#u41257-2,#u42073-2
{
	font-size: 14px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

