.version.fine_arts /* version checker */
{
	color: #0000FB;
	background-color: #8127CB;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 2695.875000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 1383px;
	width: 0.01px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u12879_states
{
	height: 198px;
	width: 193px;
}

#u12900
{
	z-index: 9;
	height: 52px;
}

.ie #u12900
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12900-bw
{
	z-index: 9;
	margin-top: 215px;
	height: 52px;
}

#menuu12806
{
	z-index: 10;
	width: 1015px;
	margin-right: -10000px;
	margin-top: 215px;
	left: 100px;
}

#u12842
{
	width: 248px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 248px;
	padding-bottom: 28px;
}

#u12843:hover
{
	width: 248px;
	min-height: 0px;
	margin: 0px;
}

#u12843.MuseMenuActive
{
	width: 248px;
	min-height: 0px;
	margin: 0px;
}

#u12845-4
{
	width: 100px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12843:hover #u12845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u12843.MuseMenuActive #u12845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u12814
{
	width: 280px;
	min-height: 52px;
	margin-right: -10000px;
	left: 250px;
}

#u12838
{
	width: 280px;
	padding-bottom: 28px;
}

#u12838.MuseMenuActive
{
	width: 280px;
	min-height: 0px;
	margin: 0px;
}

#u12841-4
{
	width: 132px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12838:hover #u12841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u12838.MuseMenuActive #u12841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u12825.MuseMenuActive #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u12832.MuseMenuActive #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 218px;
	min-height: 52px;
	margin-right: -10000px;
	left: 532px;
}

#u12873
{
	width: 218px;
	padding-bottom: 28px;
}

#u12873.MuseMenuActive
{
	width: 218px;
	min-height: 0px;
	margin: 0px;
}

#u12876-4
{
	width: 70px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12873:hover #u12876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u12873.MuseMenuActive #u12876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 263px;
	min-height: 52px;
	margin-right: -10000px;
	left: 752px;
}

#u12810
{
	width: 263px;
	padding-bottom: 28px;
}

#u12810.MuseMenuActive
{
	width: 263px;
	min-height: 0px;
	margin: 0px;
}

#u12812-4
{
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12810:hover #u12812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u12810.MuseMenuActive #u12812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#pu12903-3
{
	width: 0.01px;
	margin-left: 130px;
	margin-top: 92px;
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 43px;
}

#u4756
{
	z-index: 72;
	width: 362px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 197px;
	background: transparent url("../images/uwt.jpg") no-repeat center bottom;
	background-size: cover;
}

#u4756:hover
{
	width: 362px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #FFECA3 url("../images/uwt.jpg") no-repeat center bottom;
	background-size: cover;
}

#u16879-4
{
	z-index: 92;
	width: 360px;
	min-height: 95px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: -32px;
}

#u16879-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -32px -10001px -10px 0px;
}

#u16879-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -32px -10001px -10px 0px;
}

#u16879-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u6640-3
{
	z-index: 96;
	width: 5px;
	background-color: transparent;
	margin-left: 867px;
	margin-top: 32px;
	position: relative;
}

#pu7186
{
	width: 0.01px;
	margin-left: 326px;
}

#u7186
{
	z-index: 71;
	width: 362px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	background: transparent url("../images/txt1.jpg") no-repeat center bottom;
}

#u7186.MuseLinkActive
{
	background-repeat: no-repeat;
	background-position: center bottom;
	border-style: none;
	border-color: #000000;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	width: 362px;
	height: 54px;
	min-height: 0px;
	margin: 31px -10000px 0px 0px;
	background-size: cover;
}

#u16882-4
{
	z-index: 88;
	width: 360px;
	min-height: 95px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u16882-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: 0px -10001px -1px 0px;
}

#u16882-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: 0px -10001px -1px 0px;
}

#u16879-4:active p,#u16882-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u7205
{
	z-index: 58;
	width: 362px;
	border-style: none;
	border-color: transparent;
	margin-left: 327px;
	margin-top: 72px;
	position: relative;
	background: transparent url("../images/txt2.jpg") no-repeat center bottom;
	background-size: cover;
}

#u7205:hover
{
	width: 362px;
	min-height: 0px;
	margin: 72px 0px 0px 327px;
	background: #FEFFFF url("../images/txt2.jpg") no-repeat center bottom;
	background-size: cover;
}

#u16883-4
{
	z-index: 67;
	width: 360px;
	min-height: 95px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -13px;
	position: relative;
	margin-right: -10000px;
	margin-top: -26px;
}

#u16883-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -26px -10001px -14px 0px;
}

#u16882-4:active p,#u16883-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u7162
{
	z-index: 57;
	width: 362px;
	border-style: none;
	border-color: transparent;
	margin-left: 326px;
	margin-top: 86px;
	position: relative;
	background: transparent url("../images/drw.jpg") no-repeat left top;
}

#u7162.MuseLinkActive
{
	width: 362px;
	min-height: 0px;
	margin: 86px 0px 0px 326px;
	background: transparent url("../images/drw.jpg") no-repeat center bottom;
	background-size: cover;
}

#u16885-4
{
	z-index: 63;
	width: 360px;
	min-height: 95px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -13px;
	position: relative;
	margin-right: -10000px;
	margin-top: -26px;
	left: 3px;
}

#u16883-4:active,#u16885-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -26px -10001px -14px 0px;
}

#u16885-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -26px -10001px -14px 0px;
}

#u16883-4:active p,#u16885-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u5557
{
	z-index: 56;
	width: 362px;
	border-style: none;
	border-color: transparent;
	margin-left: 327px;
	margin-top: 88px;
	position: relative;
	background: transparent url("../images/mca.jpg") no-repeat left top;
	background-size: cover;
}

#u5557:hover
{
	width: 362px;
	min-height: 0px;
	margin: 88px 0px 0px 327px;
	background: #D2CCC8 url("../images/mca.jpg") no-repeat left top;
	background-size: cover;
}

#u16886-4
{
	z-index: 59;
	width: 360px;
	min-height: 95px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -30px;
}

#u16886-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -30px -10001px -11px 0px;
}

#u16886-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -30px -10001px -11px 0px;
}

#u16885-4:active p,#u16886-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u7176
{
	z-index: 75;
	width: 361px;
	border-style: none;
	border-color: transparent;
	margin-left: 327px;
	margin-top: 86px;
	position: relative;
	background: transparent url("../images/sptdw.jpg") no-repeat left top;
}

#u7176.MuseLinkActive
{
	width: 361px;
	min-height: 0px;
	margin: 86px 0px 0px 327px;
	background: transparent url("../images/history2.jpg") no-repeat center bottom;
	background-size: cover;
}

#u16887-4
{
	z-index: 84;
	width: 360px;
	min-height: 95px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: -29px;
}

#u16887-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -29px -10001px -12px 0px;
}

#u16887-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -29px -10001px -12px 0px;
}

#u16886-4:active p,#u16887-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#pu12906
{
	width: 0.01px;
	margin-left: 327px;
	margin-top: 88px;
}

#u12906
{
	z-index: 55;
	width: 601px;
	padding-bottom: 192px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 83px;
}

#u6634
{
	z-index: 73;
	width: 362px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: -83px;
	background: transparent url("../images/hdl.jpg") no-repeat center bottom;
	background-size: cover;
}

#u6634:hover
{
	width: 362px;
	min-height: 0px;
	margin: 89px -10000px 0px 0px;
	background: #5BC0DD url("../images/hdl.jpg") no-repeat center bottom;
	background-size: cover;
}

#u16889-4
{
	z-index: 76;
	width: 360px;
	min-height: 95px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -20px;
	position: relative;
	margin-right: -10000px;
	margin-top: -20px;
}

#u16889-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -20px -10001px -21px 0px;
}

#u16889-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -20px -10001px -21px 0px;
}

#u16887-4:active p,#u16889-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u7169
{
	z-index: 74;
	width: 362px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/txt3.jpg") no-repeat center bottom;
	background-size: cover;
}

#u7169:hover
{
	width: 362px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/txt3.jpg") no-repeat center bottom;
	background-size: cover;
}

#u16888-4
{
	z-index: 80;
	width: 360px;
	min-height: 95px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: -32px;
}

#u16888-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -32px -10001px -11px 0px;
}

#u16888-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 359px;
	margin: -32px -10001px -11px 0px;
}

#u16889-4:active p,#u16888-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u16888-4:active p
{
	color: #000000;
	visibility: inherit;
}

#u16879-2,#u16882-2,#u16883-2,#u16885-2,#u16886-2,#u16887-2,#u16889-2,#u16888-2
{
	visibility: hidden;/* 100% transparent text is hidden */
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

