.version.floral_corwn /* version checker */
{
	color: #0000E7;
	background-color: #F3CB8D;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 3107.5000000000005px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 39px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u12879_states
{
	height: 184px;
	width: 193px;
}

#u12902-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu12900
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u12900
{
	z-index: 12;
	height: 52px;
}

.ie #u12900
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12900-bw
{
	z-index: 12;
	height: 52px;
}

#menuu12806
{
	z-index: 13;
	width: 1088px;
	margin-right: -10000px;
	left: 100px;
}

#u12842
{
	width: 276px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 276px;
	padding-bottom: 30px;
}

#u12843:hover
{
	margin: 0px;
}

#u12845
{
	height: 22px;
	width: 128px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12814
{
	width: 288px;
	min-height: 52px;
	margin-right: -10000px;
	left: 278px;
}

#u12838
{
	width: 288px;
	padding-bottom: 30px;
}

#u12841
{
	height: 22px;
	width: 141px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12825.MuseMenuActive #u12827-4,#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12832.MuseMenuActive #u12834-4,#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 249px;
	min-height: 52px;
	margin-right: -10000px;
	left: 568px;
}

#u12873
{
	width: 249px;
	padding-bottom: 30px;
}

#u12876
{
	height: 22px;
	width: 101px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12850
{
	width: 275px;
	top: 52px;
}

#u12862
{
	width: 275px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12818.MuseMenuActive,#u12862:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12864-4
{
	width: 132px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 68px;
}

#u12818.MuseMenuActive #u12820-4,#u12862:hover #u12864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12851,#u12859,#u12852
{
	width: 275px;
}

#u12855
{
	width: 275px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12862.MuseMenuActive,#u12855:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12855.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12858-4
{
	width: 84px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 92px;
}

#u12862.MuseMenuActive #u12864-4,#u12855:hover #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12855.MuseMenuActive #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 269px;
	min-height: 52px;
	margin-right: -10000px;
	left: 819px;
}

#u12810
{
	width: 269px;
	padding-bottom: 30px;
}

#u12843.MuseMenuActive,#u12838.MuseMenuActive,#u12873.MuseMenuActive,#u12810.MuseMenuActive
{
	margin: 0px;
}

#u12812
{
	height: 22px;
	width: 122px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-left: 130px;
	margin-top: 135px;
}

#ppu8133
{
	width: 0.01px;
	margin-left: 56px;
}

#pu8133
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 106px;
}

#u8133
{
	z-index: 92;
	width: 142px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/thumbnail-u8133-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u7736-6
{
	z-index: 79;
	width: 142px;
	min-height: 43px;
	line-height: 1.31;
	font-size: 15px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u8143
{
	z-index: 121;
	width: 142px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	margin-top: 184px;
	position: relative;
	background: transparent url("../images/thumbnail-u8143-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8143:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 184px 0px 0px;
	background-size: contain;
}

#u8138-6
{
	z-index: 101;
	width: 142px;
	min-height: 47px;
	line-height: 1.31;
	font-size: 15px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#pu13808
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 216px;
}

#u13808
{
	z-index: 133;
	width: 565px;
	height: 572px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/thumbnail.jpg") no-repeat left top;
	background-size: contain;
}

#u13807-8
{
	z-index: 125;
	width: 551px;
	min-height: 76px;
	line-height: 1.31;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 14px;
	position: relative;
}

#u13807-2
{
	color: #D4145A;
}

#pu8120
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 105px;
	margin-left: 816px;
}

#u8120
{
	z-index: 91;
	width: 142px;
	height: 143px;
	border-style: none;
	border-color: transparent;
	margin-left: 25px;
	position: relative;
	background: transparent url("../images/thumbnail-u8120-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8120:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px 0px 0px 25px;
	background-size: contain;
}

#u7730-6
{
	z-index: 73;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	font-size: 15px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u8139
{
	z-index: 107;
	width: 142px;
	height: 143px;
	border-style: none;
	border-color: transparent;
	margin-left: 32px;
	margin-top: 181px;
	position: relative;
	background: transparent url("../images/thumbnail-u8139-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8139:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 181px 0px 0px 32px;
	background-size: contain;
}

#u8142-6
{
	z-index: 115;
	width: 142px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 15px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 32px;
	position: relative;
}

#ppu8137
{
	width: 0.01px;
	margin-left: 56px;
	margin-top: 75px;
}

#pu8137
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
}

#u8137
{
	z-index: 100;
	width: 147px;
	height: 148px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/thumbnail-u8137-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8136-6
{
	z-index: 94;
	width: 147px;
	min-height: 45px;
	line-height: 1.31;
	font-size: 15px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u12906
{
	z-index: 72;
	width: 142px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 852px;
}

#u8134
{
	z-index: 93;
	width: 142px;
	height: 151px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/thumbnail-u8134-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8133:hover,#u13808:hover,#u8137:hover,#u8134:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px;
	background-size: contain;
}

#u7731-6
{
	z-index: 85;
	width: 137px;
	min-height: 34px;
	line-height: 1.31;
	font-size: 15px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 10px;
	position: relative;
}

#u8140-6
{
	z-index: 108;
	width: 140px;
	min-height: 47px;
	line-height: 1.31;
	font-size: 15px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 532px;
	left: 848px;
}

#u7736-2,#u8138-2,#u8136-2,#u7731-2,#u8140-2
{
	color: #000000;
}

#u8141
{
	z-index: 114;
	width: 140px;
	height: 141px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
	left: 848px;
	background: transparent url("../images/thumbnail-u8141-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8141:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 391px -10000px 0px 0px;
	background-size: contain;
}

#u8989-3
{
	z-index: 122;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 1072px;
}

#u13809-8
{
	z-index: 134;
	width: 403px;
	min-height: 75px;
	line-height: 1.31;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 538px;
	left: 288px;
}

#u13810
{
	z-index: 142;
	width: 538px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 217px;
	background: transparent url("../images/thumbnail2.jpg") no-repeat left top;
	background-size: contain;
}

#u13810:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u13816
{
	z-index: 169;
	width: 538px;
	height: 551px;
	border-style: none;
	border-color: transparent;
	margin-left: 279px;
	margin-top: 75px;
	position: relative;
	background: transparent url("../images/thumbnail22.jpg") no-repeat left top;
	background-size: contain;
}

#u13816:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 75px 0px 0px 279px;
	background-size: contain;
}

#u13815-8
{
	z-index: 161;
	width: 532px;
	min-height: 47px;
	line-height: 1.31;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 279px;
	position: relative;
}

#u13815-2
{
	color: #ED1C24;
}

#u13812
{
	z-index: 151;
	width: 538px;
	height: 545px;
	border-style: none;
	border-color: transparent;
	margin-left: 279px;
	margin-top: 50px;
	position: relative;
	background: transparent url("../images/thumbnail1.jpg") no-repeat left top;
	background-size: contain;
}

#u13812:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 50px 0px 0px 279px;
	background-size: contain;
}

#u13811-8
{
	z-index: 143;
	width: 243px;
	min-height: 47px;
	line-height: 1.31;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 413px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u13814
{
	z-index: 160;
	width: 532px;
	height: 539px;
	border-style: none;
	border-color: transparent;
	margin-left: 285px;
	margin-top: 66px;
	position: relative;
	background: transparent url("../images/thumbnail3.jpg") no-repeat left top;
	background-size: contain;
}

#u13814:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 66px 0px 0px 285px;
	background-size: contain;
}

#u13813-8
{
	z-index: 152;
	width: 254px;
	min-height: 47px;
	line-height: 1.31;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 428px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u13809-2,#u13811-2,#u13813-2
{
	color: #E21E79;
}

#u7736-4,#u8138-4,#u13807-4,#u13807-6,#u7730-4,#u8136-4,#u7731-4,#u8140-4,#u13809-6,#u13815-4,#u13815-6,#u13811-4,#u13811-6,#u13813-4,#u13813-6
{
	color: #5B5B5B;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

