.version.floral_corwn /* version checker */
{
	color: #000004;
	background-color: #D8D4A9;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 3108px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 1172px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u12879_states
{
	height: 184px;
	width: 193px;
}

#u12902-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu12900
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u12900
{
	z-index: 12;
	height: 52px;
}

.ie #u12900
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12900-bw
{
	z-index: 12;
	height: 52px;
}

#menuu12806
{
	z-index: 13;
	width: 1088px;
	margin-right: -10000px;
	left: 100px;
}

#u12842
{
	width: 276px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 276px;
	padding-bottom: 30px;
}

#u12843:hover
{
	margin: 0px;
}

#u12845
{
	height: 22px;
	width: 128px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12814
{
	width: 288px;
	min-height: 52px;
	margin-right: -10000px;
	left: 278px;
}

#u12838
{
	width: 288px;
	padding-bottom: 30px;
}

#u12841
{
	height: 22px;
	width: 141px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12825.MuseMenuActive #u12827-4,#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12832.MuseMenuActive #u12834-4,#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 249px;
	min-height: 52px;
	margin-right: -10000px;
	left: 568px;
}

#u12873
{
	width: 249px;
	padding-bottom: 30px;
}

#u12876
{
	height: 22px;
	width: 101px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12850
{
	width: 275px;
	top: 52px;
}

#u12862
{
	width: 275px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12818.MuseMenuActive,#u12862:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12864-4
{
	width: 132px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 68px;
}

#u12818.MuseMenuActive #u12820-4,#u12862:hover #u12864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12851,#u12859,#u12852
{
	width: 275px;
}

#u12855
{
	width: 275px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12862.MuseMenuActive,#u12855:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12855.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12858-4
{
	width: 84px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 92px;
}

#u12862.MuseMenuActive #u12864-4,#u12855:hover #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12855.MuseMenuActive #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 269px;
	min-height: 52px;
	margin-right: -10000px;
	left: 819px;
}

#u12810
{
	width: 269px;
	padding-bottom: 30px;
}

#u12843.MuseMenuActive,#u12838.MuseMenuActive,#u12873.MuseMenuActive,#u12810.MuseMenuActive
{
	margin: 0px;
}

#u12812
{
	height: 22px;
	width: 122px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#pppu12903-3
{
	width: 0.01px;
	margin-left: 130px;
	margin-top: 80px;
}

#ppu12903-3
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu12903-3
{
	width: 0.01px;
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 55px;
}

#u8133
{
	z-index: 83;
	width: 142px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
	background: transparent url("../images/thumbnail-u8133-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8133:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u7736-7
{
	z-index: 90;
	width: 142px;
	min-height: 142px;
	background-color: transparent;
	font-size: 15px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u7736-7:hover
{
	background-color: #FFFFFF;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 142px;
	margin: 0px -10000px 0px 0px;
}

#pu8143
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -1px;
}

#u8143
{
	z-index: 82;
	width: 142px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: transparent url("../images/thumbnail-u8143-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8143:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 1px -10000px 0px 0px;
	background-size: contain;
}

#u8138-6
{
	z-index: 109;
	width: 143px;
	min-height: 144px;
	background-color: transparent;
	font-size: 15px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u8138-6:hover
{
	background-color: #FFFFFF;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 144px;
	margin: 0px -10000px 0px 0px;
}

#u8137
{
	z-index: 81;
	width: 142px;
	border-style: none;
	border-color: transparent;
	margin-left: 2px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	background: transparent url("../images/thumbnail.jpg") no-repeat left top;
	background-size: cover;
}

#u8137:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px 0px -5px 2px;
	background-size: cover;
}

#u8136-6
{
	z-index: 103;
	width: 143px;
	min-height: 141px;
	background-color: transparent;
	font-size: 15px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: -1px;
}

#u8136-6:hover
{
	background-color: #FFFFFF;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 141px;
	margin: 6px -10000px -5px 0px;
}

#u13816
{
	z-index: 77;
	width: 142px;
	border-style: none;
	border-color: transparent;
	margin-left: 2px;
	position: relative;
	background: transparent url("../images/thumbnail2.jpg") no-repeat left top;
	background-size: cover;
}

#u13816:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px 0px 0px 2px;
	background-size: cover;
}

#u13815-8
{
	z-index: 164;
	width: 142px;
	min-height: 144px;
	background-color: transparent;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u13815-8:hover
{
	background-color: #FFFFFF;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 144px;
	margin: 6px -10000px 0px 0px;
}

#u13815-2
{
	font-size: 13px;
	color: #C1272D;
}

#u18307
{
	z-index: 172;
	width: 563px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 144px;
	background: transparent url("../images/1.jpg") no-repeat center center;
	background-size: cover;
}

#u18308-8
{
	z-index: 173;
	width: 563px;
	min-height: 572px;
	background-color: transparent;
	font-size: 18px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#pu8120
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 707px;
}

#u8120
{
	z-index: 80;
	width: 142px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 2px;
	position: relative;
	background: transparent url("../images/thumbnail-u8120-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8120:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px;
	background-size: contain;
}

#u7730-6
{
	z-index: 84;
	width: 144px;
	min-height: 142px;
	background-color: transparent;
	font-size: 15px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u7730-6:hover
{
	background-color: #FFFFFF;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 142px;
	margin: -1px -10000px 0px 0px;
}

#u8139
{
	z-index: 115;
	width: 142px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 4px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: transparent url("../images/thumbnail-u8139-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8139:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px 0px -2px;
	background-size: contain;
}

#u8142-6
{
	z-index: 122;
	width: 142px;
	min-height: 138px;
	background-color: transparent;
	font-size: 15px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u8142-6:hover
{
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 138px;
	margin: 1px -10000px 0px 0px;
}

#u8134
{
	z-index: 79;
	width: 142px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 7px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	background: transparent url("../images/thumbnail-u8134-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8134:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px 0px -3px;
	background-size: contain;
}

#u7731-6
{
	z-index: 97;
	width: 142px;
	min-height: 140px;
	background-color: transparent;
	font-size: 15px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u7731-6:hover
{
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 140px;
	margin: 4px -10000px 0px 0px;
}

#pu8141
{
	width: 0.01px;
	margin-top: -7px;
}

#u8141
{
	z-index: 78;
	width: 142px;
	height: 145px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: transparent url("../images/thumbnail-u8141-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u8141:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 2px -10000px 0px 0px;
	background-size: cover;
}

#u8140-6
{
	z-index: 116;
	width: 140px;
	min-height: 146px;
	background-color: transparent;
	font-size: 15px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u8140-6:hover
{
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 146px;
	margin: 0px -10000px 0px 0px;
}

#pu13814
{
	width: 0.01px;
	margin-left: 132px;
	margin-top: 79px;
}

#u13814
{
	z-index: 75;
	width: 144px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail3.jpg") no-repeat center bottom;
	background-size: cover;
}

#u13814:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u13813-9
{
	z-index: 155;
	width: 145px;
	min-height: 149px;
	background-color: transparent;
	line-height: 1.31;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u13813-2
{
	font-size: 14px;
	text-align: center;
	color: #ED1C24;
}

#u13813-4
{
	font-size: 14px;
	text-align: center;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u13813-7
{
	font-size: 18px;
	text-align: left;
	visibility: hidden;/* 100% transparent text is hidden */
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13813-7  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.31;
}

#u13813-6
{
	font-size: 16px;
}

#u13812
{
	z-index: 76;
	width: 140px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 708px;
	background: transparent url("../images/thumbnail1.jpg") no-repeat center center;
	background-size: cover;
}

#u18307:hover,#u13812:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u13811-8
{
	z-index: 147;
	width: 140px;
	min-height: 149px;
	background-color: transparent;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u13813-9:hover,#u13811-8:hover
{
	background-color: #FFFFFF;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 149px;
	margin: 0px -10000px 0px 0px;
}

#u13811-2
{
	font-size: 13px;
	color: #ED1C24;
}

#u13815-4,#u13811-4
{
	font-size: 13px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#u13815-6,#u13811-6
{
	font-size: 15px;
	visibility: hidden;/* 100% transparent text is hidden */
}

#pu12906
{
	width: 0.01px;
	padding-bottom: 37px;
	margin-left: 410px;
	margin-top: 97px;
}

#u12906
{
	z-index: 72;
	width: 563px;
	margin-right: -10000px;
	margin-top: -246px;
	left: -134px;
}

#u13810
{
	z-index: 73;
	width: 563px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail4.jpg") no-repeat left top;
	background-size: cover;
}

#u13810:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u13809-8
{
	z-index: 139;
	width: 563px;
	min-height: 545px;
	background-color: transparent;
	font-size: 18px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u13809-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 545px;
	margin: 0px -10000px 0px 0px;
}

#u8989-3
{
	z-index: 128;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 718px;
}

#u13808
{
	z-index: 74;
	width: 565px;
	border-style: none;
	border-color: transparent;
	margin-left: 276px;
	margin-top: 51px;
	position: relative;
	background: transparent url("../images/thumbnail5.jpg") no-repeat left top;
	background-size: cover;
}

#u13808:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 51px 0px 0px 276px;
	background-size: cover;
}

#u13807-8
{
	z-index: 131;
	width: 561px;
	min-height: 572px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 19px;
	line-height: 1.31;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u18308-8:hover,#u13807-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 572px;
	margin: 0px -10000px 0px 0px;
}

#u7736-7:hover p,#u8138-6:hover p,#u8136-6:hover p,#u13815-8:hover p,#u18308-8:hover p,#u7730-6:hover p,#u8142-6:hover p,#u7731-6:hover p,#u8140-6:hover p,#u13813-9:hover p,#u13813-9:hover span,#u13811-8:hover p,#u13809-8:hover p,#u13807-8:hover p
{
	color: #000000;
	visibility: inherit;
}

#u18308-2,#u13809-2,#u13807-2
{
	color: #ED1C24;
}

#u7736,#u7736-3,#u7736-5,#u8138-2,#u8138-4,#u8136-2,#u8136-4,#u18308-4,#u18308-6,#u7730-2,#u7730-4,#u8142-2,#u8142-4,#u7731-2,#u7731-4,#u8140-2,#u8140-4,#u13809-4,#u13809-6,#u13807-4,#u13807-6
{
	visibility: hidden;/* 100% transparent text is hidden */
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

