.version.floral_corwn /* version checker */
{
	color: #00000B;
	background-color: #16F159;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 634.75px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 33px;
}

#pu6777
{
	width: 0.01px;
	margin-left: -100px;
}

#u6777,#u6777-bw
{
	z-index: 2;
	height: 215px;
}

#u6741
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u6741_states
{
	height: 184px;
	width: 193px;
}

#u10922-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu11175
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u11175,#u11175-bw
{
	z-index: 12;
	height: 52px;
}

#menuu11924
{
	z-index: 13;
	width: 1044px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 123px;
}

#u11925
{
	width: 259px;
	min-height: 34px;
	margin-right: -10000px;
}

#u11928
{
	width: 259px;
	padding-bottom: 12px;
}

#u11960
{
	width: 259px;
	min-height: 34px;
	margin-right: -10000px;
	left: 261px;
}

#u11963
{
	width: 259px;
	padding-bottom: 12px;
}

#u11930,#u11964
{
	height: 22px;
	width: 259px;
	margin-right: -10000px;
	top: 6px;
}

#u11961
{
	width: 281px;
	top: 34px;
}

#u11982
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11982:hover
{
	margin: 0px -10000px 0px 0px;
}

#u11984-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11982:hover #u11984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11994
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11982.MuseMenuActive,#u11994:hover
{
	margin: 0px -10000px 0px 0px;
}

#u11997-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11982.MuseMenuActive #u11984-4,#u11994:hover #u11997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11962,#u11981,#u11993,#u12000
{
	width: 281px;
}

#u12001
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11994.MuseMenuActive,#u12001:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12001.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12003-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11994.MuseMenuActive #u11997-4,#u12001:hover #u12003-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11967
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 522px;
}

#u11968
{
	width: 260px;
	padding-bottom: 12px;
}

#u11972
{
	width: 276px;
	top: 34px;
}

#u12022
{
	width: 275px;
}

#u12023
{
	width: 273px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12023:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12025-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12001.MuseMenuActive #u12003-4,#u12023:hover #u12025-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11973,#u12032
{
	width: 276px;
}

#u12033
{
	width: 274px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12033:hover
{
	width: 275px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12033.MuseMenuActive
{
	width: 275px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12035-4
{
	width: 267px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#u12023.MuseMenuActive #u12025-4,#u12033:hover #u12035-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12039
{
	width: 275px;
	top: -1px;
	margin-bottom: -1px;
}

#u12040
{
	width: 273px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12023.MuseMenuActive,#u12040:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12040.MuseMenuActive
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12043-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12033.MuseMenuActive #u12035-4,#u12040:hover #u12043-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12040.MuseMenuActive #u12043-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u11974
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 784px;
}

#u11977
{
	width: 260px;
	padding-bottom: 12px;
}

#u11928.MuseMenuActive,#u11963.MuseMenuActive,#u11968.MuseMenuActive,#u11977.MuseMenuActive
{
	margin: 0px;
}

#u11971,#u11980
{
	height: 22px;
	width: 260px;
	margin-right: -10000px;
	top: 6px;
}

#pu6743-3
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 34px;
}

#u6743-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 101px;
	left: 46px;
}

#u8133
{
	z-index: 95;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail-u8133-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8134
{
	z-index: 96;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 328px;
	background: transparent url("../images/thumbnail-u8134-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8139
{
	z-index: 110;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 660px;
	background: transparent url("../images/thumbnail-u8139-fr.jpg") no-repeat left top;
	background-size: contain;
}

#pu7736-6
{
	width: 0.01px;
	margin-left: 105px;
	margin-top: 7px;
}

#u7736-6
{
	z-index: 82;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u7731-6
{
	z-index: 88;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u8142-6
{
	z-index: 118;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#pu8137
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 55px;
}

#u8137
{
	z-index: 103;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	background: transparent url("../images/thumbnail-u8137-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8137:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 5px -10000px 0px 0px;
	background-size: contain;
}

#u8141
{
	z-index: 117;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 328px;
	background: transparent url("../images/thumbnail-u8141-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8120
{
	z-index: 94;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 660px;
	background: transparent url("../images/thumbnail.jpg") no-repeat left top;
	background-size: contain;
}

#u8136-6
{
	z-index: 97;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u8140-6
{
	z-index: 111;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u7730-6
{
	z-index: 76;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 684px;
}

#u7730-4
{
	color: #5B5B5B;
}

#pu8143
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 68px;
}

#u8143
{
	z-index: 124;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail-u8143-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u13388
{
	z-index: 134;
	width: 261px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 333px;
	background: transparent url("../images/thumbnail-u13388-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u8133:hover,#u8134:hover,#u8139:hover,#u8141:hover,#u8120:hover,#u8143:hover,#u13388:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u8989-3
{
	z-index: 125;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 1049px;
}

#pu8136-6,#pu8138-6
{
	width: 0.01px;
	margin-left: 105px;
	margin-top: -1px;
}

#u8138-6
{
	z-index: 104;
	width: 195px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u13387-6
{
	z-index: 128;
	width: 254px;
	min-height: 47px;
	line-height: 1.31;
	color: #5B5B5B;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

