.version.flowers /* version checker */
{
	color: #00001B;
	background-color: #811E98;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 1169px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 61px;
	margin-left: auto;
	margin-right: auto;
}

#pmenuu48673
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 58px;
}

#menuu48673
{
	z-index: 3;
	width: 203px;
}

#u48674
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u48684
{
	width: 66px;
	padding-bottom: 20px;
}

#u48684:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48684:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48685-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48684:hover #u48685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48684:active #u48685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48678
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48678:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48678:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48702
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u48712
{
	width: 66px;
	padding-bottom: 20px;
}

#u48684.MuseMenuActive,#u48712:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48712:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48712.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48713-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48684.MuseMenuActive #u48685-4,#u48712:hover #u48713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48712:active #u48713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48712.MuseMenuActive #u48713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48676,#u48677,#u48704
{
	width: 120px;
}

#u48704:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u48706
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48678.MuseMenuActive,#u48706:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48679-4,#u48707-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u48688
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u48698
{
	width: 67px;
	padding-bottom: 20px;
}

#u48698:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48698:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48698.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48699-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48698:hover #u48699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48698:active #u48699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48698.MuseMenuActive #u48699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48675,#u48703,#u48689
{
	width: 120px;
	top: 39px;
}

#u48705,#u48690,#u48691
{
	width: 120px;
}

#u48694
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u48706.MuseMenuActive,#u48694:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48694:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48694.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48696-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu43817
{
	width: 0.01px;
	margin-top: 8px;
}

#u43817
{
	z-index: 2;
	width: 837px;
	padding-bottom: 691px;
	margin-right: -10000px;
}

#u25441-6
{
	z-index: 49;
	width: 412px;
	min-height: 450px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: -31px;
	left: 319px;
}

#u25441-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 450px;
	width: 412px;
	margin: -31px -10000px 0px 0px;
}

#u25441-6:hover p
{
	text-align: center;
}

#u25441-2
{
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u37971
{
	z-index: 55;
	width: 836px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 909px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1px;
}

#u42076-5
{
	z-index: 56;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	line-height: 0.9;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: -107px;
}

#u42076-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 183px -10000px 0px 0px;
}

#u42076-5:hover p,#u42076-5:hover span
{
	color: #5A0804;
	visibility: inherit;
}

#u42076-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u42076-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 0.9;
}

#u42076-2
{
	font-size: 14px;
}

#u48407
{
	z-index: 62;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 209px;
	left: 208px;
}

#u48407_states
{
	height: 97px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48407_states.png") no-repeat 0px 0px;
}

#u48407:hover #u48407_states
{
	background: url("../images/u48407_states-r.png") no-repeat 0px 0px;
}

#u48408
{
	z-index: 65;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 306px;
	left: 209px;
}

#u48408_states
{
	height: 97px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48408_states.png") no-repeat 0px 0px;
}

#u48408:hover #u48408_states
{
	background: url("../images/u48408_states-r.png") no-repeat 0px 0px;
}

#u48409
{
	z-index: 68;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 403px;
	left: 208px;
}

#u48409_states
{
	height: 97px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48409_states.png") no-repeat 0px 0px;
}

#u48409:hover #u48409_states
{
	background: url("../images/u48409_states-r.png") no-repeat 0px 0px;
}

#u48410
{
	z-index: 71;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 500px;
	left: 208px;
}

#u48410_states
{
	height: 97px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48410_states.png") no-repeat 0px 0px;
}

#u48410:hover #u48410_states
{
	background: url("../images/u48410_states-r.png") no-repeat 0px 0px;
}

#u48411
{
	z-index: 74;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 597px;
	left: 208px;
}

#u48411_states
{
	height: 94px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48411_states.png") no-repeat 0px 0px;
}

#u48411:hover #u48411_states
{
	background: url("../images/u48411_states-r.png") no-repeat 0px 0px;
}

#u25444-3
{
	z-index: 46;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1000px;
	left: 1128px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

