.version.how_do_i_love_thee /* version checker */
{
	color: #0000F5;
	background-color: #A1F6D2;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 2695.8250000000007px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -737px;
	padding-bottom: 1383px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901
{
	z-index: 2;
	height: 215px;
}

#u12901-bw
{
	z-index: 2;
	margin-top: 470px;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 509px;
	left: 566px;
}

#u12879_states
{
	height: 184px;
	width: 193px;
}

#u12902-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 534px;
	left: 381px;
}

#u12900
{
	z-index: 12;
	height: 52px;
}

#u12900-bw
{
	z-index: 12;
	margin-top: 685px;
	height: 52px;
}

#menuu12806
{
	z-index: 13;
	width: 1044px;
	margin-right: -10000px;
	margin-top: 693px;
	left: 123px;
}

#u12842
{
	width: 259px;
	min-height: 34px;
	margin-right: -10000px;
}

#u12843
{
	width: 259px;
	padding-bottom: 12px;
}

#u12814
{
	width: 259px;
	min-height: 34px;
	margin-right: -10000px;
	left: 261px;
}

#u12838
{
	width: 259px;
	padding-bottom: 12px;
}

#u12845,#u12841
{
	height: 22px;
	width: 259px;
	margin-right: -10000px;
	top: 6px;
}

#u12815
{
	width: 281px;
	top: 34px;
}

#u12825
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12825.MuseMenuActive #u12827-4,#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 281px;
}

#u12818
{
	width: 281px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 273px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12832.MuseMenuActive #u12834-4,#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 522px;
}

#u12873
{
	width: 260px;
	padding-bottom: 12px;
}

#u12850
{
	width: 275px;
	top: 34px;
}

#u12855
{
	width: 273px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12855:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12858-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12818.MuseMenuActive #u12820-4,#u12855:hover #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12862
{
	width: 273px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12855.MuseMenuActive,#u12862:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12864-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12855.MuseMenuActive #u12858-4,#u12862:hover #u12864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12851,#u12852,#u12859,#u12866
{
	width: 275px;
}

#u12867
{
	width: 273px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12862.MuseMenuActive,#u12867:hover
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12867.MuseMenuActive
{
	width: 274px;
	min-height: 1px;
	margin: 0px -9999px 1px 0px;
}

#u12870-4
{
	width: 265px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u12862.MuseMenuActive #u12864-4,#u12867:hover #u12870-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12867.MuseMenuActive #u12870-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 784px;
}

#u12810
{
	width: 260px;
	padding-bottom: 12px;
}

#u12843.MuseMenuActive,#u12838.MuseMenuActive,#u12873.MuseMenuActive,#u12810.MuseMenuActive
{
	margin: 0px;
}

#u12876,#u12812
{
	height: 22px;
	width: 260px;
	margin-right: -10000px;
	top: 6px;
}

#slideshowu6400
{
	z-index: 135;
	width: 0.01px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 880px;
	left: 135px;
}

#u6420
{
	position: absolute;
	width: 1021px;
	height: 815px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -880px;
	left: 3px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u6420popup
{
	z-index: 136;
}

#u6483
{
	z-index: 137;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6483_img
{
	padding-top: 85px;
	padding-bottom: 84px;
}

#u6492
{
	z-index: 139;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6492_img
{
	padding-left: 218px;
	padding-right: 217px;
}

#u6507
{
	z-index: 141;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6507_img
{
	padding-left: 267px;
	padding-right: 267px;
}

#u6521
{
	z-index: 143;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6521_img
{
	padding-top: 92px;
	padding-bottom: 91px;
}

#u6403
{
	position: absolute;
	width: 686px;
	left: 115px;
}

#u6403popup
{
	z-index: 145;
}

#u6486
{
	z-index: 146;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6495
{
	z-index: 148;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u6510
{
	z-index: 150;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u6524
{
	z-index: 152;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u6429-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -433px;
}

#u6429-4popup
{
	z-index: 154;
}

#u6430-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -433px;
	left: 998px;
}

#u6430-4popup
{
	z-index: 158;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu12884
{
	z-index: 76;
	width: 0.01px;
	height: 778px;
	margin-left: 116px;
	top: -365px;
	margin-bottom: -365px;
}

#u12892popup
{
	z-index: 77;
}

#u12892
{
	width: 444px;
	height: 582px;
	left: 41px;
}

#u12893
{
	z-index: 78;
	width: 444px;
	height: 582px;
	margin-right: -10000px;
}

#u12889popup
{
	z-index: 79;
}

#u12889
{
	width: 91px;
	top: 604px;
	left: 216px;
}

#u12890
{
	z-index: 80;
	width: 91px;
	height: 82px;
	margin-right: -10000px;
}

.ie #u12893,.ie #u12890
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12818.MuseMenuActive,#u6486:hover,#u6495:hover,#u6510:hover,#u6524:hover,#u12890.SSSlideLinkSelected
{
	margin: 0px -10000px 0px 0px;
}

#ppu12905
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: -778px;
}

#pu12905
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: -56px;
}

#u12905
{
	z-index: 108;
	width: 960px;
}

#pu6651
{
	z-index: 110;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u6651
{
	z-index: 0;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu6652-24
{
	width: 0.01px;
	position: relative;
	left: 32px;
	padding-top: 22px;
	z-index: 2;
	padding-bottom: 62px;
}

#u6652-24
{
	z-index: 111;
	width: 898px;
	min-height: 165px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u6652
{
	text-decoration: underline;
}

#u6652-2,#u6652-3,#u6652-4,#u6652-5,#u6652-6,#u6652-7
{
	font-size: 26px;
	text-align: center;
}

#u6652-8,#u6652-9,#u6652-10
{
	font-size: 16px;
	text-align: center;
}

#u6652-11,#u6652-12,#u6652-13,#u6652-15,#u6652-17,#u6652-19
{
	font-size: 16px;
	text-align: left;
}

#u6652-20
{
	font-size: 21px;
}

#u6652-22
{
	font-size: 22px;
	text-align: left;
	line-height: 1.48;
}

#u12906
{
	z-index: 109;
	width: 601px;
	height: 336px;
	margin-left: 387px;
	margin-top: 390px;
}

.ie #u12890.SSSlideLinkSelected,.ie #u12906
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 101px;
	left: 51px;
}

#u12904-27
{
	z-index: 81;
	width: 290px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

