.version.how_do_i_love_thee /* version checker */
{
	color: #000007;
	background-color: #9564A6;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 2696px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -673px;
	padding-bottom: 970px;
	width: 0.01px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901
{
	z-index: 2;
	height: 215px;
}

#u12901-bw
{
	z-index: 2;
	margin-top: 406px;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 445px;
	left: 566px;
}

#u12879_states
{
	height: 198px;
	width: 193px;
}

#u12900
{
	z-index: 9;
	height: 52px;
}

#u12900-bw
{
	z-index: 9;
	margin-top: 621px;
	height: 52px;
}

#menuu12806
{
	z-index: 10;
	width: 1015px;
	margin-right: -10000px;
	margin-top: 621px;
	left: 100px;
}

#u12842
{
	width: 248px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 248px;
	padding-bottom: 28px;
}

#u12843:hover
{
	width: 248px;
	min-height: 0px;
	margin: 0px;
}

#u12843.MuseMenuActive
{
	width: 248px;
	min-height: 0px;
	margin: 0px;
}

#u12845-4
{
	width: 100px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12843:hover #u12845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u12843.MuseMenuActive #u12845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u12814
{
	width: 280px;
	min-height: 52px;
	margin-right: -10000px;
	left: 250px;
}

#u12838
{
	width: 280px;
	padding-bottom: 28px;
}

#u12838.MuseMenuActive
{
	width: 280px;
	min-height: 0px;
	margin: 0px;
}

#u12841-4
{
	width: 132px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12838:hover #u12841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u12838.MuseMenuActive #u12841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u12825.MuseMenuActive #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u12832.MuseMenuActive #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 218px;
	min-height: 52px;
	margin-right: -10000px;
	left: 532px;
}

#u12873
{
	width: 218px;
	padding-bottom: 28px;
}

#u12873.MuseMenuActive
{
	width: 218px;
	min-height: 0px;
	margin: 0px;
}

#u12876-4
{
	width: 70px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12873:hover #u12876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u12873.MuseMenuActive #u12876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 263px;
	min-height: 52px;
	margin-right: -10000px;
	left: 752px;
}

#u12810
{
	width: 263px;
	padding-bottom: 28px;
}

#u12810.MuseMenuActive
{
	width: 263px;
	min-height: 0px;
	margin: 0px;
}

#u12812-4
{
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12810:hover #u12812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u12810.MuseMenuActive #u12812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu6400
{
	z-index: 76;
	width: 0.01px;
	height: 1646px;
	position: relative;
	margin-right: -10000px;
	margin-top: 753px;
	left: 427px;
}

#u6420
{
	position: absolute;
	width: 1021px;
	height: 815px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -753px;
	left: 246px;
	-pie-background: rgba(0,0,0,0.9);
}

#u6420popup
{
	z-index: 77;
}

#u6483
{
	z-index: 78;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6483_img
{
	padding-top: 85px;
	padding-bottom: 84px;
}

#u6492
{
	z-index: 80;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6492_img
{
	padding-left: 218px;
	padding-right: 217px;
}

#u6507
{
	z-index: 82;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6507_img
{
	padding-left: 267px;
	padding-right: 267px;
}

#u6521
{
	z-index: 84;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6521_img
{
	padding-top: 92px;
	padding-bottom: 91px;
}

#u6403
{
	position: absolute;
	width: 469px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u6403popup
{
	z-index: 86;
}

#u6486
{
	z-index: 87;
	width: 469px;
	height: 404px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6486:hover
{
	width: 469px;
	height: 404px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6495
{
	z-index: 89;
	width: 469px;
	height: 404px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
}

#u6495:hover
{
	width: 469px;
	height: 404px;
	min-height: 0px;
	margin: 414px -10000px 0px 0px;
}

#u6510
{
	z-index: 91;
	width: 469px;
	height: 404px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 828px;
}

#u6510:hover
{
	width: 469px;
	height: 404px;
	min-height: 0px;
	margin: 828px -10000px 0px 0px;
}

#u6510_img
{
	padding-left: 13px;
	padding-right: 13px;
}

#u6524
{
	z-index: 93;
	width: 469px;
	height: 404px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1242px;
}

#u6524:hover
{
	width: 469px;
	height: 404px;
	min-height: 0px;
	margin: 1242px -10000px 0px 0px;
}

#u6429-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -306px;
	left: 242px;
}

#u6429-4popup
{
	z-index: 95;
}

#u6430-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -306px;
	left: 1240px;
}

#u6430-4popup
{
	z-index: 99;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu12903-3
{
	width: 0.01px;
	margin-left: 130px;
	margin-top: -1647px;
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 55px;
}

#u6652-20
{
	z-index: 56;
	width: 229px;
	min-height: 165px;
	background-color: transparent;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 686px;
}

#u6652
{
	text-decoration: underline;
}

#u6652-2,#u6652-3,#u6652-4
{
	font-size: 26px;
	text-align: center;
}

#u6652-5,#u6652-6,#u6652-7,#u6652-9,#u6652-11,#u6652-13
{
	font-size: 16px;
	text-align: left;
}

#u6652-14,#u6652-15,#u6652-16
{
	font-size: 21px;
}

#u6652-18
{
	font-size: 17px;
	text-align: left;
	line-height: 1.48;
}

#u17236-4
{
	z-index: 103;
	width: 266px;
	min-height: 524px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 672px;
}

#u17236-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 524px;
	width: 266px;
	margin: 1px -10000px 0px 0px;
}

#u17236-4:hover p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u12906
{
	z-index: 55;
	width: 601px;
	height: 336px;
	margin-left: 410px;
	top: -749px;
	margin-bottom: -336px;
}

.ie #u12900,.ie #u12906
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

