.version.luck_and_eyes /* version checker */
{
	color: #0000F7;
	background-color: #D5E2B3;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 744px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 19px;
	width: 0.01px;
}

#u38158
{
	z-index: 6;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 5px;
}

.ie #u38158
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu43843
{
	z-index: 12;
	width: 203px;
	margin-right: -10000px;
}

#u43844
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u43845
{
	width: 66px;
	padding-bottom: 20px;
}

#u43845:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43845:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43846-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43845:hover #u43846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43845:active #u43846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43854
{
	width: 118px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u43854:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43858
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u43859
{
	width: 66px;
	padding-bottom: 20px;
}

#u43845.MuseMenuActive,#u43859:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43859:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43859.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43860-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43845.MuseMenuActive #u43846-4,#u43859:hover #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43859:active #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43859.MuseMenuActive #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43866
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43854.MuseMenuActive,#u43866:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43872
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u43873
{
	width: 67px;
	padding-bottom: 20px;
}

#u43873:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43873:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43873.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43874-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43873:hover #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43873:active #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43873.MuseMenuActive #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43849,#u43863,#u43877
{
	width: 120px;
	top: 39px;
}

#u43850,#u43851,#u43864,#u43865,#u43878,#u43879
{
	width: 120px;
}

#u43882
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43866.MuseMenuActive,#u43882:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43882.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43857-4,#u43869-4,#u43885-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu38158,#pu38136
{
	width: 0.01px;
	margin-left: 58px;
}

#u38136
{
	z-index: 2;
	width: 493px;
	margin-right: -10000px;
	padding: 450px 301px 61px 42px;
}

#u38157-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38137-4
{
	z-index: 7;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#slideshowu41700
{
	z-index: 55;
	width: 0.01px;
	height: 1215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 42px;
}

#u41713
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 871px;
}

#u41713popup
{
	z-index: 56;
}

#u41783
{
	z-index: 57;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u41792
{
	z-index: 59;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u41783:hover,#u41792:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41801
{
	z-index: 61;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 119px;
}

#u41810
{
	z-index: 63;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 387px;
}

#u41801:hover,#u41810:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u41819
{
	z-index: 65;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 119px;
}

#u41828
{
	z-index: 67;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 387px;
}

#u41819:hover,#u41828:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 118px -10000px 0px 0px;
}

#u41837
{
	z-index: 69;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 119px;
}

#u41846
{
	z-index: 71;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 387px;
}

#u41837:hover,#u41846:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 177px -10000px 0px 0px;
}

#u41855
{
	z-index: 73;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 119px;
}

#u41864
{
	z-index: 75;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 387px;
}

#u41855:hover,#u41864:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 236px -10000px 0px 0px;
}

#u41873
{
	z-index: 77;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 119px;
}

#u41882
{
	z-index: 79;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 387px;
}

#u41873:hover,#u41882:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 295px -10000px 0px 0px;
}

#u41792_img,#u41810_img,#u41828_img,#u41846_img,#u41864_img,#u41882_img
{
	padding: 8px 112px 7px;
}

#u41702
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 5px;
	left: 795px;
	-pie-background: rgba(0,0,0,0.9);
}

#u41702popup
{
	z-index: 81;
}

#u41786
{
	z-index: 82;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41795
{
	z-index: 84;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41804
{
	z-index: 86;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41813
{
	z-index: 88;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41822
{
	z-index: 90;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41831
{
	z-index: 92;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41840
{
	z-index: 94;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41849
{
	z-index: 96;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41858
{
	z-index: 98;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41867
{
	z-index: 100;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41876
{
	z-index: 102;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41885
{
	z-index: 104;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41786_img,#u41795_img,#u41804_img,#u41813_img,#u41822_img,#u41831_img,#u41840_img,#u41849_img,#u41858_img,#u41867_img,#u41876_img,#u41885_img
{
	padding-left: 60px;
	padding-right: 60px;
}

#u41711-3
{
	position: absolute;
	width: 123px;
	min-height: 422px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 5px;
	left: 795px;
}

#u41711-3popup
{
	z-index: 106;
}

#u41712-3
{
	position: absolute;
	width: 125px;
	min-height: 422px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 5px;
	left: 1194px;
}

#u41712-3popup
{
	z-index: 109;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u41698-5
{
	z-index: 112;
	width: 266px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 44px;
}

#u41698
{
	font-weight: bold;
}

#u41699-8
{
	z-index: 117;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 514px;
	left: 44px;
}

#u41731
{
	z-index: 126;
	height: 18px;
	width: 280px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 458px;
	left: 43px;
	background: url("../images/u41731.png") no-repeat 0px 0px;
}

#u41731:hover
{
	background: url("../images/u41731-r.png") no-repeat 0px 0px;
}

#u41950-5
{
	z-index: 128;
	width: 201px;
	min-height: 16px;
	background-color: transparent;
	font-size: 9px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 576px;
}

#u41950-2
{
	text-decoration: underline;
}

#u38201
{
	z-index: 11;
	width: 51px;
	height: 50px;
	margin-left: 799px;
	top: -108px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

