.version.luck_and_eyes /* version checker */
{
	color: #00000A;
	background-color: #A03E61;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 744px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 24px;
	width: 0.01px;
}

#menuu38121
{
	z-index: 6;
	width: 105px;
	margin-right: -10000px;
}

#u38129
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u38132
{
	width: 51px;
	padding-bottom: 22px;
}

#u38132:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38132:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38132.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38135-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38132:hover #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38132:active #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38132.MuseMenuActive #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38122
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u38125
{
	width: 52px;
	padding-bottom: 22px;
}

#u38125:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38125:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38125.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38126-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38125:hover #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38125:active #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38125.MuseMenuActive #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38158
{
	z-index: 19;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
}

.ie #u38158
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pmenuu38121,#pu38136
{
	width: 0.01px;
	margin-left: 58px;
}

#u38136
{
	z-index: 2;
	width: 493px;
	margin-right: -10000px;
	padding: 450px 301px 61px 42px;
}

#u38157-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38137-4
{
	z-index: 20;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#slideshowu41700
{
	z-index: 25;
	width: 0.01px;
	height: 1215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 42px;
}

#u41713
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 871px;
}

#u41713popup
{
	z-index: 26;
}

#u41783
{
	z-index: 27;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u41792
{
	z-index: 29;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u41783:hover,#u41792:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41801
{
	z-index: 31;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 119px;
}

#u41810
{
	z-index: 33;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 387px;
}

#u41801:hover,#u41810:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u41819
{
	z-index: 35;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 119px;
}

#u41828
{
	z-index: 37;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 387px;
}

#u41819:hover,#u41828:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 118px -10000px 0px 0px;
}

#u41837
{
	z-index: 39;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 119px;
}

#u41846
{
	z-index: 41;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 387px;
}

#u41837:hover,#u41846:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 177px -10000px 0px 0px;
}

#u41855
{
	z-index: 43;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 119px;
}

#u41864
{
	z-index: 45;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 387px;
}

#u41855:hover,#u41864:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 236px -10000px 0px 0px;
}

#u41873
{
	z-index: 47;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 119px;
}

#u41882
{
	z-index: 49;
	width: 258px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 387px;
}

#u41873:hover,#u41882:hover
{
	width: 258px;
	height: 49px;
	min-height: 0px;
	margin: 295px -10000px 0px 0px;
}

#u41792_img,#u41810_img,#u41828_img,#u41846_img,#u41864_img,#u41882_img
{
	padding: 8px 112px 7px;
}

#u41702
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 5px;
	left: 795px;
	-pie-background: rgba(0,0,0,0.9);
}

#u41702popup
{
	z-index: 51;
}

#u41786
{
	z-index: 52;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41795
{
	z-index: 54;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41804
{
	z-index: 56;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41813
{
	z-index: 58;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41822
{
	z-index: 60;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41831
{
	z-index: 62;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41840
{
	z-index: 64;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41849
{
	z-index: 66;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41858
{
	z-index: 68;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41867
{
	z-index: 70;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41876
{
	z-index: 72;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41885
{
	z-index: 74;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41786_img,#u41795_img,#u41804_img,#u41813_img,#u41822_img,#u41831_img,#u41840_img,#u41849_img,#u41858_img,#u41867_img,#u41876_img,#u41885_img
{
	padding-left: 60px;
	padding-right: 60px;
}

#u41711-3
{
	position: absolute;
	width: 123px;
	min-height: 422px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 5px;
	left: 795px;
}

#u41711-3popup
{
	z-index: 76;
}

#u41712-3
{
	position: absolute;
	width: 125px;
	min-height: 422px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 5px;
	left: 1194px;
}

#u41712-3popup
{
	z-index: 79;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u41698-5
{
	z-index: 82;
	width: 266px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 44px;
}

#u41698
{
	font-weight: bold;
}

#u41699-8
{
	z-index: 87;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 514px;
	left: 44px;
}

#u41731
{
	z-index: 96;
	position: relative;
	width: 280px;
	margin-right: -10000px;
	margin-top: 458px;
	left: 43px;
}

#u41731_states
{
	height: 18px;
	width: 280px;
	vertical-align: top;
	background: url("../images/u41731_states.png") no-repeat 0px 0px;
}

#u41731:hover #u41731_states
{
	background: url("../images/u41731_states-r.png") no-repeat 0px 0px;
}

#u41950-5
{
	z-index: 98;
	width: 201px;
	min-height: 16px;
	background-color: transparent;
	font-size: 9px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 576px;
}

#u41950-2
{
	text-decoration: underline;
}

#u38201
{
	z-index: 24;
	width: 51px;
	height: 50px;
	margin-left: 799px;
	top: -108px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

