#u44249
{
	position: absolute;
	background-color: transparent;
}

#u44250
{
	border-width: 4px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u44247-3
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u44246-3
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 1.4;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu44181
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u44182,#u44183
{
	background-color: transparent;
	position: relative;
}

#u44183:hover
{
	background-color: #F0B8FF;
}

#u44183:active
{
	background-color: #F085FF;
}

#u44184-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u44188
{
	background-color: #F079FF;
	position: relative;
}

#u44190
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u44190:hover
{
	background-color: #B9B8FF;
}

#u44190:active
{
	background-color: #F0B8BA;
}

#u44190.MuseMenuActive
{
	background-color: #76B8FF;
}

#u44189,#u44196,#u44206
{
	background-color: transparent;
	position: relative;
}

#u44206:hover
{
	background-color: #F0B8FF;
}

#u44206:active
{
	background-color: #F085FF;
}

#u44209-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u44198
{
	background-color: #F0B888;
	position: relative;
}

#u44198:hover
{
	background-color: #F0B8D6;
}

#u44202
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u44202:hover
{
	background-color: #F0607F;
}

#u44202.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u44199,#u44210,#u44220
{
	background-color: transparent;
	position: relative;
}

#u44220:hover
{
	background-color: #F0B8FF;
}

#u44220:active
{
	background-color: #F085FF;
}

#u44221-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u44183.MuseMenuActive,#u44187,#u44206.MuseMenuActive,#u44197,#u44220.MuseMenuActive,#u44211
{
	background-color: transparent;
}

#u44212
{
	background-color: #F096D7;
	position: relative;
}

#u44213
{
	background-color: transparent;
	position: relative;
}

#u44214
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u44214:hover
{
	background-color: #7CB8FF;
}

#u44214:active
{
	background-color: #D1B8FF;
}

#u44214.MuseMenuActive
{
	background-color: #F0B87D;
}

#u44192-4,#u44203-4,#u44215-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u44180
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#slideshowu44238,#u44224
{
	position: relative;
}

#u44224_states
{
	vertical-align: top;
	background: url("../images/u44224_states.png") no-repeat 0px 0px;
}

#u44224:hover #u44224_states
{
	background: url("../images/u44224_states-r.png") no-repeat 0px 0px;
}

#u44179-3
{
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 0.5;
	text-align: center;
	font-size: 23px;
	letter-spacing: 1px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
}

#u44179
{
	visibility: hidden;/* 100% transparent text is hidden */
}

