#u6777
{
	border-style: none;
	border-color: transparent;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	background: #FFFFFF url("../images/backtest.jpg") no-repeat left top;
	background-size: cover;
}

#u6741
{
	position: relative;
	background: url("../images/u6741_states.png") no-repeat 0px 0px;
}

#u6741_states
{
	vertical-align: top;
}

#u6741:hover #u6741_states
{
	background: url("../images/u6741_states-r.png") no-repeat 0px 0px;
}

#u11175
{
	border-color: #DBA0A2;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	background: #F7F6F6 url("../images/41bbfe0a08f7f1b57d76a6629a288f3f-1-.jpg") no-repeat left top;
	background-size: cover;
}

#u11928
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11928.MuseMenuActive
{
	border-color: #939495;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u11930
{
	vertical-align: top;
	position: relative;
	background: url("../images/u11930.png") no-repeat 0px 0px;
}

#u11928.MuseMenuActive #u11930
{
	background: url("../images/u11930-a.png") no-repeat 0px 0px;
}

#u11963
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11963.MuseMenuActive
{
	border-color: #939495;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u11964
{
	vertical-align: top;
	position: relative;
	background: url("../images/u11964.png") no-repeat 0px 0px;
}

#u11963:hover #u11964
{
	background: url("../images/u11964-r.png") no-repeat 0px 0px;
}

#u11963.MuseMenuActive #u11964
{
	background: url("../images/u11964-a.png") no-repeat 0px 0px;
}

#u11982
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u11982:hover
{
	background-color: #E2FFFF;
	background-color: rgba(195, 255, 255, 0.47);
	-pie-background: rgba(195, 255, 255, 0.47);
}

#u11982.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #EEEEB7;
	background-color: rgba(238, 238, 183, 1);
	-pie-background: rgba(238, 238, 183, 1);
}

#u11984-4
{
	background-color: #E2E8E2;
	font-size: 16px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u11982:hover #u11984-4
{
	background-color: transparent;
}

#u11994
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u11994:hover
{
	background-color: #E2FFFF;
	background-color: rgba(195, 255, 255, 0.47);
	-pie-background: rgba(195, 255, 255, 0.47);
}

#u11994.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #EEEEB7;
	background-color: rgba(238, 238, 183, 1);
	-pie-background: rgba(238, 238, 183, 1);
}

#u11997-4
{
	background-color: #E2E8E2;
	font-size: 16px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u11994:hover #u11997-4
{
	background-color: transparent;
}

#u12001
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u12001:hover
{
	background-color: #E2FFFF;
	background-color: rgba(195, 255, 255, 0.47);
	-pie-background: rgba(195, 255, 255, 0.47);
}

#u12001.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #EEEEB7;
	background-color: rgba(238, 238, 183, 1);
	-pie-background: rgba(238, 238, 183, 1);
}

#u12003-4
{
	background-color: #E2E8E2;
	font-size: 16px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
}

#u12001:hover #u12003-4
{
	background-color: transparent;
}

#u11982.MuseMenuActive #u11984-4,#u11994.MuseMenuActive #u11997-4,#u12001.MuseMenuActive #u12003-4
{
	background-color: #E2E8E2;
}

#u11968
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11968.MuseMenuActive
{
	border-color: #939495;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u11971
{
	vertical-align: top;
	position: relative;
	background: url("../images/u11971.png") no-repeat 0px 0px;
}

#u11968:hover #u11971
{
	background: url("../images/u11971-r.png") no-repeat 0px 0px;
}

#u11968.MuseMenuActive #u11971
{
	background: url("../images/u11971-a.png") no-repeat 0px 0px;
}

#u12023
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #E0C2BA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u12023:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #E7FFFF;
	background-color: rgba(195, 255, 255, 0.4);
	-pie-background: rgba(195, 255, 255, 0.4);
}

#u12025-4
{
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u12023:hover #u12025-4
{
	background-color: transparent;
}

#u12023.MuseMenuActive #u12025-4
{
	background-color: #E3FFFF;
	background-color: rgba(195, 255, 255, 0.46);
	-pie-background: rgba(195, 255, 255, 0.46);
}

#u12033
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #E0C2BA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u12033:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #E7FFFF;
	background-color: rgba(195, 255, 255, 0.4);
	-pie-background: rgba(195, 255, 255, 0.4);
}

#u12035-4
{
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u12033:hover #u12035-4
{
	background-color: transparent;
}

#u12033.MuseMenuActive #u12035-4
{
	background-color: #E3FFFF;
	background-color: rgba(195, 255, 255, 0.46);
	-pie-background: rgba(195, 255, 255, 0.46);
}

#u12040
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #E0C2BA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u12040:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #E7FFFF;
	background-color: rgba(195, 255, 255, 0.4);
	-pie-background: rgba(195, 255, 255, 0.4);
}

#u12023.MuseMenuActive,#u12033.MuseMenuActive,#u12040.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u12043-4
{
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u12040:hover #u12043-4
{
	background-color: transparent;
}

#u12040.MuseMenuActive #u12043-4
{
	background-color: #E3FFFF;
	background-color: rgba(195, 255, 255, 0.46);
	-pie-background: rgba(195, 255, 255, 0.46);
}

#u11977
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11977.MuseMenuActive
{
	border-color: #939495;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u11980
{
	vertical-align: top;
	position: relative;
	background: url("../images/u11980.png") no-repeat 0px 0px;
}

#u11977.MuseMenuActive #u11980
{
	background: url("../images/u11980-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u10922-3,#menuu11924,#u11925,#u11960,#u11962,#u11981,#u11993,#u12000,#u11967,#u11973,#u12022,#u12032,#u12039,#u11974,#u6743-3
{
	position: relative;
}

