#u38158
{
	position: relative;
}

#menuu43843
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u43844,#u43845
{
	background-color: transparent;
	position: relative;
}

#u43845:hover
{
	background-color: #999999;
}

#u43845:active
{
	background-color: #6B6B6B;
}

#u43846-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u43854
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u43854:hover
{
	background-color: #AAAAAA;
}

#u43850,#u43851,#u43858,#u43859
{
	background-color: transparent;
	position: relative;
}

#u43845.MuseMenuActive,#u43859:hover
{
	background-color: #999999;
}

#u43859:active
{
	background-color: #6B6B6B;
}

#u43860-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u43866
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u43866:hover
{
	background-color: #AAAAAA;
}

#u43864,#u43865,#u43872,#u43873
{
	background-color: transparent;
	position: relative;
}

#u43859.MuseMenuActive,#u43873:hover
{
	background-color: #999999;
}

#u43873:active
{
	background-color: #6B6B6B;
}

#u43873.MuseMenuActive
{
	background-color: #999999;
}

#u43874-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u43849,#u43863,#u43877
{
	background-color: transparent;
}

#u43878,#u43879
{
	background-color: transparent;
	position: relative;
}

#u43882
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u43882:hover
{
	background-color: #AAAAAA;
}

#u43854.MuseMenuActive,#u43866.MuseMenuActive,#u43882.MuseMenuActive
{
	background-color: #666666;
}

#u43857-4,#u43869-4,#u43885-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u38136
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u38157-3
{
	background-color: transparent;
	font-size: 12px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u38137-4
{
	background-color: transparent;
	font-size: 12px;
	text-align: justify;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u38201
{
	position: relative;
	background: transparent url("../images/if_popular_social_media-09_2329262.png") no-repeat left top;
	background-size: contain;
}

