#menuu48630
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u48631,#u48641
{
	background-color: transparent;
	position: relative;
}

#u48641:hover
{
	background-color: #F0B8FF;
}

#u48641:active
{
	background-color: #F085FF;
}

#u48642-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48633
{
	background-color: #F079FF;
	position: relative;
}

#u48635
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u48635:hover
{
	background-color: #B9B8FF;
}

#u48635:active
{
	background-color: #F0B8BA;
}

#u48635.MuseMenuActive
{
	background-color: #76B8FF;
}

#u48634,#u48659,#u48669
{
	background-color: transparent;
	position: relative;
}

#u48669:hover
{
	background-color: #F0B8FF;
}

#u48669:active
{
	background-color: #F085FF;
}

#u48670-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48661
{
	background-color: #F0B888;
	position: relative;
}

#u48661:hover
{
	background-color: #F0B8D6;
}

#u48663
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u48663:hover
{
	background-color: #F0607F;
}

#u48663.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u48662,#u48645,#u48655
{
	background-color: transparent;
	position: relative;
}

#u48655:hover
{
	background-color: #F0B8FF;
}

#u48655:active
{
	background-color: #F085FF;
}

#u48656-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48641.MuseMenuActive,#u48632,#u48669.MuseMenuActive,#u48660,#u48655.MuseMenuActive,#u48646
{
	background-color: transparent;
}

#u48647
{
	background-color: #F096D7;
	position: relative;
}

#u48648
{
	background-color: transparent;
	position: relative;
}

#u48651
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u48651:hover
{
	background-color: #7CB8FF;
}

#u48651:active
{
	background-color: #D1B8FF;
}

#u48651.MuseMenuActive
{
	background-color: #F0B87D;
}

#u48636-4,#u48664-4,#u48653-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u43687
{
	position: relative;
	background: transparent url("../images/49.jpg") no-repeat center center;
	background-size: cover;
}

