#u5100-4
{
	font-size: 116px;
	letter-spacing: 27px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
}

#u5109
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u5401
{
	background-color: transparent;
	position: relative;
}

#u5401:hover
{
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
}

#u5403
{
	vertical-align: top;
	position: relative;
	background: url("../images/u5403.png") no-repeat 0px 0px;
}

#u5401:hover #u5403
{
	background: url("../images/u5403-r.png") no-repeat 0px 0px;
}

#u5401.MuseMenuActive #u5403
{
	background: url("../images/u5403-a.png") no-repeat 0px 0px;
}

#u5389
{
	background-color: transparent;
	position: relative;
}

#u5389:hover
{
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
}

#u5392
{
	vertical-align: top;
	position: relative;
	background: url("../images/u5392.png") no-repeat 0px 0px;
}

#u5389:hover #u5392
{
	background: url("../images/u5392-r.png") no-repeat 0px 0px;
}

#u5507
{
	background-color: transparent;
	position: relative;
}

#u5507:hover
{
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
}

#u5509
{
	vertical-align: top;
	position: relative;
	background: url("../images/u5509.png") no-repeat 0px 0px;
}

#u5507:hover #u5509
{
	background: url("../images/u5509-r.png") no-repeat 0px 0px;
}

#u5394
{
	background-color: transparent;
	position: relative;
}

#u5394:hover
{
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
}

#u5401.MuseMenuActive,#u5389.MuseMenuActive,#u5507.MuseMenuActive,#u5394.MuseMenuActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u5395
{
	vertical-align: top;
	position: relative;
	background: url("../images/u5395.png") no-repeat 0px 0px;
}

#u5394:hover #u5395
{
	background: url("../images/u5395-r.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu5378,#u5400,#u5386,#u5506,#u5393,#u6650-3
{
	position: relative;
}

