#menuu38166
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u38167,#u38168
{
	background-color: transparent;
	position: relative;
}

#u38168:hover
{
	background-color: #999999;
}

#u38168:active
{
	background-color: #6B6B6B;
}

#u38169-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u38174,#u38177
{
	background-color: transparent;
	position: relative;
}

#u38177:hover
{
	background-color: #999999;
}

#u38177:active
{
	background-color: #6B6B6B;
}

#u38168.MuseMenuActive,#u38177.MuseMenuActive
{
	background-color: transparent;
}

#u38179-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u38185
{
	position: relative;
}

#u38187
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u38182-3
{
	background-color: transparent;
	text-align: left;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u38181-4
{
	background-color: transparent;
	text-align: justify;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u38202
{
	position: relative;
	background: transparent url("../images/if_popular_social_media-09_2329262.png") no-repeat left top;
	background-size: contain;
}

