#u44249
{
	position: absolute;
	background-color: transparent;
}

#u44250
{
	border-width: 4px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u44247-3
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u44246-3
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu48413
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u48414,#u48424
{
	background-color: transparent;
	position: relative;
}

#u48424:hover
{
	background-color: #F0B8FF;
}

#u48424:active
{
	background-color: #F085FF;
}

#u48425-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48416
{
	background-color: #F079FF;
	position: relative;
}

#u48418
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u48418:hover
{
	background-color: #B9B8FF;
}

#u48418:active
{
	background-color: #F0B8BA;
}

#u48418.MuseMenuActive
{
	background-color: #76B8FF;
}

#u48417,#u48442,#u48452
{
	background-color: transparent;
	position: relative;
}

#u48452:hover
{
	background-color: #F0B8FF;
}

#u48452:active
{
	background-color: #F085FF;
}

#u48453-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48444
{
	background-color: #F0B888;
	position: relative;
}

#u48444:hover
{
	background-color: #F0B8D6;
}

#u48446
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u48446:hover
{
	background-color: #F0607F;
}

#u48446.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u48445,#u48428,#u48438
{
	background-color: transparent;
	position: relative;
}

#u48438:hover
{
	background-color: #F0B8FF;
}

#u48438:active
{
	background-color: #F085FF;
}

#u48439-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48424.MuseMenuActive,#u48415,#u48452.MuseMenuActive,#u48443,#u48438.MuseMenuActive,#u48429
{
	background-color: transparent;
}

#u48430
{
	background-color: #F096D7;
	position: relative;
}

#u48431
{
	background-color: transparent;
	position: relative;
}

#u48434
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u48434:hover
{
	background-color: #7CB8FF;
}

#u48434:active
{
	background-color: #D1B8FF;
}

#u48434.MuseMenuActive
{
	background-color: #F0B87D;
}

#u48419-4,#u48447-4,#u48436-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u44180
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#slideshowu44238,#u44224
{
	position: relative;
}

#u44224_states
{
	vertical-align: top;
	background: url("../images/u44224_states.png") no-repeat 0px 0px;
}

#u44224:hover #u44224_states
{
	background: url("../images/u44224_states-r.png") no-repeat 0px 0px;
}

#u44179-3
{
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	letter-spacing: 1px;
	line-height: 0.5;
	font-size: 23px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
}

#u44179
{
	visibility: hidden;/* 100% transparent text is hidden */
}

