#u48229,#u48239
{
	background-color: transparent;
	position: relative;
}

#u48239:hover
{
	background-color: #F0B8FF;
}

#u48239:active
{
	background-color: #F085FF;
}

#u48240-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48231
{
	background-color: #F079FF;
	position: relative;
}

#u48235
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u48235:hover
{
	background-color: #B9B8FF;
}

#u48235:active
{
	background-color: #F0B8BA;
}

#u48235.MuseMenuActive
{
	background-color: #76B8FF;
}

#u48232,#u48243,#u48244
{
	background-color: transparent;
	position: relative;
}

#u48244:hover
{
	background-color: #F0B8FF;
}

#u48244:active
{
	background-color: #F085FF;
}

#u48246-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48249
{
	background-color: #F0B888;
	position: relative;
}

#u48249:hover
{
	background-color: #F0B8D6;
}

#u48251
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u48251:hover
{
	background-color: #F0607F;
}

#u48251.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u48250,#u48257,#u48258
{
	background-color: transparent;
	position: relative;
}

#u48258:hover
{
	background-color: #F0B8FF;
}

#u48258:active
{
	background-color: #F085FF;
}

#u48259-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48239.MuseMenuActive,#u48230,#u48244.MuseMenuActive,#u48248,#u48258.MuseMenuActive,#u48262
{
	background-color: transparent;
}

#u48263
{
	background-color: #F096D7;
	position: relative;
}

#u48264
{
	background-color: transparent;
	position: relative;
}

#u48265
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u48265:hover
{
	background-color: #7CB8FF;
}

#u48265:active
{
	background-color: #D1B8FF;
}

#u48265.MuseMenuActive
{
	background-color: #F0B87D;
}

#u48237-4,#u48252-4,#u48267-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u48277
{
	position: absolute;
	background-color: transparent;
}

#menuu48228,#u48280
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u48321
{
	border-width: 10px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#slideshowu48272,#u48271
{
	position: relative;
}

#u48271_states
{
	vertical-align: top;
	background: url("../images/u48271_states.png") no-repeat 0px 0px;
}

#u48271:hover #u48271_states
{
	background: url("../images/u48271_states-r.png") no-repeat 0px 0px;
}

