#u38185
{
	position: relative;
}

#menuu43889
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u43890,#u43891
{
	background-color: transparent;
	position: relative;
}

#u43891:hover
{
	background-color: #999999;
}

#u43891:active
{
	background-color: #6B6B6B;
}

#u43892-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u43900
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u43900:hover
{
	background-color: #AAAAAA;
}

#u43896,#u43897,#u43904,#u43905
{
	background-color: transparent;
	position: relative;
}

#u43891.MuseMenuActive,#u43905:hover
{
	background-color: #999999;
}

#u43905:active
{
	background-color: #6B6B6B;
}

#u43906-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u43912
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u43912:hover
{
	background-color: #AAAAAA;
}

#u43910,#u43911,#u43918,#u43919
{
	background-color: transparent;
	position: relative;
}

#u43905.MuseMenuActive,#u43919:hover
{
	background-color: #999999;
}

#u43919:active
{
	background-color: #6B6B6B;
}

#u43919.MuseMenuActive
{
	background-color: #999999;
}

#u43920-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u43895,#u43909,#u43923
{
	background-color: transparent;
}

#u43924,#u43925
{
	background-color: transparent;
	position: relative;
}

#u43928
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u43928:hover
{
	background-color: #AAAAAA;
}

#u43900.MuseMenuActive,#u43912.MuseMenuActive,#u43928.MuseMenuActive
{
	background-color: #666666;
}

#u43903-4,#u43915-4,#u43931-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u38187
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u38182-3
{
	background-color: transparent;
	font-size: 12px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u38181-4
{
	background-color: transparent;
	font-size: 12px;
	text-align: justify;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u38202
{
	position: relative;
	background: transparent url("../images/if_popular_social_media-09_2329262.png") no-repeat left top;
	background-size: contain;
}

