#u7897
{
	border-style: none;
	border-color: transparent;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	background: #FFFFFF url("../images/backtest.jpg") no-repeat left top;
	background-size: cover;
}

#u7929-4
{
	background-color: transparent;
	font-size: 116px;
	letter-spacing: 27px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7929-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7898
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u7908
{
	background-color: transparent;
	position: relative;
}

#u7908:hover
{
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
}

#u7910
{
	vertical-align: top;
	position: relative;
	background: url("../images/u7910.png") no-repeat 0px 0px;
}

#u7908:hover #u7910
{
	background: url("../images/u7910-r.png") no-repeat 0px 0px;
}

#u7908.MuseMenuActive #u7910
{
	background: url("../images/u7910-a.png") no-repeat 0px 0px;
}

#u7917
{
	background-color: transparent;
	position: relative;
}

#u7917:hover
{
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
}

#u7919
{
	vertical-align: top;
	position: relative;
	background: url("../images/u7919.png") no-repeat 0px 0px;
}

#u7917:hover #u7919
{
	background: url("../images/u7919-r.png") no-repeat 0px 0px;
}

#u7903
{
	background-color: transparent;
	position: relative;
}

#u7903:hover
{
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
}

#u7906
{
	vertical-align: top;
	position: relative;
	background: url("../images/u7906.png") no-repeat 0px 0px;
}

#u7903:hover #u7906
{
	background: url("../images/u7906-r.png") no-repeat 0px 0px;
}

#u7922
{
	background-color: transparent;
	position: relative;
}

#u7922:hover
{
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
}

#u7908.MuseMenuActive,#u7917.MuseMenuActive,#u7903.MuseMenuActive,#u7922.MuseMenuActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u7923
{
	vertical-align: top;
	position: relative;
	background: url("../images/u7923.png") no-repeat 0px 0px;
}

#u7922:hover #u7923
{
	background: url("../images/u7923-r.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u7943-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 17px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u7941:hover #u7943-4
{
	border-color: #000000;
}

#u7941:hover #u7943-4 p
{
	text-decoration: underline;
}

#u7981-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 17px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u7978:hover #u7981-4
{
	border-color: #000000;
}

#u7941.MuseMenuActive #u7943-4 p,#u7978:hover #u7981-4 p
{
	text-decoration: underline;
}

#u8012
{
	border-color: #777777;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}

#u7941.MuseMenuActive #u7943-4,#u7978.MuseMenuActive #u7981-4,#u8012:active
{
	border-style: none;
	border-color: transparent;
}

#u8013-4
{
	background-color: transparent;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u7978.MuseMenuActive #u7981-4 p,#u8012:hover #u8013-4 p
{
	text-decoration: underline;
}

#u8012:active #u8013-4 p
{
	text-decoration: underline;
}

#u8005
{
	border-color: #777777;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}

#u8005:active
{
	border-style: none;
	border-color: transparent;
}

#u8007-4
{
	background-color: transparent;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u8005:hover #u8007-4 p
{
	text-decoration: underline;
}

#u8005:active #u8007-4 p
{
	text-decoration: underline;
}

#u8028
{
	border-color: #777777;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}

#u8028:active
{
	border-style: none;
	border-color: transparent;
}

#u8012.MuseMenuActive,#u8005.MuseMenuActive,#u8028.MuseMenuActive
{
	border-color: #777777;
}

#u8031-4
{
	background-color: transparent;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u8028:hover #u8031-4 p
{
	text-decoration: underline;
}

#u8028:active #u8031-4 p
{
	text-decoration: underline;
}

#u7993-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 17px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u7990:hover #u7993-4
{
	border-color: #000000;
}

#u7990.MuseMenuActive #u7993-4
{
	border-style: none;
	border-color: transparent;
}

#u7990:hover #u7993-4 p
{
	text-decoration: underline;
}

#u8037-4
{
	background-color: transparent;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u7990.MuseMenuActive #u7993-4 p,#u8035:hover #u8037-4 p
{
	text-decoration: underline;
}

#u8044-4
{
	background-color: transparent;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u8042:hover #u8044-4 p
{
	text-decoration: underline;
}

#u8051-4
{
	background-color: transparent;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u8049:hover #u8051-4 p
{
	text-decoration: underline;
}

#u8012.MuseMenuActive #u8013-4 p,#u8005.MuseMenuActive #u8007-4 p,#u8028.MuseMenuActive #u8031-4 p,#u8035.MuseMenuActive #u8037-4 p,#u8042.MuseMenuActive #u8044-4 p,#u8049.MuseMenuActive #u8051-4 p
{
	text-decoration: none;
}

#menuu7899,#u7907,#u7914,#u7900,#u7921,#u7928-3,#menuu7930,#u7938,#u7941,#u7975,#u7978,#u7977,#u8011,#u8004,#u8027,#u7989,#u7990,#u7995,#u8034,#u8035,#u8041,#u8042,#u8048,#u8049,#u7996-3
{
	position: relative;
}

