#u38185
{
	position: relative;
}

#menuu48717
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u48718,#u48728
{
	background-color: transparent;
	position: relative;
}

#u48728:hover
{
	background-color: #F0B8FF;
}

#u48728:active
{
	background-color: #F085FF;
}

#u48729-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48720
{
	background-color: #F079FF;
	position: relative;
}

#u48722
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u48722:hover
{
	background-color: #B9B8FF;
}

#u48722:active
{
	background-color: #F0B8BA;
}

#u48722.MuseMenuActive
{
	background-color: #76B8FF;
}

#u48721,#u48746,#u48756
{
	background-color: transparent;
	position: relative;
}

#u48756:hover
{
	background-color: #F0B8FF;
}

#u48756:active
{
	background-color: #F085FF;
}

#u48757-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48748
{
	background-color: #F0B888;
	position: relative;
}

#u48748:hover
{
	background-color: #F0B8D6;
}

#u48750
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u48750:hover
{
	background-color: #F0607F;
}

#u48750.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u48749,#u48732,#u48742
{
	background-color: transparent;
	position: relative;
}

#u48742:hover
{
	background-color: #F0B8FF;
}

#u48742:active
{
	background-color: #F085FF;
}

#u48743-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48728.MuseMenuActive,#u48719,#u48756.MuseMenuActive,#u48747,#u48742.MuseMenuActive,#u48733
{
	background-color: transparent;
}

#u48734
{
	background-color: #F096D7;
	position: relative;
}

#u48735
{
	background-color: transparent;
	position: relative;
}

#u48738
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u48738:hover
{
	background-color: #7CB8FF;
}

#u48738:active
{
	background-color: #D1B8FF;
}

#u48738.MuseMenuActive
{
	background-color: #F0B87D;
}

#u48723-4,#u48751-4,#u48740-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u38187
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u38182-3
{
	background-color: transparent;
	text-align: left;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u38181-4
{
	background-color: transparent;
	text-align: justify;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u38202
{
	position: relative;
	background: transparent url("../images/if_popular_social_media-09_2329262.png") no-repeat left top;
	background-size: contain;
}

