#u48500,#u48510
{
	background-color: transparent;
	position: relative;
}

#u48510:hover
{
	background-color: #F0B8FF;
}

#u48510:active
{
	background-color: #F085FF;
}

#u48511-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48502
{
	background-color: #F079FF;
	position: relative;
}

#u48504
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u48504:hover
{
	background-color: #B9B8FF;
}

#u48504:active
{
	background-color: #F0B8BA;
}

#u48504.MuseMenuActive
{
	background-color: #76B8FF;
}

#u48503,#u48528,#u48538
{
	background-color: transparent;
	position: relative;
}

#u48538:hover
{
	background-color: #F0B8FF;
}

#u48538:active
{
	background-color: #F085FF;
}

#u48539-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48530
{
	background-color: #F0B888;
	position: relative;
}

#u48530:hover
{
	background-color: #F0B8D6;
}

#u48532
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u48532:hover
{
	background-color: #F0607F;
}

#u48532.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u48531,#u48514,#u48524
{
	background-color: transparent;
	position: relative;
}

#u48524:hover
{
	background-color: #F0B8FF;
}

#u48524:active
{
	background-color: #F085FF;
}

#u48525-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48510.MuseMenuActive,#u48501,#u48538.MuseMenuActive,#u48529,#u48524.MuseMenuActive,#u48515
{
	background-color: transparent;
}

#u48516
{
	background-color: #F096D7;
	position: relative;
}

#u48517
{
	background-color: transparent;
	position: relative;
}

#u48520
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u48520:hover
{
	background-color: #7CB8FF;
}

#u48520:active
{
	background-color: #D1B8FF;
}

#u48520.MuseMenuActive
{
	background-color: #F0B87D;
}

#u48505-4,#u48533-4,#u48522-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u48277
{
	position: absolute;
	background-color: transparent;
}

#menuu48499,#u48280
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u48321
{
	border-width: 18px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#slideshowu48272,#u48271
{
	position: relative;
}

#u48271_states
{
	vertical-align: top;
	background: url("../images/u48271_states.png") no-repeat 0px 0px;
}

#u48271:hover #u48271_states
{
	background: url("../images/u48271_states-r.png") no-repeat 0px 0px;
}

