#menuu48587
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u48588,#u48598
{
	background-color: transparent;
	position: relative;
}

#u48598:hover
{
	background-color: #F0B8FF;
}

#u48598:active
{
	background-color: #F085FF;
}

#u48599-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48590
{
	background-color: #F079FF;
	position: relative;
}

#u48592
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u48592:hover
{
	background-color: #B9B8FF;
}

#u48592:active
{
	background-color: #F0B8BA;
}

#u48592.MuseMenuActive
{
	background-color: #76B8FF;
}

#u48591,#u48616,#u48626
{
	background-color: transparent;
	position: relative;
}

#u48626:hover
{
	background-color: #F0B8FF;
}

#u48626:active
{
	background-color: #F085FF;
}

#u48627-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48618
{
	background-color: #F0B888;
	position: relative;
}

#u48618:hover
{
	background-color: #F0B8D6;
}

#u48620
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u48620:hover
{
	background-color: #F0607F;
}

#u48620.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u48619,#u48602,#u48612
{
	background-color: transparent;
	position: relative;
}

#u48612:hover
{
	background-color: #F0B8FF;
}

#u48612:active
{
	background-color: #F085FF;
}

#u48613-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48598.MuseMenuActive,#u48589,#u48626.MuseMenuActive,#u48617,#u48612.MuseMenuActive,#u48603
{
	background-color: transparent;
}

#u48604
{
	background-color: #F096D7;
	position: relative;
}

#u48605
{
	background-color: transparent;
	position: relative;
}

#u48608
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u48608:hover
{
	background-color: #7CB8FF;
}

#u48608:active
{
	background-color: #D1B8FF;
}

#u48608.MuseMenuActive
{
	background-color: #F0B87D;
}

#u48593-4,#u48621-4,#u48610-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u43740
{
	position: relative;
	background: transparent url("../images/dsc03458.jpg") no-repeat center top;
	background-size: cover;
}

