#menuu48673
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u48674,#u48684
{
	background-color: transparent;
	position: relative;
}

#u48684:hover
{
	background-color: #F0B8FF;
}

#u48684:active
{
	background-color: #F085FF;
}

#u48685-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48676
{
	background-color: #F079FF;
	position: relative;
}

#u48678
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u48678:hover
{
	background-color: #B9B8FF;
}

#u48678:active
{
	background-color: #F0B8BA;
}

#u48678.MuseMenuActive
{
	background-color: #76B8FF;
}

#u48677,#u48702,#u48712
{
	background-color: transparent;
	position: relative;
}

#u48712:hover
{
	background-color: #F0B8FF;
}

#u48712:active
{
	background-color: #F085FF;
}

#u48713-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48704
{
	background-color: #F0B888;
	position: relative;
}

#u48704:hover
{
	background-color: #F0B8D6;
}

#u48706
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u48706:hover
{
	background-color: #F0607F;
}

#u48706.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u48705,#u48688,#u48698
{
	background-color: transparent;
	position: relative;
}

#u48698:hover
{
	background-color: #F0B8FF;
}

#u48698:active
{
	background-color: #F085FF;
}

#u48699-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48684.MuseMenuActive,#u48675,#u48712.MuseMenuActive,#u48703,#u48698.MuseMenuActive,#u48689
{
	background-color: transparent;
}

#u48690
{
	background-color: #F096D7;
	position: relative;
}

#u48691
{
	background-color: transparent;
	position: relative;
}

#u48694
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u48694:hover
{
	background-color: #7CB8FF;
}

#u48694:active
{
	background-color: #D1B8FF;
}

#u48694.MuseMenuActive
{
	background-color: #F0B87D;
}

#u48679-4,#u48707-4,#u48696-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u43817
{
	position: relative;
	background: transparent url("../images/dsc03741.jpg") no-repeat center center;
	background-size: cover;
}

