#menuu48542
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u48543,#u48553
{
	background-color: transparent;
	position: relative;
}

#u48553:hover
{
	background-color: #F0B8FF;
}

#u48553:active
{
	background-color: #F085FF;
}

#u48554-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48545
{
	background-color: #F079FF;
	position: relative;
}

#u48547
{
	border-color: #777777;
	background-color: #F0CED6;
	position: relative;
}

#u48547:hover
{
	background-color: #B9B8FF;
}

#u48547:active
{
	background-color: #F0B8BA;
}

#u48547.MuseMenuActive
{
	background-color: #76B8FF;
}

#u48546,#u48571,#u48581
{
	background-color: transparent;
	position: relative;
}

#u48581:hover
{
	background-color: #F0B8FF;
}

#u48581:active
{
	background-color: #F085FF;
}

#u48582-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48573
{
	background-color: #F0B888;
	position: relative;
}

#u48573:hover
{
	background-color: #F0B8D6;
}

#u48575
{
	border-color: #777777;
	background-color: #F09486;
	position: relative;
}

#u48575:hover
{
	background-color: #F0607F;
}

#u48575.MuseMenuActive
{
	background-color: #F0E8FF;
}

#u48574,#u48557,#u48567
{
	background-color: transparent;
	position: relative;
}

#u48567:hover
{
	background-color: #F0B8FF;
}

#u48567:active
{
	background-color: #F085FF;
}

#u48568-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u48553.MuseMenuActive,#u48544,#u48581.MuseMenuActive,#u48572,#u48567.MuseMenuActive,#u48558
{
	background-color: transparent;
}

#u48559
{
	background-color: #F096D7;
	position: relative;
}

#u48560
{
	background-color: transparent;
	position: relative;
}

#u48563
{
	border-color: #777777;
	background-color: #97B88C;
	position: relative;
}

#u48563:hover
{
	background-color: #7CB8FF;
}

#u48563:active
{
	background-color: #D1B8FF;
}

#u48563.MuseMenuActive
{
	background-color: #F0B87D;
}

#u48548-4,#u48576-4,#u48565-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u43636
{
	position: relative;
	background: transparent url("../images/img_20190911_171444-u43636-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

