.version.millinery /* version checker */
{
	color: #00000B;
	background-color: #0CA9FD;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 926px;
	min-height: 930px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 13px 107px 14px;
}

#menuu36245
{
	z-index: 2;
	width: 105px;
	margin-left: 44px;
}

#u36246
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u36247
{
	width: 51px;
	padding-bottom: 22px;
}

#u36247:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36247:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36247.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36248-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u36247:hover #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36247:active #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36247.MuseMenuActive #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36253
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u36254
{
	width: 52px;
	padding-bottom: 22px;
}

#u36254:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36254:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36254.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36257-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u36254:hover #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u36254:active #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u36254.MuseMenuActive #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#pu37857
{
	width: 0.01px;
}

#u37857
{
	z-index: 15;
	width: 767px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 48px;
	padding: 40px 44px 54px 25px;
}

#pu37859
{
	width: 0.01px;
	margin-left: 18px;
}

#u37859
{
	z-index: 59;
	width: 207px;
	height: 222px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/1-u37859-fr.png") no-repeat center bottom;
	background-size: cover;
}

#u37861
{
	z-index: 65;
	width: 436px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 313px;
	background: #7F7F7F url("../images/history5.jpg") no-repeat center center;
	background-size: cover;
}

#u37862
{
	z-index: 66;
	width: 492px;
	height: 222px;
	position: relative;
	margin-right: -10000px;
	left: -56px;
	background: transparent url("../images/2.jpg") no-repeat left center;
	background-size: cover;
}

#u37860-5
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
}

#u37858-43
{
	z-index: 16;
	width: 375px;
	min-height: 455px;
	background-color: transparent;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 18px;
	position: relative;
}

#u37858-5,#u37858-7,#u37858-9,#u37858-11,#u37858-12,#u37858-13,#u37858-17,#u37858-19,#u37858-20,#u37858-21,#u37858-25,#u37858-27,#u37858-29,#u37858-31,#u37858-32,#u37858-33,#u37858-34,#u37858-35
{
	font-size: 13px;
	line-height: 1.3;
}

#u37858-3,#u37858-15,#u37858-23,#u37858-37
{
	line-height: 1.3;
	font-weight: bold;
}

#u37858-39,#u37858-41
{
	font-size: 13px;
	line-height: 1.3;
	font-weight: normal;
}

#u37863-3
{
	z-index: 67;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 421px;
}

#u37863-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 925px;
	margin: 421px -10001px -1px 0px;
}

#u37864-43
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 387px;
	left: 467px;
}

#u42883-3
{
	z-index: 113;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
}

#u42883-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 925px;
	margin: 437px -10001px -1px 0px;
}

#u42884-3
{
	z-index: 116;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
}

#u42884-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 925px;
	margin: 457px -10001px -1px 0px;
}

#u42885-3
{
	z-index: 119;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 473px;
}

#u42885-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 925px;
	margin: 473px -10001px -1px 0px;
}

#u42886-3
{
	z-index: 122;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 542px;
}

#u42886-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 925px;
	margin: 542px -10001px -1px 0px;
}

#u42887-3
{
	z-index: 125;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
}

#u42887-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 925px;
	margin: 558px -10001px -1px 0px;
}

#u42888-3
{
	z-index: 128;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 627px;
}

#u42888-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 925px;
	margin: 627px -10001px -1px 0px;
}

#u42889-3
{
	z-index: 131;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 643px;
}

#u42889-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 925px;
	margin: 643px -10001px -1px 0px;
}

#u42890-3
{
	z-index: 134;
	width: 926px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 659px;
}

#u42890-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 925px;
	margin: 659px -10001px -1px 0px;
}

#u42891-3
{
	z-index: 137;
	width: 926px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 677px;
}

#u42891-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 925px;
	margin: 677px -10001px -1px 0px;
}

#u42892-3
{
	z-index: 140;
	width: 926px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 781px;
}

#u42892-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 925px;
	margin: 781px -10001px -1px 0px;
}

#u42893-3
{
	z-index: 143;
	width: 926px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 799px;
}

#u42893-3:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #603813;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 925px;
	margin: 799px -10001px -1px 0px;
}

#u37863-3:hover p,#u42883-3:hover p,#u42884-3:hover p,#u42885-3:hover p,#u42886-3:hover p,#u42887-3:hover p,#u42888-3:hover p,#u42889-3:hover p,#u42890-3:hover p,#u42891-3:hover p,#u42892-3:hover p,#u42893-3:hover p
{
	color: #5A0804;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

