.version.millinery___floral /* version checker */
{
	color: #0000E9;
	background-color: #6144C6;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 635px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -216px;
	padding-bottom: 33px;
}

#pu7897
{
	width: 0.01px;
	margin-left: -284px;
}

#u7897,#u7897-bw
{
	z-index: 2;
	height: 215px;
}

#u7929-4
{
	z-index: 3;
	width: 942px;
	min-height: 133px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 293px;
}

#u7929-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	margin: 7px -10000px 0px 0px;
}

#u7898
{
	z-index: 7;
	width: 911px;
	height: 7px;
	margin-right: -10000px;
	margin-top: 150px;
	left: 307px;
}

#menuu7899
{
	z-index: 8;
	width: 1219px;
	margin-right: -10000px;
	margin-top: 173px;
}

#u7907
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
}

#u7908
{
	width: 303px;
	padding-bottom: 15px;
}

#u7908:hover
{
	margin: 0px;
}

#u7914
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u7917
{
	width: 303px;
	padding-bottom: 15px;
}

#u7908.MuseMenuActive,#u7917:hover
{
	margin: 0px;
}

#u7900
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 610px;
}

#u7903
{
	width: 303px;
	padding-bottom: 15px;
}

#u7917.MuseMenuActive,#u7903:hover
{
	margin: 0px;
}

#u7910,#u7919,#u7906
{
	height: 19px;
	width: 303px;
	margin-right: -10000px;
	top: 7px;
}

#u7921
{
	width: 304px;
	min-height: 34px;
	margin-right: -10000px;
	left: 915px;
}

#u7922
{
	width: 304px;
	padding-bottom: 15px;
}

#u7903.MuseMenuActive,#u7922:hover
{
	margin: 0px;
}

#u7922.MuseMenuActive
{
	margin: 0px;
}

#u7923
{
	height: 19px;
	width: 304px;
	margin-right: -10000px;
	top: 7px;
}

#slideshowu9090
{
	z-index: 95;
	width: 0.01px;
	height: 0px;
	padding-bottom: 499px;
	margin-left: 169px;
	margin-top: 104px;
	position: relative;
}

#u9105
{
	position: absolute;
	width: 736px;
	height: 499px;
	background-color: transparent;
}

#u9105popup
{
	z-index: 96;
}

#u9110
{
	z-index: 97;
	width: 736px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9130
{
	z-index: 99;
	width: 736px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9110_img,#u9130_img
{
	margin: -41px 146px -42px;
}

#u9210
{
	z-index: 101;
	width: 736px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9227
{
	z-index: 103;
	width: 736px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9210_img,#u9227_img
{
	padding-top: 20px;
	padding-bottom: 19px;
}

#u9526
{
	z-index: 105;
	width: 736px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9110_clip,#u9130_clip,#u9526_clip
{
	overflow: hidden;
	width: 736px;
	height: 499px;
}

#u9526_img
{
	margin-left: 118px;
	margin-right: 118px;
	margin-bottom: -1px;
}

#u9112
{
	width: 434px;
	position: fixed;
	top: 250px;
	left: 50%;
	margin-left: -143px;
}

#u9112popup
{
	z-index: 107;
}

#u9114-4
{
	z-index: 108;
	width: 404px;
	min-height: 22px;
	padding: 15px;
	letter-spacing: 3px;
	color: #999999;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9136-4
{
	z-index: 112;
	width: 404px;
	min-height: 22px;
	padding: 15px;
	letter-spacing: 3px;
	color: #999999;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9216-4
{
	z-index: 116;
	width: 404px;
	min-height: 22px;
	padding: 15px;
	letter-spacing: 3px;
	color: #999999;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9233-4
{
	z-index: 120;
	width: 404px;
	min-height: 22px;
	padding: 15px;
	letter-spacing: 3px;
	color: #999999;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9532-4
{
	z-index: 124;
	width: 404px;
	min-height: 22px;
	padding: 15px;
	letter-spacing: 3px;
	color: #999999;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u9095-4
{
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F6F3;
	padding: 15px;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: fixed;
	top: 256px;
	left: 50%;
	margin-left: -204px;
}

#u9095-4popup
{
	z-index: 128;
}

#u9095
{
	color: #999999;
}

#u9103-4
{
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F6F3;
	padding: 15px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: fixed;
	top: 250px;
	left: 50%;
	margin-left: 287px;
}

#u9103-4popup
{
	z-index: 132;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu7928-3
{
	width: 0.01px;
	padding-bottom: 22px;
	margin-left: 23px;
	margin-top: -522px;
}

#u7928-3
{
	z-index: 30;
	width: 5px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 107px;
}

#menuu7930
{
	z-index: 33;
	width: 112px;
	margin-right: -10000px;
}

#u7938
{
	width: 112px;
}

#u7941
{
	width: 112px;
	min-height: 41px;
	margin-right: -10000px;
}

#u7943-4
{
	width: 112px;
	min-height: 20px;
}

#u7941:hover #u7943-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7975
{
	width: 112px;
	margin-top: 23px;
}

#u7981-4
{
	width: 112px;
	min-height: 20px;
}

#u7941.MuseMenuActive #u7943-4,#u7978:hover #u7981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u8005
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8005:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8012
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8005.MuseMenuActive,#u8012:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8028
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8012.MuseMenuActive,#u8028:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8007-4,#u8013-4,#u8031-4
{
	width: 110px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u7989
{
	width: 112px;
	margin-top: 24px;
}

#u7978,#u7990
{
	width: 112px;
	min-height: 42px;
	margin-right: -10000px;
}

#u7993-4
{
	width: 112px;
	min-height: 20px;
}

#u7978.MuseMenuActive #u7981-4,#u7990:hover #u7993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7990.MuseMenuActive #u7993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u7976,#u7994
{
	width: 120px;
	left: 112px;
}

#u8035
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8028.MuseMenuActive,#u8035:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8042
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8035.MuseMenuActive,#u8042:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7977,#u8004,#u8011,#u8027,#u7995,#u8034,#u8041,#u8048
{
	width: 120px;
}

#u8049
{
	width: 114px;
	padding: 2px;
	margin-right: -10000px;
}

#u8042.MuseMenuActive,#u8049:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8049.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8037-4,#u8044-4,#u8051-4
{
	width: 110px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
}

#u7996-3
{
	z-index: 92;
	width: 5px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 216px;
}

#page .verticalspacer
{
	clear: both;
}

