.version.millinery /* version checker */
{
	color: #000000;
	background-color: #912D94;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 927px;
	min-height: 930px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 13px 107px;
}

#menuu36245
{
	z-index: 2;
	width: 105px;
	margin-left: 45px;
}

#u36246
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u36247
{
	width: 51px;
	padding-bottom: 22px;
}

#u36247:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36247:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36247.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u36248-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u36247:hover #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36247:active #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36247.MuseMenuActive #u36248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u36253
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u36254
{
	width: 52px;
	padding-bottom: 22px;
}

#u36254:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36254:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36254.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u36257-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u36254:hover #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u36254:active #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u36254.MuseMenuActive #u36257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#pu37857
{
	width: 0.01px;
}

#u37857
{
	z-index: 15;
	width: 767px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 48px;
	padding: 40px 44px 54px 25px;
}

#pu37859
{
	width: 0.01px;
	margin-left: 18px;
}

#u37859
{
	z-index: 49;
	width: 207px;
	height: 222px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/%eb%b3%b5%ea%b3%bc%eb%88%881-u37859-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u37861
{
	z-index: 55;
	width: 436px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 313px;
	background: #7F7F7F url("../images/history5.jpg") no-repeat center center;
	background-size: cover;
}

#u37862
{
	z-index: 56;
	width: 492px;
	height: 222px;
	position: relative;
	margin-right: -10000px;
	left: -56px;
	background: transparent url("../images/%eb%b3%b5%ea%b3%bc%eb%88%889-u37862-fr.jpg") no-repeat left center;
	background-size: cover;
}

#u37860-5
{
	z-index: 50;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
}

#u37858-33
{
	z-index: 16;
	width: 375px;
	min-height: 455px;
	background-color: transparent;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 18px;
	position: relative;
}

#u37858-5,#u37858-7,#u37858-9,#u37858-10,#u37858-11,#u37858-15,#u37858-17,#u37858-18,#u37858-19,#u37858-23,#u37858-25,#u37858-26,#u37858-27
{
	font-size: 13px;
	line-height: 1.3;
}

#u37858-3,#u37858-13,#u37858-21,#u37858-29
{
	line-height: 1.3;
	font-weight: bold;
}

#u37858-31
{
	font-size: 13px;
	line-height: 1.3;
	font-weight: normal;
}

#u37863-5
{
	z-index: 57;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 421px;
}

#u37863-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 421px -10000px 0px 0px;
}

#u37864-33
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 387px;
	left: 467px;
}

#u37865-5
{
	z-index: 95;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
}

#u37865-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 437px -10000px 0px 0px;
}

#u37866-5
{
	z-index: 100;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
}

#u37866-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 524px -10000px 0px 0px;
}

#u37867-5
{
	z-index: 105;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
}

#u37867-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 540px -10000px 0px 0px;
}

#u37868-5
{
	z-index: 110;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 608px;
}

#u37868-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 608px -10000px 0px 0px;
}

#u37869-5
{
	z-index: 115;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 624px;
}

#u37869-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 624px -10000px 0px 0px;
}

#u37870-5
{
	z-index: 120;
	width: 926px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 454px;
}

#u37870-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 926px;
	margin: 454px -10000px 0px 0px;
}

#u41940-5
{
	z-index: 125;
	width: 926px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 0.9;
	color: #5A0804;
	font-size: 15px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 692px;
}

#u41940-5:hover
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 926px;
	margin: 692px -10000px 0px 0px;
}

#u37863-5:hover p,#u37863-5:hover span,#u37865-5:hover p,#u37865-5:hover span,#u37866-5:hover p,#u37866-5:hover span,#u37867-5:hover p,#u37867-5:hover span,#u37868-5:hover p,#u37868-5:hover span,#u37869-5:hover p,#u37869-5:hover span,#u37870-5:hover p,#u37870-5:hover span,#u41940-5:hover p,#u41940-5:hover span
{
	color: #5A0804;
	visibility: inherit;
}

#u37863-3,#u37865-3,#u37866-3,#u37867-3,#u37868-3,#u37869-3,#u37870-3,#u41940-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u37863-3  span,#u37865-3  span,#u37866-3  span,#u37867-3  span,#u37868-3  span,#u37869-3  span,#u37870-3  span,#u41940-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 0.9;
}

#u37863-2,#u37865-2,#u37866-2,#u37867-2,#u37868-2,#u37869-2,#u37870-2,#u41940-2
{
	font-size: 14px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

