.version.mixfloral /* version checker */
{
	color: #0000E5;
	background-color: #BB9385;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 1000px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 11px;
	width: 0.01px;
}

#pmenuu48499
{
	width: 0.01px;
	margin-left: 58px;
}

#menuu48499
{
	z-index: 6;
	width: 203px;
	margin-right: -10000px;
}

#u48500
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u48510
{
	width: 66px;
	padding-bottom: 20px;
}

#u48510:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48510:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48511-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48510:hover #u48511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48510:active #u48511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48504
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48504:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48504:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48528
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u48538
{
	width: 66px;
	padding-bottom: 20px;
}

#u48510.MuseMenuActive,#u48538:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48538:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48538.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48539-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48510.MuseMenuActive #u48511-4,#u48538:hover #u48539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48538:active #u48539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48538.MuseMenuActive #u48539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48502,#u48503,#u48530
{
	width: 120px;
}

#u48530:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u48532
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48504.MuseMenuActive,#u48532:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48505-4,#u48533-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u48514
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u48524
{
	width: 67px;
	padding-bottom: 20px;
}

#u48524:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48524:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48524.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48525-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48524:hover #u48525-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48524:active #u48525-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48524.MuseMenuActive #u48525-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48501,#u48529,#u48515
{
	width: 120px;
	top: 39px;
}

#u48531,#u48516,#u48517
{
	width: 120px;
}

#u48520
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u48532.MuseMenuActive,#u48520:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48520:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48520.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48522-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u46801-3
{
	z-index: 78;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 611px;
}

#slideshowu46804
{
	z-index: 50;
	width: 0.01px;
	height: 942px;
	margin-top: 8px;
	position: relative;
}

#u46805
{
	position: absolute;
	width: 828px;
	height: 881px;
	background-color: transparent;
	left: 63px;
}

#u46805popup
{
	z-index: 51;
}

#u46806
{
	z-index: 52;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46852
{
	z-index: 54;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46861
{
	z-index: 56;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46806_img,#u46852_img,#u46861_img
{
	padding: 120px 169px 120px 170px;
}

#u46870
{
	z-index: 58;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46870_clip
{
	overflow: hidden;
	width: 828px;
	height: 881px;
}

#u46870_img
{
	margin-left: -26px;
	margin-right: -27px;
}

#u46821-3
{
	position: absolute;
	width: 203px;
	min-height: 922px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u46821-3popup
{
	z-index: 60;
}

#u46827-3
{
	position: absolute;
	width: 203px;
	min-height: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 730px;
}

#u46827-3popup
{
	z-index: 63;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u48321
{
	z-index: 2;
	width: 471px;
	margin-left: 223px;
	top: -812px;
	margin-bottom: -623px;
}

#u49112
{
	z-index: 49;
	width: 489px;
	height: 640px;
	margin-bottom: -26px;
	margin-right: -10000px;
	margin-top: -27px;
	left: -9px;
}

.ie #u49112
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#ppu48271
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: -165px;
}

#u48271
{
	z-index: 4;
	width: 837px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u48271_states
{
	height: 104px;
	width: 837px;
}

#u46803-12
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 182px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

