.version.nightbead /* version checker */
{
	color: #0000FB;
	background-color: #2FD565;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 1000px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu44238
{
	z-index: 49;
	width: 0.01px;
	height: 942px;
	margin-right: -10000px;
	margin-top: 58px;
}

#u44249popup
{
	z-index: 50;
}

#u44249
{
	width: 836px;
	height: 890px;
	top: -4px;
	left: 58px;
}

#u44250
{
	z-index: 51;
	width: 828px;
	height: 882px;
	margin-right: -10000px;
}

#u44247-3popup
{
	z-index: 52;
}

#u44247-3
{
	width: 38px;
	min-height: 922px;
	padding: 10px;
}

#u44246-3popup
{
	z-index: 55;
}

#u44246-3
{
	width: 38px;
	min-height: 921px;
	padding: 10px;
	top: 1px;
	left: 895px;
}

#slideshowu46539
{
	z-index: 61;
	width: 0.01px;
	height: 942px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
}

#u46555
{
	position: absolute;
	width: 828px;
	height: 881px;
	background-color: transparent;
	left: 63px;
}

#u46555popup
{
	z-index: 62;
}

#u46556
{
	z-index: 63;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46591
{
	z-index: 65;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46600
{
	z-index: 67;
	width: 828px;
	height: 881px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46556_img,#u46591_img,#u46600_img
{
	padding: 120px 169px 120px 170px;
}

#u46550-3
{
	position: absolute;
	width: 203px;
	min-height: 922px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u46550-3popup
{
	z-index: 69;
}

#u46564-3
{
	position: absolute;
	width: 203px;
	min-height: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 730px;
}

#u46564-3popup
{
	z-index: 72;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#ppmenuu44181
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 58px;
}

#pmenuu44181
{
	width: 0.01px;
}

#menuu44181
{
	z-index: 3;
	width: 203px;
	margin-right: -10000px;
}

#u44182
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u44183
{
	width: 66px;
	padding-bottom: 20px;
}

#u44183:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u44183:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u44184-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u44183:hover #u44184-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u44183:active #u44184-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u44190
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u44190:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u44190:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u44196
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u44206
{
	width: 66px;
	padding-bottom: 20px;
}

#u44183.MuseMenuActive,#u44206:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u44206:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u44206.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u44209-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u44183.MuseMenuActive #u44184-4,#u44206:hover #u44209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u44206:active #u44209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u44206.MuseMenuActive #u44209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u44188,#u44189,#u44198
{
	width: 120px;
}

#u44198:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u44202
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u44190.MuseMenuActive,#u44202:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u44192-4,#u44203-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u44210
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u44220
{
	width: 67px;
	padding-bottom: 20px;
}

#u44220:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u44220:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u44220.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u44221-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u44220:hover #u44221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u44220:active #u44221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u44220.MuseMenuActive #u44221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u44187,#u44197,#u44211
{
	width: 120px;
	top: 39px;
}

#u44199,#u44212,#u44213
{
	width: 120px;
}

#u44214
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u44202.MuseMenuActive,#u44214:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u44214:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u44214.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u44215-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u46538-3
{
	z-index: 94;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 611px;
}

#pu44180
{
	width: 0.01px;
	margin-top: 7px;
}

#u44180
{
	z-index: 2;
	width: 836px;
	height: 880px;
	margin-right: -10000px;
}

#u44224
{
	z-index: 59;
	width: 837px;
	margin-right: -10000px;
	margin-top: 780px;
}

#u44224_states
{
	height: 104px;
	width: 837px;
}

#u46565-12
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 778px;
	left: 182px;
}

#pu44179-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 58px;
	margin-left: 970px;
}

#u44179-3
{
	z-index: 46;
	width: 450px;
	min-height: 777px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u46537-7
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

