.version.page1 /* version checker */
{
	color: #000000;
	background-color: #4C0C42;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 1590px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u48174-11
{
	z-index: 66;
	width: 63px;
	min-height: 1589px;
	background-color: transparent;
	opacity: 0.34;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=34)";
	filter: alpha(opacity=34);
	font-size: 100px;
	position: relative;
	margin-right: -10000px;
	left: -5px;
}

#u48174-11:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1589px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#pmenuu48630
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 58px;
}

#menuu48630
{
	z-index: 3;
	width: 203px;
}

#u48631
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u48641
{
	width: 66px;
	padding-bottom: 20px;
}

#u48641:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48641:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48642-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48641:hover #u48642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48641:active #u48642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48635
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48635:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48635:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48659
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u48669
{
	width: 66px;
	padding-bottom: 20px;
}

#u48641.MuseMenuActive,#u48669:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48669:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48669.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48670-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48641.MuseMenuActive #u48642-4,#u48669:hover #u48670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48669:active #u48670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48669.MuseMenuActive #u48670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48633,#u48634,#u48661
{
	width: 120px;
}

#u48661:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u48663
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48635.MuseMenuActive,#u48663:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48636-4,#u48664-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u48645
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u48655
{
	width: 67px;
	padding-bottom: 20px;
}

#u48655:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48655:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48655.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48656-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48655:hover #u48656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48655:active #u48656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48655.MuseMenuActive #u48656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48632,#u48660,#u48646
{
	width: 120px;
	top: 39px;
}

#u48662,#u48647,#u48648
{
	width: 120px;
}

#u48651
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u48663.MuseMenuActive,#u48651:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48651:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48651.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48653-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu43687
{
	width: 0.01px;
	margin-top: 8px;
}

#u43687
{
	z-index: 2;
	width: 837px;
	padding-bottom: 1327px;
	margin-right: -10000px;
}

#u48203-3
{
	z-index: 86;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 49px;
}

#u48127
{
	z-index: 47;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 219px;
	left: 207px;
}

#u48127_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48127_states.png") no-repeat 0px 0px;
}

#u48127:hover #u48127_states
{
	background: url("../images/u48127_states-r.png") no-repeat 0px 0px;
}

#u48130
{
	z-index: 50;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 317px;
	left: 207px;
}

#u48130_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48130_states.png") no-repeat 0px 0px;
}

#u48130:hover #u48130_states
{
	background: url("../images/u48130_states-r.png") no-repeat 0px 0px;
}

#u48149
{
	z-index: 53;
	position: relative;
	width: 574px;
	margin-right: -10000px;
	margin-top: 1233px;
	left: 165px;
}

#u48149_states
{
	height: 98px;
	width: 574px;
	vertical-align: top;
	background: url("../images/u48149_states.png") no-repeat 0px 0px;
}

#u48149:hover #u48149_states
{
	background: url("../images/u48149_states-r.png") no-repeat 0px 0px;
}

#u48176
{
	z-index: 78;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 1037px;
	left: 207px;
}

#u48176_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48176_states.png") no-repeat 0px 0px;
}

#u48176:hover #u48176_states
{
	background: url("../images/u48176_states-r.png") no-repeat 0px 0px;
}

#u48198
{
	z-index: 81;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 121px;
	left: 207px;
}

#u48198_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48198_states.png") no-repeat 0px 0px;
}

#u48198:hover #u48198_states
{
	background: url("../images/u48198_states-r.png") no-repeat 0px 0px;
}

#u48202
{
	z-index: 84;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 415px;
	left: 207px;
}

#u48202_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48202_states.png") no-repeat 0px 0px;
}

#u48202:hover #u48202_states
{
	background: url("../images/u48202_states-r.png") no-repeat 0px 0px;
}

#u48204
{
	z-index: 90;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 1135px;
	left: 207px;
}

#u48204_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u48204_states.png") no-repeat 0px 0px;
}

#u48204:hover #u48204_states
{
	background: url("../images/u48204_states-r.png") no-repeat 0px 0px;
}

#u48173-11
{
	z-index: 55;
	width: 58px;
	min-height: 1589px;
	background-color: transparent;
	opacity: 0.34;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=34)";
	filter: alpha(opacity=34);
	font-size: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 895px;
}

#u48173-11:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1589px;
	width: 58px;
	margin: 1px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

