.version.page3 /* version checker */
{
	color: #0000FE;
	background-color: #D2D4FF;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 1590px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pmenuu43644
{
	width: 0.01px;
	margin-right: -10000px;
}

#menuu43644
{
	z-index: 2;
	width: 203px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 58px;
}

#u43645
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u43646
{
	width: 66px;
	padding-bottom: 20px;
}

#u43646:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43646:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43649-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43646:hover #u43649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43646:active #u43649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43653
{
	width: 118px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u43653:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43659
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u43669
{
	width: 66px;
	padding-bottom: 20px;
}

#u43646.MuseMenuActive,#u43669:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43669:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43669.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43672-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43646.MuseMenuActive #u43649-4,#u43669:hover #u43672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43669:active #u43672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43669.MuseMenuActive #u43672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43665
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43653.MuseMenuActive,#u43665:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43673
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u43674
{
	width: 67px;
	padding-bottom: 20px;
}

#u43674:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43674:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43674.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43676-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43674:hover #u43676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43674:active #u43676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43674.MuseMenuActive #u43676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43650,#u43660,#u43678
{
	width: 120px;
	top: 39px;
}

#u43651,#u43652,#u43661,#u43662,#u43679,#u43680
{
	width: 120px;
}

#u43681
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43665.MuseMenuActive,#u43681:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43681.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43656-4,#u43666-4,#u43684-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u43687
{
	z-index: 45;
	width: 837px;
	height: 1487px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 58px;
}

#u48190
{
	z-index: 47;
	position: relative;
	width: 491px;
	margin-right: -10000px;
	margin-top: 205px;
	left: 259px;
}

#u48190_states
{
	height: 101px;
	width: 491px;
	vertical-align: top;
	background: url("../images/u48190_states.png") no-repeat 0px 0px;
}

#u48190:hover #u48190_states
{
	background: url("../images/u48190_states-r.png") no-repeat 0px 0px;
}

#u48188-11
{
	z-index: 60;
	width: 63px;
	min-height: 1589px;
	background-color: transparent;
	opacity: 0.34;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=34)";
	filter: alpha(opacity=34);
	font-size: 100px;
	position: relative;
	margin-right: -10000px;
}

#u48188-11:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1589px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u48186
{
	z-index: 72;
	position: relative;
	width: 491px;
	margin-right: -10000px;
	margin-top: 302px;
	left: 259px;
}

#u48186_states
{
	height: 101px;
	width: 491px;
	vertical-align: top;
	background: url("../images/u48186_states.png") no-repeat 0px 0px;
}

#u48186:hover #u48186_states
{
	background: url("../images/u48186_states-r.png") no-repeat 0px 0px;
}

#u48185
{
	z-index: 75;
	position: relative;
	width: 491px;
	margin-right: -10000px;
	margin-top: 400px;
	left: 259px;
}

#u48185_states
{
	height: 101px;
	width: 491px;
	vertical-align: top;
	background: url("../images/u48185_states.png") no-repeat 0px 0px;
}

#u48185:hover #u48185_states
{
	background: url("../images/u48185_states-r.png") no-repeat 0px 0px;
}

#u48187
{
	z-index: 78;
	position: relative;
	width: 491px;
	margin-right: -10000px;
	margin-top: 498px;
	left: 259px;
}

#u48187_states
{
	height: 101px;
	width: 491px;
	vertical-align: top;
	background: url("../images/u48187_states.png") no-repeat 0px 0px;
}

#u48187:hover #u48187_states
{
	background: url("../images/u48187_states-r.png") no-repeat 0px 0px;
}

#u48189-11
{
	z-index: 49;
	width: 58px;
	min-height: 1589px;
	background-color: transparent;
	opacity: 0.34;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=34)";
	filter: alpha(opacity=34);
	font-size: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 900px;
}

#u48189-11:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1589px;
	width: 58px;
	margin: 1px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

