.version.rabit_furr_study /* version checker */
{
	color: #0000EA;
	background-color: #9621EA;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 2696px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 676px;
	width: 0.01px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u28793-6
{
	z-index: 53;
	width: 360px;
	min-height: 125px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 455px;
}

#u28793-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 125px;
	width: 360px;
	margin: 23px -10000px 0px 0px;
}

#pu12901,#pu12900
{
	width: 0.01px;
	margin-left: -100px;
}

#u12900
{
	z-index: 6;
	height: 52px;
}

#u12900-bw
{
	z-index: 6;
	height: 52px;
}

#menuu12806
{
	z-index: 7;
	width: 1015px;
	margin-right: -10000px;
	left: 100px;
}

#u12842
{
	width: 248px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 248px;
	padding-bottom: 28px;
}

#u12843:hover
{
	width: 248px;
	min-height: 0px;
	margin: 0px;
}

#u12843.MuseMenuActive
{
	width: 248px;
	min-height: 0px;
	margin: 0px;
}

#u12845-4
{
	width: 100px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12843:hover #u12845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u12843.MuseMenuActive #u12845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u12814
{
	width: 280px;
	min-height: 52px;
	margin-right: -10000px;
	left: 250px;
}

#u12838
{
	width: 280px;
	padding-bottom: 28px;
}

#u12838.MuseMenuActive
{
	width: 280px;
	min-height: 0px;
	margin: 0px;
}

#u12841-4
{
	width: 132px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12838:hover #u12841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u12838.MuseMenuActive #u12841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u12825.MuseMenuActive #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u12832.MuseMenuActive #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 218px;
	min-height: 52px;
	margin-right: -10000px;
	left: 532px;
}

#u12873
{
	width: 218px;
	padding-bottom: 28px;
}

#u12873.MuseMenuActive
{
	width: 218px;
	min-height: 0px;
	margin: 0px;
}

#u12876-4
{
	width: 70px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12873:hover #u12876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u12873.MuseMenuActive #u12876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 263px;
	min-height: 52px;
	margin-right: -10000px;
	left: 752px;
}

#u12810
{
	width: 263px;
	padding-bottom: 28px;
}

#u12810.MuseMenuActive
{
	width: 263px;
	min-height: 0px;
	margin: 0px;
}

#u12812-4
{
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	top: 14px;
	left: 74px;
}

#u12810:hover #u12812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u12810.MuseMenuActive #u12812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu17000
{
	z-index: 59;
	width: 0.01px;
	height: 1940px;
	margin-left: 327px;
	margin-top: 80px;
	position: relative;
}

#u17008
{
	position: absolute;
	width: 1326px;
	height: 959px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -24px;
	left: -620px;
	-pie-background: rgba(0,0,0,0.9);
}

#u17008popup
{
	z-index: 60;
}

#u17095
{
	z-index: 61;
	width: 1282px;
	height: 897px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17095_img
{
	padding: 24px 55px 24px 54px;
}

#u17077
{
	z-index: 63;
	width: 1282px;
	height: 897px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17013
{
	z-index: 65;
	width: 1282px;
	height: 897px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17013_img
{
	padding: 187px 269px 186px;
}

#u17068
{
	z-index: 67;
	width: 1282px;
	height: 897px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17077_img,#u17068_img
{
	padding: 208px 284px 209px;
}

#u17059
{
	z-index: 69;
	width: 1282px;
	height: 897px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17059_img
{
	padding: 200px 279px 199px 278px;
}

#u17086
{
	z-index: 71;
	width: 1282px;
	height: 897px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17086_img
{
	padding: 74px 90px;
}

#u17016
{
	position: absolute;
	width: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u17016popup
{
	z-index: 73;
}

#u17098
{
	z-index: 74;
	width: 462px;
	height: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u17098:hover
{
	width: 462px;
	height: 315px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17098_img
{
	margin-top: -10px;
	margin-bottom: -9px;
}

#u17080
{
	z-index: 76;
	width: 462px;
	height: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 325px;
	left: 1px;
}

#u17080:hover
{
	width: 462px;
	height: 315px;
	min-height: 0px;
	margin: 325px -10000px 0px 0px;
}

#u17017
{
	z-index: 78;
	width: 462px;
	height: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 650px;
	left: 1px;
}

#u17017:hover
{
	width: 462px;
	height: 315px;
	min-height: 0px;
	margin: 650px -10000px 0px 0px;
}

#u17017_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u17071
{
	z-index: 80;
	width: 462px;
	height: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 975px;
	left: 1px;
}

#u17071:hover
{
	width: 462px;
	height: 315px;
	min-height: 0px;
	margin: 975px -10000px 0px 0px;
}

#u17080_img,#u17071_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u17062
{
	z-index: 82;
	width: 462px;
	height: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1300px;
	left: 1px;
}

#u17062:hover
{
	width: 462px;
	height: 315px;
	min-height: 0px;
	margin: 1300px -10000px 0px 0px;
}

#u17062_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u17089
{
	z-index: 84;
	width: 462px;
	height: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1625px;
	left: 1px;
}

#u17089:hover
{
	width: 462px;
	height: 315px;
	min-height: 0px;
	margin: 1625px -10000px 0px 0px;
}

#u17098_clip,#u17080_clip,#u17017_clip,#u17071_clip,#u17062_clip,#u17089_clip
{
	overflow: hidden;
	width: 462px;
	height: 315px;
}

#u17089_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u17024-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 429px;
	left: 1100px;
}

#u17024-4popup
{
	z-index: 86;
}

#u17001-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 429px;
	left: 1200px;
}

#u17001-4popup
{
	z-index: 90;
}

#u17025-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 429px;
	left: 1130px;
}

#u17025-4popup
{
	z-index: 94;
}

#u17002
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 59px;
	left: 1200px;
}

#u17002:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u17002:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u17003-4
{
	z-index: 99;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 1.4;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u12903-3
{
	z-index: 3;
	width: 5px;
	margin-left: 130px;
	top: -1885px;
	margin-bottom: -17px;
}

#u12906
{
	z-index: 52;
	width: 601px;
	height: 336px;
	margin-left: 410px;
	top: -1043px;
	margin-bottom: -336px;
}

.ie #u12900,.ie #u12906
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

