.version.satin_buttercup /* version checker */
{
	color: #000012;
	background-color: #2FB69E;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 748.5999999999999px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 24px;
	padding-bottom: 30px;
	width: 0.01px;
}

#pmenuu38166
{
	width: 0.01px;
	margin-left: 58px;
}

#menuu38166
{
	z-index: 6;
	width: 105px;
	margin-right: -10000px;
}

#u38167
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u38168
{
	width: 51px;
	padding-bottom: 22px;
}

#u38168:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38168:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38168.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38169-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38168:hover #u38169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38168:active #u38169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38168.MuseMenuActive #u38169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38174
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u38177
{
	width: 52px;
	padding-bottom: 22px;
}

#u38177:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38177:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38177.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38179-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38177:hover #u38179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38177:active #u38179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38177.MuseMenuActive #u38179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38185
{
	z-index: 19;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
}

.ie #u38185
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu38187
{
	width: 0.01px;
	padding-bottom: 26px;
	margin-left: 58px;
}

#u38187
{
	z-index: 2;
	width: 749px;
	padding-left: 42px;
	padding-top: 450px;
	padding-right: 45px;
	margin-right: -10000px;
}

#u38182-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38181-4
{
	z-index: 20;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#u38202
{
	z-index: 24;
	width: 51px;
	height: 50px;
	margin-left: 698px;
	margin-top: 16px;
}

#slideshowu37712
{
	z-index: 25;
	width: 0.01px;
	height: 575px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 38px;
}

#u37727
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 227px;
}

#u37727popup
{
	z-index: 26;
}

#u37798
{
	z-index: 27;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u37798_img
{
	margin-left: -81px;
	margin-top: -317px;
	margin-bottom: -195px;
}

#u37771
{
	z-index: 29;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u37798:hover,#u37771:hover
{
	width: 372px;
	height: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37771_img
{
	margin: -136px -102px -142px 102px;
}

#u37780
{
	z-index: 31;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 5px;
}

#u37798_clip,#u37771_clip,#u37780_clip
{
	overflow: hidden;
	width: 372px;
	height: 169px;
}

#u37780_img
{
	margin: -94px -4px -296px 4px;
}

#u37789
{
	z-index: 33;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 387px;
}

#u37780:hover,#u37789:hover
{
	width: 372px;
	height: 169px;
	min-height: 0px;
	margin: 179px -10000px 0px 0px;
}

#u37789_img
{
	padding-left: 102px;
	padding-bottom: 2px;
}

#u37715
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 198px;
	left: 821px;
	-pie-background: rgba(0,0,0,0.9);
}

#u37715popup
{
	z-index: 35;
}

#u37801
{
	z-index: 36;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37774
{
	z-index: 38;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37774_img
{
	padding-left: 90px;
	padding-right: 90px;
}

#u37783
{
	z-index: 40;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37801_img,#u37783_img
{
	padding-left: 120px;
	padding-right: 120px;
}

#u37792
{
	z-index: 42;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37792_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u37714-3
{
	position: absolute;
	width: 123px;
	min-height: 422px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 198px;
	left: 821px;
}

#u37714-3popup
{
	z-index: 44;
}

#u37725-3
{
	position: absolute;
	width: 125px;
	min-height: 422px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 198px;
	left: 1220px;
}

#u37725-3popup
{
	z-index: 47;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u37743-4
{
	z-index: 50;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 498px;
	left: 42px;
}

#u37744
{
	z-index: 55;
	position: relative;
	width: 217px;
	margin-right: -10000px;
	margin-top: 452px;
	left: 39px;
}

#u37744_states
{
	height: 18px;
	width: 217px;
	vertical-align: top;
	background: url("../images/u37744_states.png") no-repeat 0px 0px;
}

#u37744:hover #u37744_states
{
	background: url("../images/u37744_states-r.png") no-repeat 0px 0px;
}

#u37811-5
{
	z-index: 57;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 449px;
	left: 41px;
}

#u37811
{
	font-weight: bold;
}

#u37811-2
{
	font-weight: normal;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
}

#page .verticalspacer
{
	clear: both;
}

