.version.shade_of_hue /* version checker */
{
	color: #00000A;
	background-color: #670876;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 743.9500000000003px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 24px;
	padding-bottom: 57px;
	width: 0.01px;
}

#menuu38121
{
	z-index: 6;
	width: 105px;
	margin-right: -10000px;
}

#u38129
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u38132
{
	width: 51px;
	padding-bottom: 22px;
}

#u38132:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38132:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38132.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38135-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38132:hover #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38132:active #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38132.MuseMenuActive #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38122
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u38125
{
	width: 52px;
	padding-bottom: 22px;
}

#u38125:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38125:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38125.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38126-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38125:hover #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38125:active #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38125.MuseMenuActive #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38158
{
	z-index: 19;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
}

.ie #u38158
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pmenuu38121,#pu38136
{
	width: 0.01px;
	margin-left: 58px;
}

#u38136
{
	z-index: 2;
	width: 493px;
	margin-bottom: -1px;
	margin-right: -10000px;
	padding: 450px 301px 61px 42px;
}

#u38157-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38137-4
{
	z-index: 20;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#slideshowu36944
{
	z-index: 25;
	width: 0.01px;
	height: 587px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 42px;
}

#u36959
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 247px;
}

#u36959popup
{
	z-index: 26;
}

#u36987
{
	z-index: 27;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u36987_img
{
	padding-right: 45px;
}

#u36996
{
	z-index: 29;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u36987:hover,#u36996:hover
{
	width: 377px;
	height: 165px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37005
{
	z-index: 31;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
}

#u37005_img
{
	padding-right: 44px;
}

#u37014
{
	z-index: 33;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 387px;
}

#u37005:hover,#u37014:hover
{
	width: 377px;
	height: 165px;
	min-height: 0px;
	margin: 175px -10000px 0px 0px;
}

#u36996_img,#u37014_img
{
	padding-left: 98px;
}

#u36950
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 5px;
	left: 795px;
	-pie-background: rgba(0,0,0,0.9);
}

#u36950popup
{
	z-index: 35;
}

#u36990
{
	z-index: 36;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u36999
{
	z-index: 38;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37008
{
	z-index: 40;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37017
{
	z-index: 42;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u36990_img,#u36999_img,#u37008_img,#u37017_img
{
	padding-left: 103px;
	padding-right: 102px;
}

#u36946-3
{
	position: absolute;
	width: 123px;
	min-height: 422px;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 5px;
	left: 795px;
}

#u36946-3popup
{
	z-index: 44;
}

#u36958-3
{
	position: absolute;
	width: 125px;
	min-height: 422px;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 5px;
	left: 1194px;
}

#u36958-3popup
{
	z-index: 47;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u36970-5
{
	z-index: 50;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 44px;
}

#u36970
{
	font-weight: bold;
}

#u36971-4
{
	z-index: 55;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 44px;
}

#u36972
{
	z-index: 60;
	position: relative;
	width: 217px;
	margin-right: -10000px;
	margin-top: 458px;
	left: 43px;
}

#u36972_states
{
	height: 18px;
	width: 217px;
	vertical-align: top;
	background: url("../images/u36972_states.png") no-repeat 0px 0px;
}

#u36972:hover #u36972_states
{
	background: url("../images/u36972_states-r.png") no-repeat 0px 0px;
}

#u38201
{
	z-index: 24;
	width: 51px;
	height: 50px;
	margin-left: 799px;
	top: -51px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

