.version.sonic_playground /* version checker */
{
	color: #00000F;
	background-color: #7447BC;
}

.html
{
	background: #F7F5DD url("../images/background2.png") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 642.8px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -842px;
	padding-bottom: 191px;
}

#pu5418-4
{
	width: 0.01px;
	margin-left: -278px;
}

#u5418-4
{
	z-index: 2;
	width: 916px;
	margin-right: -10000px;
	margin-top: 652px;
	left: 301px;
}

#u5419
{
	z-index: 6;
	width: 911px;
	height: 7px;
	margin-right: -10000px;
	margin-top: 783px;
	left: 301px;
}

#menuu5420
{
	z-index: 7;
	width: 1226px;
	margin-right: -10000px;
	margin-top: 800px;
}

#u5421
{
	width: 305px;
	min-height: 34px;
	margin-right: -10000px;
	top: 7px;
}

#u5424
{
	width: 305px;
}

#u5426-4
{
	margin-right: -10000px;
}

#u5435
{
	width: 305px;
	min-height: 34px;
	margin-right: -10000px;
	left: 307px;
}

#u5436
{
	width: 305px;
	padding-bottom: 15px;
}

#u5436:hover
{
	margin: 0px;
}

#u5513
{
	width: 305px;
	min-height: 34px;
	margin-right: -10000px;
	left: 614px;
}

#u5516
{
	width: 305px;
	padding-bottom: 15px;
}

#u5436.MuseMenuActive,#u5516:hover
{
	margin: 0px;
}

#u5442
{
	width: 305px;
	min-height: 34px;
	margin-right: -10000px;
	left: 921px;
}

#u5443
{
	width: 305px;
	padding-bottom: 15px;
}

#u5516.MuseMenuActive,#u5443:hover
{
	margin: 0px;
}

#u5443.MuseMenuActive
{
	margin: 0px;
}

#u5426-4_clip,#u5437-4_clip,#u5519-4_clip,#u5445-4_clip
{
	width: 305px;
	height: 19px;
}

#u5437-4,#u5519-4,#u5445-4
{
	margin-right: -10000px;
	top: 7px;
}

#slideshowu6293
{
	z-index: 32;
	width: 0.01px;
	height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 880px;
	left: 301px;
}

#u6294
{
	position: absolute;
	width: 1021px;
	height: 815px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -880px;
	left: 3px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u6294popup
{
	z-index: 33;
}

#u6537
{
	z-index: 34;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6551
{
	z-index: 36;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6537_img,#u6551_img
{
	padding-top: 102px;
	padding-bottom: 101px;
}

#u6565
{
	z-index: 38;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6565_img
{
	padding-left: 205px;
	padding-right: 205px;
}

#u6579
{
	z-index: 40;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6579_img
{
	padding-left: 211px;
	padding-right: 211px;
}

#u6351
{
	z-index: 42;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6351_img
{
	padding: 189px 366px;
}

#u6309
{
	position: absolute;
	width: 860px;
	left: 28px;
}

#u6309popup
{
	z-index: 44;
}

#u6540
{
	z-index: 45;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6554
{
	z-index: 47;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u6568
{
	z-index: 49;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u6582
{
	z-index: 51;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u6354
{
	z-index: 53;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 696px;
}

#u6540:hover,#u6554:hover,#u6568:hover,#u6582:hover,#u6354:hover
{
	margin: 0px -10000px 0px 0px;
}

#u6307-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -433px;
}

#u6307-4popup
{
	z-index: 55;
}

#u6316-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -433px;
	left: 998px;
}

#u6316-4popup
{
	z-index: 59;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6124-14
{
	z-index: 63;
	width: 898px;
	min-height: 165px;
	margin-left: 23px;
	margin-top: 6px;
	position: relative;
}

#u6124
{
	text-decoration: underline;
}

#u6124-2,#u6124-3,#u6124-5
{
	font-size: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
}

#u6124-8
{
	font-size: 18px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u6124-6,#u6124-9
{
	font-size: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u6124-11
{
	font-size: 22px;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 465px;
}

#page .verticalspacer
{
	clear: both;
}

