.version.sonic_playground /* version checker */
{
	color: #0000EC;
	background-color: #27C85C;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 634.9499999999998px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -725px;
	padding-bottom: 84px;
}

#pu6777
{
	width: 0.01px;
	margin-left: -284px;
}

#u6777
{
	z-index: 2;
	height: 215px;
}

#u6777-bw
{
	z-index: 2;
	margin-top: 509px;
	height: 215px;
}

#u6741-4
{
	z-index: 3;
	width: 942px;
	min-height: 133px;
	margin-right: -10000px;
	margin-top: 516px;
	left: 293px;
}

#u6741-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	margin: 516px -10000px 0px 0px;
}

#u6742
{
	z-index: 7;
	width: 911px;
	height: 7px;
	margin-right: -10000px;
	margin-top: 659px;
	left: 307px;
}

#menuu6744
{
	z-index: 8;
	width: 1219px;
	margin-right: -10000px;
	margin-top: 682px;
}

#u6766
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
}

#u6767
{
	width: 303px;
	padding-bottom: 15px;
}

#u6767:hover
{
	margin: 0px;
}

#u6759
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u6760
{
	width: 303px;
	padding-bottom: 15px;
}

#u6767.MuseMenuActive,#u6760:hover
{
	margin: 0px;
}

#u6752
{
	width: 303px;
	min-height: 34px;
	margin-right: -10000px;
	left: 610px;
}

#u6753
{
	width: 303px;
	padding-bottom: 15px;
}

#u6760.MuseMenuActive,#u6753:hover
{
	margin: 0px;
}

#u6768,#u6761,#u6755
{
	height: 19px;
	width: 303px;
	margin-right: -10000px;
	top: 7px;
}

#u6745
{
	width: 304px;
	min-height: 34px;
	margin-right: -10000px;
	left: 915px;
}

#u6746
{
	width: 304px;
	padding-bottom: 15px;
}

#u6753.MuseMenuActive,#u6746:hover
{
	margin: 0px;
}

#u6746.MuseMenuActive
{
	margin: 0px;
}

#u6748
{
	height: 19px;
	width: 304px;
	margin-right: -10000px;
	top: 7px;
}

#slideshowu6293
{
	z-index: 34;
	width: 0.01px;
	height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 880px;
	left: 301px;
}

#u6294
{
	position: absolute;
	width: 1021px;
	height: 815px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -880px;
	left: 3px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u6294popup
{
	z-index: 35;
}

#u6537
{
	z-index: 36;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6551
{
	z-index: 38;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6537_img,#u6551_img
{
	padding-top: 102px;
	padding-bottom: 101px;
}

#u6565
{
	z-index: 40;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6565_img
{
	padding-left: 205px;
	padding-right: 205px;
}

#u6579
{
	z-index: 42;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6579_img
{
	padding-left: 211px;
	padding-right: 211px;
}

#u6351
{
	z-index: 44;
	width: 977px;
	height: 753px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6351_img
{
	padding: 189px 366px;
}

#u6309
{
	position: absolute;
	width: 860px;
	left: 28px;
}

#u6309popup
{
	z-index: 46;
}

#u6540
{
	z-index: 47;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6554
{
	z-index: 49;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u6568
{
	z-index: 51;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u6582
{
	z-index: 53;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u6354
{
	z-index: 55;
	width: 164px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 696px;
}

#u6540:hover,#u6554:hover,#u6568:hover,#u6582:hover,#u6354:hover
{
	margin: 0px -10000px 0px 0px;
}

#u6307-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -433px;
}

#u6307-4popup
{
	z-index: 57;
}

#u6316-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -433px;
	left: 998px;
}

#u6316-4popup
{
	z-index: 61;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu6743-3
{
	width: 0.01px;
	margin-top: -295px;
}

#u6743-3
{
	z-index: 30;
	width: 5px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 130px;
}

#u6649
{
	z-index: 33;
	width: 960px;
	height: 533px;
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
	position: relative;
	margin-right: -10000px;
}

.ie #u6649
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6124-22
{
	z-index: 65;
	width: 898px;
	min-height: 165px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 32px;
}

#u6124
{
	text-decoration: underline;
}

#u6124-2,#u6124-3,#u6124-4,#u6124-5,#u6124-6,#u6124-7
{
	font-size: 26px;
	text-align: center;
}

#u6124-8,#u6124-9,#u6124-10
{
	font-size: 16px;
	text-align: center;
}

#u6124-11,#u6124-12,#u6124-13,#u6124-15,#u6124-17
{
	font-size: 16px;
	text-align: left;
}

#u6124-18
{
	font-size: 21px;
}

#u6124-20
{
	font-size: 21px;
	text-align: left;
	line-height: 1.48;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 216px;
}

#page .verticalspacer
{
	clear: both;
}

