.version.straw /* version checker */
{
	color: #0000FD;
	background-color: #8509EA;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 2695.3px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 1246px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u12879_states
{
	height: 184px;
	width: 193px;
}

#u12902-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu12900
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u12900
{
	z-index: 12;
	height: 52px;
}

#u12900-bw
{
	z-index: 12;
	height: 52px;
}

#menuu12806
{
	z-index: 13;
	width: 1088px;
	margin-right: -10000px;
	left: 100px;
}

#u12842
{
	width: 276px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 276px;
	padding-bottom: 30px;
}

#u12843:hover
{
	margin: 0px;
}

#u12845
{
	height: 22px;
	width: 128px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12814
{
	width: 288px;
	min-height: 52px;
	margin-right: -10000px;
	left: 278px;
}

#u12838
{
	width: 288px;
	padding-bottom: 30px;
}

#u12841
{
	height: 22px;
	width: 141px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12825.MuseMenuActive #u12827-4,#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12832.MuseMenuActive #u12834-4,#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 249px;
	min-height: 52px;
	margin-right: -10000px;
	left: 568px;
}

#u12873
{
	width: 249px;
	padding-bottom: 30px;
}

#u12876
{
	height: 22px;
	width: 101px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12850
{
	width: 275px;
	top: 52px;
}

#u12862
{
	width: 275px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12818.MuseMenuActive,#u12862:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12864-4
{
	width: 132px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 68px;
}

#u12818.MuseMenuActive #u12820-4,#u12862:hover #u12864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12851,#u12859,#u12852
{
	width: 275px;
}

#u12855
{
	width: 275px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u12862.MuseMenuActive,#u12855:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12855.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12858-4
{
	width: 84px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 92px;
}

#u12862.MuseMenuActive #u12864-4,#u12855:hover #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12855.MuseMenuActive #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 269px;
	min-height: 52px;
	margin-right: -10000px;
	left: 819px;
}

#u12810
{
	width: 269px;
	padding-bottom: 30px;
}

#u12843.MuseMenuActive,#u12838.MuseMenuActive,#u12873.MuseMenuActive,#u12810.MuseMenuActive
{
	margin: 0px;
}

#u12812
{
	height: 22px;
	width: 122px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#pu12903-3
{
	width: 0.01px;
	margin-left: 130px;
	margin-top: 110px;
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 25px;
}

#u9792
{
	z-index: 85;
	width: 501px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 164px;
	background: transparent url("../images/thumbnail5.jpg") no-repeat left top;
	background-size: contain;
}

#u16371
{
	z-index: 90;
	width: 577px;
	height: 577px;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	margin-bottom: -40px;
	position: relative;
	margin-right: -10000px;
	margin-top: -30px;
	left: -43px;
}

.ie #u12900,.ie #u16371
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u16371:hover
{
	border-style: none;
	background-color: #FFFFFF;
	margin: -30px -10000px -40px 0px;
}

.ie #u16371:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
}

#u16371:active
{
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 572px;
	height: 572px;
	min-height: 0px;
	margin: -32px -10003px -43px -2px;
}

#u9794-6
{
	z-index: 73;
	width: 375px;
	min-height: 90px;
	color: #5B5B5B;
	line-height: 1.31;
	font-size: 22px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 357px;
	margin-top: 52px;
	position: relative;
}

#pu12906
{
	width: 0.01px;
	padding-bottom: 5px;
	margin-left: 410px;
	margin-top: 218px;
}

#u12906
{
	z-index: 72;
	width: 502px;
	margin-right: -10000px;
	margin-top: -177px;
	left: -115px;
}

#u9797
{
	z-index: 86;
	width: 502px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail2-ieu9797-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/thumbnail23.jpg") no-repeat left top;
	background-color: transparent;
	background-size: contain;
}

#u9792:hover,#u9797:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u16372
{
	z-index: 91;
	width: 577px;
	height: 577px;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	margin-bottom: -34px;
	position: relative;
	margin-right: -10000px;
	margin-top: -35px;
	left: -38px;
}

.ie #u16372
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u16372:hover
{
	border-style: none;
	background-color: #FFFFFF;
	margin: -35px -10000px -34px 0px;
}

.ie #u16371:active,.ie #u16372:hover
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
}

#u16372:active
{
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 572px;
	height: 572px;
	min-height: 0px;
	margin: -37px -10003px -37px -2px;
}

.ie #u16372:active
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
}

#u9793-3
{
	z-index: 87;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 718px;
}

#u9796-6
{
	z-index: 79;
	width: 375px;
	min-height: 90px;
	color: #5B5B5B;
	line-height: 1.31;
	font-size: 22px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 357px;
	margin-top: 46px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

