.version.textile_0_3 /* version checker */
{
	color: #000015;
	background-color: #C82000;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 744px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -143px;
	padding-top: 24px;
	width: 0.01px;
}

#pmenuu38121
{
	width: 0.01px;
	margin-left: 58px;
}

#menuu38121
{
	z-index: 6;
	width: 105px;
	margin-right: -10000px;
}

#u38129
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u38132
{
	width: 51px;
	padding-bottom: 22px;
}

#u38132:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38132:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38132.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38135-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38132:hover #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38132:active #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38132.MuseMenuActive #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38122
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u38125
{
	width: 52px;
	padding-bottom: 22px;
}

#u38125:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38125:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38125.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38126-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38125:hover #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38125:active #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38125.MuseMenuActive #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38158
{
	z-index: 19;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
}

.ie #u38158
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu38136
{
	width: 0.01px;
	padding-bottom: 143px;
	margin-left: 58px;
}

#u38136
{
	z-index: 2;
	width: 493px;
	margin-right: -10000px;
	padding: 450px 301px 61px 42px;
}

#u38157-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38137-4
{
	z-index: 20;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#slideshowu41057
{
	z-index: 25;
	width: 0.01px;
	height: 690px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 44px;
}

#u41065
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 350px;
}

#u41065popup
{
	z-index: 26;
}

#u41066
{
	z-index: 27;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u41156
{
	z-index: 29;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u41066:hover,#u41156:hover
{
	width: 377px;
	height: 165px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41156_clip
{
	overflow: hidden;
	width: 377px;
	height: 165px;
}

#u41156_img
{
	margin-top: -19px;
	margin-bottom: -18px;
}

#u41165
{
	z-index: 31;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
}

#u41165:hover
{
	width: 377px;
	height: 165px;
	min-height: 0px;
	margin: 175px -10000px 0px 0px;
}

#u41165_img
{
	padding-left: 39px;
	padding-right: 38px;
}

#u41076
{
	position: absolute;
	width: 609px;
	height: 744px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 88px;
	left: 857px;
	-pie-background: rgba(0,0,0,0.9);
}

#u41076popup
{
	z-index: 33;
}

#u41081
{
	z-index: 34;
	width: 565px;
	height: 682px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41081_img
{
	padding: 146px 32px 145px 33px;
}

#u41159
{
	z-index: 36;
	width: 565px;
	height: 682px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41159_img
{
	padding-top: 189px;
	padding-bottom: 190px;
}

#u41168
{
	z-index: 38;
	width: 565px;
	height: 682px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41168_img
{
	padding: 150px 132px 149px 133px;
}

#u41058-3
{
	position: absolute;
	width: 136px;
	min-height: 740px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 72px;
	left: 793px;
}

#u41058-3popup
{
	z-index: 40;
}

#u41087-3
{
	position: absolute;
	width: 224px;
	min-height: 689px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 88px;
	left: 1378px;
}

#u41087-3popup
{
	z-index: 43;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u41091-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 44px;
}

#u41090-5
{
	z-index: 50;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 46px;
}

#u41090
{
	font-weight: bold;
}

#u41090-2
{
	font-weight: normal;
}

#u41088
{
	z-index: 56;
	position: relative;
	width: 248px;
	margin-right: -10000px;
	margin-top: 454px;
	left: 44px;
}

#u41088_states
{
	height: 18px;
	width: 248px;
	vertical-align: top;
	background: url("../images/u41088_states.png") no-repeat 0px 0px;
}

#u41088:hover #u41088_states
{
	background: url("../images/u41088_states-r.png") no-repeat 0px 0px;
}

#u41089-4
{
	z-index: 58;
	width: 485px;
	min-height: 69px;
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 44px;
}

#u41089-4:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	width: 485px;
	margin: 499px -10000px 0px 0px;
}

#u41248
{
	z-index: 62;
	width: 365px;
	min-height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 438px;
}

#u38201
{
	z-index: 24;
	width: 51px;
	height: 50px;
	margin-left: 799px;
	top: -251px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

