.version.textile_01 /* version checker */
{
	color: #0000F4;
	background-color: #A1CC6A;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 2695.875000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 1383px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u12879_states
{
	height: 184px;
	width: 193px;
}

#u12902-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu12900
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u12900
{
	z-index: 12;
	height: 52px;
}

#u12900-bw
{
	z-index: 12;
	height: 52px;
}

#menuu12806
{
	z-index: 13;
	width: 1088px;
	margin-right: -10000px;
	left: 100px;
}

#u12842
{
	width: 276px;
	min-height: 52px;
	margin-right: -10000px;
}

#u12843
{
	width: 276px;
	padding-bottom: 30px;
}

#u12843:hover
{
	margin: 0px;
}

#u12845
{
	height: 22px;
	width: 128px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12814
{
	width: 288px;
	min-height: 52px;
	margin-right: -10000px;
	left: 278px;
}

#u12838
{
	width: 288px;
	padding-bottom: 30px;
}

#u12841
{
	height: 22px;
	width: 141px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12815
{
	width: 271px;
	top: 52px;
}

#u12825
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 39px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 112px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 58px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 103px;
}

#u12825.MuseMenuActive #u12827-4,#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 271px;
}

#u12818
{
	width: 271px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 64px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 100px;
}

#u12832.MuseMenuActive #u12834-4,#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12818.MuseMenuActive #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 249px;
	min-height: 52px;
	margin-right: -10000px;
	left: 568px;
}

#u12873
{
	width: 249px;
	padding-bottom: 30px;
}

#u12876
{
	height: 22px;
	width: 101px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#u12807
{
	width: 269px;
	min-height: 52px;
	margin-right: -10000px;
	left: 819px;
}

#u12810
{
	width: 269px;
	padding-bottom: 30px;
}

#u12843.MuseMenuActive,#u12838.MuseMenuActive,#u12873.MuseMenuActive,#u12810.MuseMenuActive
{
	margin: 0px;
}

#u12812
{
	height: 22px;
	width: 122px;
	margin-right: -10000px;
	top: 15px;
	left: 74px;
}

#pu12903-3
{
	width: 0.01px;
	margin-left: 130px;
	margin-top: 80px;
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 55px;
}

#u13115-24
{
	z-index: 59;
	width: 248px;
	min-height: 165px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 703px;
}

#u13115-2
{
	font-size: 26px;
	text-decoration: underline;
}

#u13115-4,#u13115-5,#u13115-6,#u13115-7
{
	font-size: 16px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u13115-9,#u13115-11,#u13115-12
{
	font-size: 18px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u13115-18,#u13115-19
{
	font-size: 17px;
	line-height: 1.48;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u13115-3,#u13115-22
{
	font-size: 21px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13115-3  span,#u13115-22  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.48;
}

#u13115-13,#u13115-14,#u13115-15,#u13115-16,#u13115-20
{
	font-size: 17px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u13115-21
{
	font-size: 22px;
}

#u16953
{
	z-index: 84;
	width: 735px;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u16931
{
	z-index: 85;
	width: 735px;
	height: 296px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/back-u16931-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u16931:hover
{
	margin: 0px;
	background: transparent url("../images/back-u16931-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u16938
{
	z-index: 86;
	width: 735px;
	height: 296px;
	border-color: #000000;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: #FFFFFF url("../images/front-u16938-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u16938:hover
{
	margin: 0px 0px -1px;
	background: transparent url("../images/front-u16938-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u16945
{
	z-index: 83;
	width: 470px;
	height: 264px;
	border-color: #000000;
	margin-left: 348px;
	margin-top: 27px;
	position: relative;
	background: #FFFFFF url("../images/app-u16945-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u12906
{
	z-index: 58;
	width: 601px;
	height: 336px;
	margin-left: 410px;
	margin-top: 15px;
}

.ie #u12900,.ie #u12906
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

