.version.textile_0__2 /* version checker */
{
	color: #000003;
	background-color: #0361A3;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 744px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -143px;
	padding-top: 19px;
	width: 0.01px;
}

#pu38158
{
	width: 0.01px;
	margin-left: 58px;
}

#u38158
{
	z-index: 6;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 5px;
}

.ie #u38158
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu43843
{
	z-index: 12;
	width: 203px;
	margin-right: -10000px;
}

#u43844
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u43845
{
	width: 66px;
	padding-bottom: 20px;
}

#u43845:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43845:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43846-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43845:hover #u43846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43845:active #u43846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43854
{
	width: 118px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u43854:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43858
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u43859
{
	width: 66px;
	padding-bottom: 20px;
}

#u43845.MuseMenuActive,#u43859:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43859:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43859.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43860-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43845.MuseMenuActive #u43846-4,#u43859:hover #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43859:active #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43859.MuseMenuActive #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43866
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43854.MuseMenuActive,#u43866:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43872
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u43873
{
	width: 67px;
	padding-bottom: 20px;
}

#u43873:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43873:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43873.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43874-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43873:hover #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43873:active #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43873.MuseMenuActive #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43849,#u43863,#u43877
{
	width: 120px;
	top: 39px;
}

#u43850,#u43851,#u43864,#u43865,#u43878,#u43879
{
	width: 120px;
}

#u43882
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43866.MuseMenuActive,#u43882:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43882.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43857-4,#u43869-4,#u43885-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu38136
{
	width: 0.01px;
	padding-bottom: 143px;
	margin-left: 58px;
}

#u38136
{
	z-index: 2;
	width: 493px;
	margin-right: -10000px;
	padding: 450px 301px 61px 42px;
}

#u38157-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38137-4
{
	z-index: 7;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#slideshowu40913
{
	z-index: 55;
	width: 0.01px;
	height: 690px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 44px;
}

#u40931
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 350px;
}

#u40931popup
{
	z-index: 56;
}

#u41024
{
	z-index: 57;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u41033
{
	z-index: 59;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u41024:hover,#u41033:hover
{
	width: 377px;
	height: 165px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u40938
{
	z-index: 61;
	width: 377px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
}

#u40938:hover
{
	width: 377px;
	height: 165px;
	min-height: 0px;
	margin: 175px -10000px 0px 0px;
}

#u40917
{
	position: absolute;
	width: 609px;
	height: 744px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 88px;
	left: 857px;
	-pie-background: rgba(0,0,0,0.9);
}

#u40917popup
{
	z-index: 63;
}

#u41027
{
	z-index: 64;
	width: 565px;
	height: 682px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41027_img
{
	padding-top: 25px;
	padding-bottom: 24px;
}

#u41036
{
	z-index: 66;
	width: 565px;
	height: 682px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u41036_img
{
	padding-top: 84px;
	padding-bottom: 84px;
}

#u40918
{
	z-index: 68;
	width: 565px;
	height: 682px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u40918_img
{
	padding-top: 169px;
	padding-bottom: 168px;
}

#u40941-3
{
	position: absolute;
	width: 136px;
	min-height: 740px;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 72px;
	left: 793px;
}

#u40941-3popup
{
	z-index: 70;
}

#u40915-3
{
	position: absolute;
	width: 224px;
	min-height: 689px;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 88px;
	left: 1378px;
}

#u40915-3popup
{
	z-index: 73;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u40944-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 44px;
}

#u40945-5
{
	z-index: 80;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 453px;
	left: 44px;
}

#u40945
{
	font-weight: bold;
}

#u40945-2
{
	font-weight: normal;
}

#u40947
{
	z-index: 86;
	height: 18px;
	width: 248px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 42px;
	background: url("../images/u40947.png") no-repeat 0px 0px;
}

#u40947:hover
{
	background: url("../images/u40947-r.png") no-repeat 0px 0px;
}

#u40946-4
{
	z-index: 88;
	width: 485px;
	min-height: 69px;
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 45px;
}

#u40946-4:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	width: 485px;
	margin: 499px -10000px 0px 0px;
}

#u38201
{
	z-index: 11;
	width: 51px;
	height: 50px;
	margin-left: 799px;
	top: -251px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

