.version.textile_0_2_copy /* version checker */
{
	color: #00001C;
	background-color: #9E9B50;
}

.html
{
	background-color: #F7F6F4;
}

#page
{
	z-index: 1;
	width: 1088px;
	min-height: 2695.95px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -267px;
	padding-bottom: 90px;
}

#pu12901
{
	width: 0.01px;
	margin-left: -100px;
}

#u12901,#u12901-bw
{
	z-index: 2;
	height: 215px;
}

#u12879
{
	z-index: 4;
	width: 193px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 566px;
}

#u12879_states
{
	height: 184px;
	width: 193px;
}

#u12902-3
{
	z-index: 9;
	width: 5px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 381px;
}

#pu12900
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u12900
{
	z-index: 12;
	height: 52px;
}

.ie #u12900
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12900-bw
{
	z-index: 12;
	height: 52px;
}

#menuu12806
{
	z-index: 13;
	width: 1046px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 100px;
}

#u12842
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
}

#u12843
{
	width: 260px;
	padding-bottom: 12px;
}

#u12814
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 262px;
}

#u12838
{
	width: 260px;
	padding-bottom: 12px;
}

#u12815
{
	width: 211px;
	top: 34px;
}

#u12825
{
	width: 211px;
	padding-bottom: 32px;
	margin-right: -10000px;
}

#u12825:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12827-4
{
	width: 203px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 16px;
	left: 2px;
}

#u12825:hover #u12827-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12832
{
	width: 211px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u12825.MuseMenuActive,#u12832:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12834-4
{
	width: 203px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u12825.MuseMenuActive #u12827-4,#u12832:hover #u12834-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12816,#u12824,#u12831,#u12817
{
	width: 211px;
}

#u12818
{
	width: 211px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u12832.MuseMenuActive,#u12818:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12820-4
{
	width: 203px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 11px;
	left: 2px;
}

#u12832.MuseMenuActive #u12834-4,#u12818:hover #u12820-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12849
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 524px;
}

#u12873
{
	width: 260px;
	padding-bottom: 12px;
}

#u12850
{
	width: 275px;
	top: 34px;
}

#u12855
{
	width: 275px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u12818.MuseMenuActive,#u12855:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12858-4
{
	width: 267px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 2px;
}

#u12818.MuseMenuActive #u12820-4,#u12855:hover #u12858-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12851,#u12852,#u12859
{
	width: 275px;
}

#u12862
{
	width: 275px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u12855.MuseMenuActive,#u12862:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12862.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12864-4
{
	width: 267px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 2px;
}

#u12855.MuseMenuActive #u12858-4,#u12862:hover #u12864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12862.MuseMenuActive #u12864-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u12807
{
	width: 260px;
	min-height: 34px;
	margin-right: -10000px;
	left: 786px;
}

#u12810
{
	width: 260px;
	padding-bottom: 12px;
}

#u12843.MuseMenuActive,#u12838.MuseMenuActive,#u12873.MuseMenuActive,#u12810.MuseMenuActive
{
	width: 259px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u12845,#u12841,#u12876,#u12812
{
	height: 22px;
	width: 260px;
	margin-right: -10000px;
	top: 6px;
}

#pu12903-3
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 34px;
}

#u12903-3
{
	z-index: 6;
	width: 5px;
	margin-right: -10000px;
	margin-top: 101px;
	left: 51px;
}

#u13043-22
{
	z-index: 71;
	width: 248px;
	min-height: 165px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u13043
{
	text-decoration: underline;
}

#u13043-2,#u13043-3,#u13043-4,#u13043-5,#u13043-6,#u13043-7
{
	font-size: 26px;
	text-align: center;
}

#u13043-8,#u13043-9,#u13043-10
{
	font-size: 16px;
	text-align: center;
}

#u13043-11,#u13043-12,#u13043-13,#u13043-15,#u13043-17
{
	font-size: 16px;
	text-align: left;
}

#u13043-18
{
	font-size: 21px;
}

#u13043-20
{
	font-size: 21px;
	text-align: left;
	line-height: 1.48;
}

#u13071
{
	z-index: 93;
	width: 601px;
	height: 905px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 331px;
	background: #FFFFFF url("../images/untitled.jpg") no-repeat left top;
}

#u12906
{
	z-index: 70;
	width: 601px;
	margin-left: 410px;
	margin-top: 20px;
}

#u13073
{
	z-index: 94;
	width: 601px;
	height: 336px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/4bf8d3bd8ef0cf8f50b87976da75476d-1--u12781-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u13044
{
	z-index: 95;
	width: 605px;
	height: 336px;
	border-color: #000000;
	margin-left: 412px;
	margin-top: 20px;
	position: relative;
	background: #FFFFFF url("../images/003479ec06467e8fcaa508f86770bfc7-2--u12788-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u13072
{
	z-index: 96;
	width: 605px;
	height: 935px;
	border-color: #000000;
	margin-left: 411px;
	margin-top: 20px;
	position: relative;
	background: #FFFFFF url("../images/d1e1893fd14d7ac0a469bfa756296f82-1-.jpg") no-repeat center center;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 1088px;
	padding-top: 267px;
}

#page .verticalspacer
{
	clear: both;
}

