.version.traditionalkorean /* version checker */
{
	color: #0000EA;
	background-color: #75184A;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 1525.75px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 6px 58px 58.25px;
}

#menuu48542
{
	z-index: 3;
	width: 203px;
}

#u48543
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u48553
{
	width: 66px;
	padding-bottom: 20px;
}

#u48553:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48553:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48554-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48553:hover #u48554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48553:active #u48554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48547
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48547:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48547:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48571
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u48581
{
	width: 66px;
	padding-bottom: 20px;
}

#u48553.MuseMenuActive,#u48581:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48581:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48581.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48582-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48553.MuseMenuActive #u48554-4,#u48581:hover #u48582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48581:active #u48582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48581.MuseMenuActive #u48582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48545,#u48546,#u48573
{
	width: 120px;
}

#u48573:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u48575
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48547.MuseMenuActive,#u48575:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48548-4,#u48576-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u48557
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u48567
{
	width: 67px;
	padding-bottom: 20px;
}

#u48567:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48567:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48567.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48568-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48567:hover #u48568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48567:active #u48568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48567.MuseMenuActive #u48568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48544,#u48572,#u48558
{
	width: 120px;
	top: 39px;
}

#u48574,#u48559,#u48560
{
	width: 120px;
}

#u48563
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u48575.MuseMenuActive,#u48563:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48563:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48563.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48565-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu43636
{
	width: 0.01px;
	margin-top: 6px;
}

#u43636
{
	z-index: 2;
	width: 837px;
	height: 1481px;
	margin-right: -10000px;
}

#u43622
{
	z-index: 47;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 451px;
	left: 238px;
}

#u43622_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u43622_states.png") no-repeat 0px 0px;
}

#u43622:hover #u43622_states
{
	background: url("../images/u43622_states-r.png") no-repeat 0px 0px;
}

#u43623
{
	z-index: 50;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 238px;
}

#u43623_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u43623_states.png") no-repeat 0px 0px;
}

#u43623:hover #u43623_states
{
	background: url("../images/u43623_states-r.png") no-repeat 0px 0px;
}

#u43624
{
	z-index: 53;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 648px;
	left: 238px;
}

#u43624_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u43624_states.png") no-repeat 0px 0px;
}

#u43624:hover #u43624_states
{
	background: url("../images/u43624_states-r.png") no-repeat 0px 0px;
}

#u43625
{
	z-index: 56;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 747px;
	left: 238px;
}

#u43625_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u43625_states.png") no-repeat 0px 0px;
}

#u43625:hover #u43625_states
{
	background: url("../images/u43625_states-r.png") no-repeat 0px 0px;
}

#u44809
{
	z-index: 59;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 846px;
	left: 238px;
}

#u44809_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u44809_states.png") no-repeat 0px 0px;
}

#u44809:hover #u44809_states
{
	background: url("../images/u44809_states-r.png") no-repeat 0px 0px;
}

#u45222
{
	z-index: 62;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 352px;
	left: 236px;
}

#u45222_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u45222_states.png") no-repeat 0px 0px;
}

#u45222:hover #u45222_states
{
	background: url("../images/u45222_states-r.png") no-repeat 0px 0px;
}

#u45327
{
	z-index: 65;
	position: relative;
	width: 538px;
	margin-right: -10000px;
	margin-top: 125px;
	left: 150px;
}

#u45327_states
{
	height: 99px;
	width: 538px;
	vertical-align: top;
	background: url("../images/u45327_states.png") no-repeat 0px 0px;
}

#u45327:hover #u45327_states
{
	background: url("../images/u45327_states-r.png") no-repeat 0px 0px;
}

#u45328-4
{
	z-index: 67;
	width: 94px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 0.5;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	-webkit-transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	-ms-transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 102px;
}

#u45328
{
	text-decoration: underline;
}

#u45504
{
	z-index: 72;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 945px;
	left: 236px;
}

#u45504_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u45504_states.png") no-repeat 0px 0px;
}

#u45504:hover #u45504_states
{
	background: url("../images/u45504_states-r.png") no-repeat 0px 0px;
}

#u45505
{
	z-index: 75;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 1044px;
	left: 236px;
}

#u45505_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u45505_states.png") no-repeat 0px 0px;
}

#u45505:hover #u45505_states
{
	background: url("../images/u45505_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

