.version.traditionalkorean /* version checker */
{
	color: #0000F6;
	background-color: #FB2472;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 1520px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 58px 58px;
}

#menuu43533
{
	z-index: 2;
	width: 203px;
}

#u43534
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u43535
{
	width: 66px;
	padding-bottom: 20px;
}

#u43535:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43535:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43538-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43535:hover #u43538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43535:active #u43538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43544
{
	width: 118px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u43544:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43548
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u43549
{
	width: 66px;
	padding-bottom: 20px;
}

#u43535.MuseMenuActive,#u43549:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43549:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43549.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43552-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43535.MuseMenuActive #u43538-4,#u43549:hover #u43552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43549:active #u43552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43549.MuseMenuActive #u43552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43556
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43544.MuseMenuActive,#u43556:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43562
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u43563
{
	width: 67px;
	padding-bottom: 20px;
}

#u43563:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43563:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43563.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43565-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43563:hover #u43565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43563:active #u43565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43563.MuseMenuActive #u43565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43539,#u43553,#u43567
{
	width: 120px;
	top: 39px;
}

#u43540,#u43541,#u43554,#u43555,#u43568,#u43569
{
	width: 120px;
}

#u43570
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43556.MuseMenuActive,#u43570:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43570.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43546-4,#u43558-4,#u43571-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu43636
{
	width: 0.01px;
}

#u43636
{
	z-index: 45;
	width: 837px;
	height: 1481px;
	margin-right: -10000px;
}

#u43622
{
	z-index: 47;
	height: 99px;
	width: 369px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 404px;
	left: 236px;
	background: url("../images/u43622.png") no-repeat 0px 0px;
}

#u43622:hover
{
	background: url("../images/u43622-r.png") no-repeat 0px 0px;
}

#u43623
{
	z-index: 50;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 503px;
	left: 236px;
}

#u43623_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u43623_states.png") no-repeat 0px 0px;
}

#u43623:hover #u43623_states
{
	background: url("../images/u43623_states-r.png") no-repeat 0px 0px;
}

#u43624
{
	z-index: 53;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 602px;
	left: 236px;
}

#u43624_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u43624_states.png") no-repeat 0px 0px;
}

#u43624:hover #u43624_states
{
	background: url("../images/u43624_states-r.png") no-repeat 0px 0px;
}

#u43625
{
	z-index: 56;
	height: 99px;
	width: 369px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 701px;
	left: 236px;
	background: url("../images/u43625.png") no-repeat 0px 0px;
}

#u43625:hover
{
	background: url("../images/u43625-r.png") no-repeat 0px 0px;
}

#u43626
{
	z-index: 59;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 143px;
	left: 236px;
}

#u43626_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u43626_states.png") no-repeat 0px 0px;
}

#u43626:hover #u43626_states
{
	background: url("../images/u43626_states-r.png") no-repeat 0px 0px;
}

#u43627
{
	z-index: 62;
	position: relative;
	width: 369px;
	margin-right: -10000px;
	margin-top: 242px;
	left: 236px;
}

#u43627_states
{
	height: 99px;
	width: 369px;
	vertical-align: top;
	background: url("../images/u43627_states.png") no-repeat 0px 0px;
}

#u43627:hover #u43627_states
{
	background: url("../images/u43627_states-r.png") no-repeat 0px 0px;
}

#u43628-4
{
	z-index: 64;
	width: 94px;
	min-height: 20px;
	background-color: transparent;
	line-height: 0.5;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	-webkit-transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	-ms-transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 276px;
}

#u43629-4
{
	z-index: 68;
	width: 94px;
	min-height: 20px;
	background-color: transparent;
	line-height: 0.5;
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	-webkit-transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	-ms-transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	transform: matrix(0.8572,-0.515,0.515,0.8572,2,26);
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 230px;
}

#u43628,#u43629
{
	text-decoration: underline;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

