.version.underthewillowtree /* version checker */
{
	color: #000009;
	background-color: #ECD8E3;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 744px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 24px;
	width: 0.01px;
}

#pmenuu38121
{
	width: 0.01px;
	margin-left: 58px;
}

#menuu38121
{
	z-index: 6;
	width: 105px;
	margin-right: -10000px;
}

#u38129
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u38132
{
	width: 51px;
	padding-bottom: 22px;
}

#u38132:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38132:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38132.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38135-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38132:hover #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38132:active #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38132.MuseMenuActive #u38135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38122
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u38125
{
	width: 52px;
	padding-bottom: 22px;
}

#u38125:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38125:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38125.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38126-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38125:hover #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38125:active #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38125.MuseMenuActive #u38126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38158
{
	z-index: 19;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
}

.ie #u38158
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#slideshowu38533
{
	z-index: 25;
	width: 0.01px;
	height: 690px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 40px;
}

#u38536
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 343px;
}

#u38536popup
{
	z-index: 26;
}

#u38756
{
	z-index: 27;
	width: 372px;
	height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u38765
{
	z-index: 29;
	width: 372px;
	height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u38756:hover,#u38765:hover
{
	width: 372px;
	height: 347px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u38546
{
	position: absolute;
	width: 607px;
	height: 728px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -56px;
	left: 616px;
	-pie-background: rgba(0,0,0,0.9);
}

#u38546popup
{
	z-index: 31;
}

#u38759
{
	z-index: 32;
	width: 563px;
	height: 666px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u38759_img
{
	padding: 17px 21px;
}

#u38768
{
	z-index: 34;
	width: 563px;
	height: 666px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u38768_img
{
	padding: 17px 44px 17px 43px;
}

#u38562-3
{
	position: absolute;
	width: 228px;
	min-height: 715px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -57px;
	left: 427px;
}

#u38562-3popup
{
	z-index: 36;
}

#u38555-3
{
	position: absolute;
	width: 166px;
	min-height: 635px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -22px;
	left: 1152px;
}

#u38555-3popup
{
	z-index: 39;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu38136
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: -731px;
}

#u38136
{
	z-index: 2;
	width: 493px;
	margin-bottom: -1px;
	margin-right: -10000px;
	padding: 450px 301px 61px 42px;
}

#u38157-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38137-4
{
	z-index: 20;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#u38566-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 500px;
	left: 44px;
}

#u38564-5
{
	z-index: 46;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 44px;
}

#u38564
{
	font-weight: bold;
}

#u38564-2
{
	font-weight: normal;
}

#u38565
{
	z-index: 52;
	position: relative;
	width: 217px;
	margin-right: -10000px;
	margin-top: 456px;
	left: 43px;
}

#u38565_states
{
	height: 18px;
	width: 217px;
	vertical-align: top;
	background: url("../images/u38565_states.png") no-repeat 0px 0px;
}

#u38565:hover #u38565_states
{
	background: url("../images/u38565_states-r.png") no-repeat 0px 0px;
}

#u38567-4
{
	z-index: 54;
	width: 485px;
	min-height: 69px;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 500px;
	left: 44px;
}

#u38567-4:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 69px;
	width: 485px;
	margin: 500px -10000px 0px 0px;
}

#u38201
{
	z-index: 24;
	width: 51px;
	height: 50px;
	margin-left: 799px;
	top: -108px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

