.version.waffle_cone_copy /* version checker */
{
	color: #00001B;
	background-color: #B49CD2;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 743.9500000000003px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 19px;
	padding-bottom: 57px;
	width: 0.01px;
}

#u38158
{
	z-index: 6;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 5px;
}

.ie #u38158
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu43843
{
	z-index: 12;
	width: 203px;
	margin-right: -10000px;
}

#u43844
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u43845
{
	width: 66px;
	padding-bottom: 20px;
}

#u43845:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43845:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43846-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43845:hover #u43846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43845:active #u43846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43854
{
	width: 118px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u43854:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43858
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u43859
{
	width: 66px;
	padding-bottom: 20px;
}

#u43845.MuseMenuActive,#u43859:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43859:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43859.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43860-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43845.MuseMenuActive #u43846-4,#u43859:hover #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43859:active #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43859.MuseMenuActive #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43866
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43854.MuseMenuActive,#u43866:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43872
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u43873
{
	width: 67px;
	padding-bottom: 20px;
}

#u43873:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43873:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43873.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43874-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43873:hover #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43873:active #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43873.MuseMenuActive #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43849,#u43863,#u43877
{
	width: 120px;
	top: 39px;
}

#u43850,#u43851,#u43864,#u43865,#u43878,#u43879
{
	width: 120px;
}

#u43882
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43866.MuseMenuActive,#u43882:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43882.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43857-4,#u43869-4,#u43885-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu38158,#pu38136
{
	width: 0.01px;
	margin-left: 58px;
}

#u38136
{
	z-index: 2;
	width: 493px;
	margin-bottom: -1px;
	margin-right: -10000px;
	padding: 450px 301px 61px 42px;
}

#u38157-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38137-4
{
	z-index: 7;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#slideshowu46412
{
	z-index: 55;
	width: 0.01px;
	height: 584px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 34px;
}

#u46428
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 237px;
}

#u46428popup
{
	z-index: 56;
}

#u46429
{
	z-index: 57;
	width: 366px;
	height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u46431
{
	z-index: 59;
	width: 366px;
	height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u46429:hover,#u46431:hover
{
	width: 366px;
	height: 347px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u46431_img
{
	padding-left: 81px;
}

#u46421
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 68px;
	left: 817px;
	-pie-background: rgba(0,0,0,0.9);
}

#u46421popup
{
	z-index: 61;
}

#u46422
{
	z-index: 62;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u46424
{
	z-index: 64;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u46422_img,#u46424_img
{
	padding-left: 60px;
	padding-right: 60px;
}

#u46420-3
{
	position: absolute;
	width: 123px;
	min-height: 422px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 69px;
	left: 817px;
}

#u46420-3popup
{
	z-index: 66;
}

#u46418-3
{
	position: absolute;
	width: 125px;
	min-height: 422px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 69px;
	left: 1216px;
}

#u46418-3popup
{
	z-index: 69;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u46433-4
{
	z-index: 72;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 498px;
	left: 46px;
}

#u46411-5
{
	z-index: 76;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 46px;
}

#u46411
{
	font-weight: bold;
}

#u46411-2
{
	font-weight: normal;
}

#u46410
{
	z-index: 82;
	height: 18px;
	width: 217px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 46px;
	background: url("../images/u46410.png") no-repeat 0px 0px;
}

#u46410:hover
{
	background: url("../images/u46410-r.png") no-repeat 0px 0px;
}

#u38201
{
	z-index: 11;
	width: 51px;
	height: 50px;
	margin-left: 799px;
	top: -51px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

