.version.westernmillinery /* version checker */
{
	color: #0000F3;
	background-color: #92BCB4;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 1525px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 7px 58px 58px;
}

#menuu48587
{
	z-index: 3;
	width: 203px;
}

#u48588
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u48598
{
	width: 66px;
	padding-bottom: 20px;
}

#u48598:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48598:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48599-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48598:hover #u48599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48598:active #u48599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48592
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48592:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48592:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48616
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u48626
{
	width: 66px;
	padding-bottom: 20px;
}

#u48598.MuseMenuActive,#u48626:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48626:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48626.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u48627-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48598.MuseMenuActive #u48599-4,#u48626:hover #u48627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48626:active #u48627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48626.MuseMenuActive #u48627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u48590,#u48591,#u48618
{
	width: 120px;
}

#u48618:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u48620
{
	width: 120px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u48592.MuseMenuActive,#u48620:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48593-4,#u48621-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u48602
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u48612
{
	width: 67px;
	padding-bottom: 20px;
}

#u48612:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48612:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48612.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u48613-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u48612:hover #u48613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48612:active #u48613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48612.MuseMenuActive #u48613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48589,#u48617,#u48603
{
	width: 120px;
	top: 39px;
}

#u48619,#u48604,#u48605
{
	width: 120px;
}

#u48608
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u48620.MuseMenuActive,#u48608:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48608:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48608.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u48610-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu43740
{
	width: 0.01px;
	margin-top: 12px;
}

#u43740
{
	z-index: 2;
	width: 837px;
	height: 1474px;
	margin-right: -10000px;
}

#u44176
{
	z-index: 47;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 289px;
	left: 209px;
}

#u44176_states
{
	height: 99px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u44176_states.png") no-repeat 0px 0px;
}

#u44176:hover #u44176_states
{
	background: url("../images/u44176_states-r.png") no-repeat 0px 0px;
}

#u46611
{
	z-index: 50;
	position: relative;
	width: 491px;
	margin-right: -10000px;
	margin-top: 487px;
	left: 208px;
}

#u46611_states
{
	height: 98px;
	width: 491px;
	vertical-align: top;
	background: url("../images/u46611_states.png") no-repeat 0px 0px;
}

#u46611:hover #u46611_states
{
	background: url("../images/u46611_states-r.png") no-repeat 0px 0px;
}

#u46615
{
	z-index: 53;
	position: relative;
	width: 510px;
	margin-right: -10000px;
	margin-top: 781px;
	left: 197px;
}

#u46615_states
{
	height: 98px;
	width: 510px;
	vertical-align: top;
	background: url("../images/u46615_states.png") no-repeat 0px 0px;
}

#u46615:hover #u46615_states
{
	background: url("../images/u46615_states-r.png") no-repeat 0px 0px;
}

#u46616
{
	z-index: 56;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 683px;
	left: 207px;
}

#u46616_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u46616_states.png") no-repeat 0px 0px;
}

#u46616:hover #u46616_states
{
	background: url("../images/u46616_states-r.png") no-repeat 0px 0px;
}

#u46618
{
	z-index: 59;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 585px;
	left: 209px;
}

#u46618_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u46618_states.png") no-repeat 0px 0px;
}

#u46618:hover #u46618_states
{
	background: url("../images/u46618_states-r.png") no-repeat 0px 0px;
}

#u46625
{
	z-index: 62;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 879px;
	left: 208px;
}

#u46625_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u46625_states.png") no-repeat 0px 0px;
}

#u46625:hover #u46625_states
{
	background: url("../images/u46625_states-r.png") no-repeat 0px 0px;
}

#u46626
{
	z-index: 65;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 209px;
}

#u46626_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u46626_states.png") no-repeat 0px 0px;
}

#u46626:hover #u46626_states
{
	background: url("../images/u46626_states-r.png") no-repeat 0px 0px;
}

#u46627
{
	z-index: 68;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 209px;
}

#u46627_states
{
	height: 98px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u46627_states.png") no-repeat 0px 0px;
}

#u46627:hover #u46627_states
{
	background: url("../images/u46627_states-r.png") no-repeat 0px 0px;
}

#u46628
{
	z-index: 71;
	position: relative;
	width: 490px;
	margin-right: -10000px;
	margin-top: 388px;
	left: 209px;
}

#u46628_states
{
	height: 99px;
	width: 490px;
	vertical-align: top;
	background: url("../images/u46628_states.png") no-repeat 0px 0px;
}

#u46628:hover #u46628_states
{
	background: url("../images/u46628_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

