.version.westernmillinery /* version checker */
{
	color: #00000F;
	background-color: #6F445B;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 1520px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 58px 58px;
}

#menuu43697
{
	z-index: 2;
	width: 203px;
}

#u43698
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u43699
{
	width: 66px;
	padding-bottom: 20px;
}

#u43699:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43699:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43702-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43699:hover #u43702-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43699:active #u43702-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43706
{
	width: 118px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u43706:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43712
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u43722
{
	width: 66px;
	padding-bottom: 20px;
}

#u43699.MuseMenuActive,#u43722:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43722:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43722.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43725-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43699.MuseMenuActive #u43702-4,#u43722:hover #u43725-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43722:active #u43725-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43722.MuseMenuActive #u43725-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43718
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43706.MuseMenuActive,#u43718:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43726
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u43727
{
	width: 67px;
	padding-bottom: 20px;
}

#u43727:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43727:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43727.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43729-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43727:hover #u43729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43727:active #u43729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43727.MuseMenuActive #u43729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43703,#u43713,#u43731
{
	width: 120px;
	top: 39px;
}

#u43704,#u43705,#u43714,#u43715,#u43732,#u43733
{
	width: 120px;
}

#u43734
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43718.MuseMenuActive,#u43734:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43734.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43709-4,#u43719-4,#u43737-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu43740
{
	width: 0.01px;
}

#u43740
{
	z-index: 45;
	width: 837px;
	height: 1481px;
	margin-right: -10000px;
}

#u44176
{
	z-index: 47;
	height: 99px;
	width: 369px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 207px;
	background: url("../images/u44176.png") no-repeat 0px 0px;
}

#u44176:hover
{
	background: url("../images/u44176-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

