.version.wild_forget_me_not /* version checker */
{
	color: #0000EB;
	background-color: #DC4B48;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 672.9500000000002px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 19px 58px 58.04999999999984px;
}

#slideshowu37507
{
	z-index: 55;
	width: 0.01px;
	height: 593px;
	margin-left: 40px;
	margin-top: 80px;
	position: relative;
}

#u37522
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 245px;
}

#u37522popup
{
	z-index: 56;
}

#u37548
{
	z-index: 57;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u37557
{
	z-index: 59;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u37548:hover,#u37557:hover
{
	width: 372px;
	height: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37566
{
	z-index: 61;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 5px;
}

#u37575
{
	z-index: 63;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 387px;
}

#u37566:hover,#u37575:hover
{
	width: 372px;
	height: 169px;
	min-height: 0px;
	margin: 179px -10000px 0px 0px;
}

#u37513
{
	position: absolute;
	width: 733px;
	height: 579px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -14px;
	left: 612px;
	-pie-background: rgba(0,0,0,0.9);
}

#u37513popup
{
	z-index: 65;
}

#u37551
{
	z-index: 66;
	width: 689px;
	height: 517px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37560
{
	z-index: 68;
	width: 689px;
	height: 517px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37560_img
{
	padding: 40px 192px;
}

#u37569
{
	z-index: 70;
	width: 689px;
	height: 517px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37578
{
	z-index: 72;
	width: 689px;
	height: 517px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37551_img,#u37569_img,#u37578_img
{
	padding: 75px 205px;
}

#u37509-3
{
	position: absolute;
	width: 330px;
	min-height: 1132px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -567px;
	left: 614px;
}

#u37509-3popup
{
	z-index: 74;
}

#u37521-3
{
	position: absolute;
	width: 332px;
	min-height: 1121px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -556px;
	left: 1013px;
}

#u37521-3popup
{
	z-index: 77;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu38185
{
	width: 0.01px;
	margin-top: -673px;
}

#u38185
{
	z-index: 6;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 5px;
}

.ie #u38185
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu43889
{
	z-index: 12;
	width: 203px;
	margin-right: -10000px;
}

#u43890
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u43891
{
	width: 66px;
	padding-bottom: 20px;
}

#u43891:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43891:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43892-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43891:hover #u43892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43891:active #u43892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43900
{
	width: 118px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u43900:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43904
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u43905
{
	width: 66px;
	padding-bottom: 20px;
}

#u43891.MuseMenuActive,#u43905:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43905:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43905.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43906-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43891.MuseMenuActive #u43892-4,#u43905:hover #u43906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43905:active #u43906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43905.MuseMenuActive #u43906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43912
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43900.MuseMenuActive,#u43912:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43918
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u43919
{
	width: 67px;
	padding-bottom: 20px;
}

#u43919:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43919:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43919.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43920-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43919:hover #u43920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43919:active #u43920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43919.MuseMenuActive #u43920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43895,#u43909,#u43923
{
	width: 120px;
	top: 39px;
}

#u43896,#u43897,#u43910,#u43911,#u43924,#u43925
{
	width: 120px;
}

#u43928
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43912.MuseMenuActive,#u43928:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43928.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43903-4,#u43915-4,#u43931-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#pu38187
{
	width: 0.01px;
	margin-top: -634px;
}

#u38187
{
	z-index: 2;
	width: 749px;
	padding-left: 42px;
	padding-top: 450px;
	padding-right: 45px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u38182-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38181-4
{
	z-index: 7;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#u38202
{
	z-index: 11;
	width: 51px;
	height: 50px;
	margin-left: 698px;
	margin-top: 16px;
}

#u37504-4
{
	z-index: 80;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 498px;
	left: 44px;
}

#u37505-5
{
	z-index: 84;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 44px;
}

#u37505
{
	font-weight: bold;
}

#u37505-2
{
	font-weight: normal;
}

#u37506
{
	z-index: 90;
	position: relative;
	width: 217px;
	margin-right: -10000px;
	margin-top: 458px;
	left: 44px;
}

#u37506_states
{
	height: 18px;
	width: 217px;
	vertical-align: top;
	background: url("../images/u37506_states.png") no-repeat 0px 0px;
}

#u37506:hover #u37506_states
{
	background: url("../images/u37506_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

