.version.wild_forget_me_not /* version checker */
{
	color: #0000FC;
	background-color: #566ADD;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 667.9500000000002px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 58px 58.04999999999984px;
}

#slideshowu37507
{
	z-index: 25;
	width: 0.01px;
	height: 593px;
	margin-left: 40px;
	margin-top: 75px;
	position: relative;
}

#u37522
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 245px;
}

#u37522popup
{
	z-index: 26;
}

#u37548
{
	z-index: 27;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u37557
{
	z-index: 29;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u37548:hover,#u37557:hover
{
	width: 372px;
	height: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37566
{
	z-index: 31;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 5px;
}

#u37575
{
	z-index: 33;
	width: 372px;
	height: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 387px;
}

#u37566:hover,#u37575:hover
{
	width: 372px;
	height: 169px;
	min-height: 0px;
	margin: 179px -10000px 0px 0px;
}

#u37513
{
	position: absolute;
	width: 733px;
	height: 579px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -14px;
	left: 612px;
	-pie-background: rgba(0,0,0,0.9);
}

#u37513popup
{
	z-index: 35;
}

#u37551
{
	z-index: 36;
	width: 689px;
	height: 517px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37560
{
	z-index: 38;
	width: 689px;
	height: 517px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37560_img
{
	padding: 40px 192px;
}

#u37569
{
	z-index: 40;
	width: 689px;
	height: 517px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37578
{
	z-index: 42;
	width: 689px;
	height: 517px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u37551_img,#u37569_img,#u37578_img
{
	padding: 75px 205px;
}

#u37509-3
{
	position: absolute;
	width: 330px;
	min-height: 1132px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -567px;
	left: 614px;
}

#u37509-3popup
{
	z-index: 44;
}

#u37521-3
{
	position: absolute;
	width: 332px;
	min-height: 1121px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -556px;
	left: 1013px;
}

#u37521-3popup
{
	z-index: 47;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pmenuu38166
{
	width: 0.01px;
	margin-top: -668px;
}

#menuu38166
{
	z-index: 6;
	width: 105px;
	margin-right: -10000px;
}

#u38167
{
	width: 51px;
	min-height: 34px;
	margin-right: -10000px;
}

#u38168
{
	width: 51px;
	padding-bottom: 22px;
}

#u38168:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38168:active
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38168.MuseMenuActive
{
	width: 51px;
	min-height: 0px;
	margin: 0px;
}

#u38169-4
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38168:hover #u38169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38168:active #u38169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38168.MuseMenuActive #u38169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u38174
{
	width: 52px;
	min-height: 34px;
	margin-right: -10000px;
	left: 53px;
}

#u38177
{
	width: 52px;
	padding-bottom: 22px;
}

#u38177:hover
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38177:active
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38177.MuseMenuActive
{
	width: 52px;
	min-height: 0px;
	margin: 0px;
}

#u38179-4
{
	width: 52px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u38177:hover #u38179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38177:active #u38179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38177.MuseMenuActive #u38179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u38185
{
	z-index: 19;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
}

.ie #u38185
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu38187
{
	width: 0.01px;
	margin-top: -634px;
}

#u38187
{
	z-index: 2;
	width: 749px;
	padding-left: 42px;
	padding-top: 450px;
	padding-right: 45px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u38182-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38181-4
{
	z-index: 20;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#u38202
{
	z-index: 24;
	width: 51px;
	height: 50px;
	margin-left: 698px;
	margin-top: 16px;
}

#u37504-4
{
	z-index: 50;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 498px;
	left: 44px;
}

#u37505-5
{
	z-index: 54;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 44px;
}

#u37505
{
	font-weight: bold;
}

#u37505-2
{
	font-weight: normal;
}

#u37506
{
	z-index: 60;
	position: relative;
	width: 217px;
	margin-right: -10000px;
	margin-top: 458px;
	left: 44px;
}

#u37506_states
{
	height: 18px;
	width: 217px;
	vertical-align: top;
	background: url("../images/u37506_states.png") no-repeat 0px 0px;
}

#u37506:hover #u37506_states
{
	background: url("../images/u37506_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

