.version.winzlear_gear /* version checker */
{
	color: #0000EB;
	background-color: #BF4B5F;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 744px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 19px;
	width: 0.01px;
}

#pu38158
{
	width: 0.01px;
	margin-left: 58px;
}

#u38158
{
	z-index: 6;
	width: 53px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 5px;
}

#menuu43843
{
	z-index: 12;
	width: 203px;
	margin-right: -10000px;
}

#u43844
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
}

#u43845
{
	width: 66px;
	padding-bottom: 20px;
}

#u43845:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43845:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43846-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43845:hover #u43846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43845:active #u43846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43854
{
	width: 118px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u43854:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43858
{
	width: 66px;
	min-height: 39px;
	margin-right: -10000px;
	left: 68px;
}

#u43859
{
	width: 66px;
	padding-bottom: 20px;
}

#u43845.MuseMenuActive,#u43859:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43859:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43859.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u43860-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43845.MuseMenuActive #u43846-4,#u43859:hover #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43859:active #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43859.MuseMenuActive #u43860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u43866
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43854.MuseMenuActive,#u43866:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43872
{
	width: 67px;
	min-height: 39px;
	margin-right: -10000px;
	left: 136px;
}

#u43873
{
	width: 67px;
	padding-bottom: 20px;
}

#u43873:hover
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43873:active
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43873.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u43874-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 10px;
}

#u43873:hover #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43873:active #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43873.MuseMenuActive #u43874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u43849,#u43863,#u43877
{
	width: 120px;
	top: 39px;
}

#u43850,#u43851,#u43864,#u43865,#u43878,#u43879
{
	width: 120px;
}

#u43882
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u43866.MuseMenuActive,#u43882:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43882.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43857-4,#u43869-4,#u43885-4
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#slideshowu10187
{
	z-index: 55;
	width: 0.01px;
	height: 582px;
	margin-left: 143px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u10192
{
	position: absolute;
	width: 444px;
	height: 582px;
	background-color: transparent;
}

#u10192popup
{
	z-index: 56;
}

#u35620
{
	z-index: 57;
	width: 444px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.ie #u38158,.ie #u35620
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu38136
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: -574px;
}

#u38136
{
	z-index: 2;
	width: 493px;
	margin-right: -10000px;
	padding: 450px 301px 61px 42px;
}

#u38157-3
{
	z-index: 3;
	width: 217px;
	min-height: 17px;
}

#u38137-4
{
	z-index: 7;
	width: 493px;
	min-height: 69px;
	margin-top: 31px;
}

#slideshowu36770
{
	z-index: 58;
	width: 0.01px;
	height: 702px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 34px;
}

#u36777
{
	position: absolute;
	width: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 360px;
}

#u36777popup
{
	z-index: 59;
}

#u38071
{
	z-index: 60;
	width: 366px;
	height: 166px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u42961
{
	z-index: 62;
	width: 366px;
	height: 166px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u38071:hover,#u42961:hover
{
	width: 366px;
	height: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u42970
{
	z-index: 64;
	width: 366px;
	height: 166px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 11px;
}

#u42984
{
	z-index: 66;
	width: 366px;
	height: 166px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 387px;
}

#u42970:hover,#u42984:hover
{
	width: 366px;
	height: 166px;
	min-height: 0px;
	margin: 176px -10000px 0px 0px;
}

#u36782
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 69px;
	left: 817px;
	-pie-background: rgba(0,0,0,0.9);
}

#u36782popup
{
	z-index: 68;
}

#u38074
{
	z-index: 69;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u38074_img
{
	padding-left: 103px;
	padding-right: 102px;
}

#u42964
{
	z-index: 71;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42964_img
{
	padding-left: 102px;
	padding-right: 103px;
}

#u42973
{
	z-index: 73;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42973_img
{
	padding-left: 91px;
	padding-right: 91px;
}

#u42987
{
	z-index: 75;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u42987_img
{
	padding-left: 114px;
	padding-right: 114px;
}

#u36788-3
{
	position: absolute;
	width: 123px;
	min-height: 422px;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 69px;
	left: 817px;
}

#u36788-3popup
{
	z-index: 77;
}

#u36790-3
{
	position: absolute;
	width: 125px;
	min-height: 422px;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 69px;
	left: 1216px;
}

#u36790-3popup
{
	z-index: 80;
}

#u36822-4
{
	z-index: 83;
	width: 485px;
	min-height: 69px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 44px;
}

#u37222-5
{
	z-index: 87;
	width: 217px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 44px;
}

#u37222
{
	font-weight: bold;
}

#u37222-2
{
	font-weight: normal;
}

#u37223
{
	z-index: 93;
	height: 18px;
	width: 217px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 45px;
	background: url("../images/u37223.png") no-repeat 0px 0px;
}

#u37223:hover
{
	background: url("../images/u37223-r.png") no-repeat 0px 0px;
}

#u38201
{
	z-index: 11;
	width: 51px;
	height: 50px;
	margin-left: 799px;
	top: -108px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 955px;
	padding-top: 35px;
}

#page .verticalspacer
{
	clear: both;
}

