.version.__menufineart1 /* version checker */
{
	color: #00000A;
	background-color: #A81700;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 544px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 4px;
}

#ppu50198
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu50198
{
	width: 0.01px;
	margin-left: 2px;
}

#u50198
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#menuu50096
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50104
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50105
{
	width: 54px;
	padding-bottom: 31px;
}

#u50105:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50105.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50107-3_clip,#u50107-3_img
{
	width: 54px;
	height: 19px;
}

#u50107-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50109
{
	width: 312px;
	top: 50px;
}

#u50161
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50161:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50204
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50204:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50194
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50194:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50110,#u50160,#u50201,#u50191,#u50184
{
	width: 312px;
}

#u50187
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50187:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50161.MuseMenuActive,#u50204.MuseMenuActive,#u50194.MuseMenuActive,#u50187.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50163-5,#u50205-5,#u50195-5,#u50188-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50307-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 83px;
}

#pu27618
{
	width: 0.01px;
}

#u27618,#u27618-bw
{
	z-index: 2;
	height: 450px;
}

#u40257-6
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 69px;
}

#u40258-6
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
	left: 71px;
}

#u40259-6
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 69px;
}

#u40260
{
	z-index: 69;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 70px;
}

#u40260:hover #u40260_states
{
	background: url("../../images/u40260_states-r.png") no-repeat 0px 0px;
}

#u40261
{
	z-index: 72;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 70px;
}

#u40261:hover #u40261_states
{
	background: url("../../images/u40261_states-r.png") no-repeat 0px 0px;
}

#u40262
{
	z-index: 75;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 182px;
	left: 71px;
}

#u40262:hover #u40262_states
{
	background: url("../../images/u40262_states-r.png") no-repeat 0px 0px;
}

#u40263-6
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 71px;
}

#u40264
{
	z-index: 84;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 230px;
	left: 72px;
}

#u40264:hover #u40264_states
{
	background: url("../../images/u40264_states-r.png") no-repeat 0px 0px;
}

#u40265-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 127px;
}

#u40266
{
	z-index: 90;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 155px;
}

#u40266:hover
{
	opacity: 0.03;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
	filter: alpha(opacity=3);
	width: 32px;
	height: 28px;
	min-height: 0px;
	margin: 406px -10000px 0px 0px;
}

#u40268-4
{
	z-index: 91;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 69px;
}

#u40288-6
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 71px;
}

#u40289
{
	z-index: 102;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 278px;
	left: 72px;
}

#u40260_states,#u40261_states,#u40262_states,#u40264_states,#u40289_states
{
	height: 48px;
	width: 242px;
	vertical-align: top;
}

#u40289:hover #u40289_states
{
	background: url("../../images/u40289_states-r.png") no-repeat 0px 0px;
}

#u49998
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 55px;
}

#u49998:hover
{
	width: 40px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

#u49151
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 170px;
}

#u49153
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 287px;
}

#u49151:hover,#u49153:hover
{
	width: 39px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -549px;
}

