.version.cherry_bling /* version checker */
{
	color: #0000F2;
	background-color: #F8A2F7;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 544px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 4px;
}

#slideshowu33267
{
	z-index: 50;
	width: 0.01px;
	height: 157px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -233px;
}

#u33271
{
	position: absolute;
	background-color: transparent;
}

#u33271popup
{
	z-index: 51;
}

#u33272
{
	z-index: 52;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u33313
{
	z-index: 54;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u33279
{
	position: absolute;
	width: 142px;
	background-color: transparent;
	left: 233px;
}

#u33279popup
{
	z-index: 56;
}

#u33282-4
{
	z-index: 57;
	width: 112px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u33319-4
{
	z-index: 61;
	width: 112px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u33282-4:hover,#u33319-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u33283-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u33283-4popup
{
	z-index: 65;
}

#u33283
{
	color: #999999;
}

#u33284-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 107px;
	left: 81px;
}

#u33284-4popup
{
	z-index: 69;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#ppu50622
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu50622
{
	width: 0.01px;
	margin-left: 2px;
}

#u50622
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#menuu50625
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50626
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50627
{
	width: 54px;
	padding-bottom: 31px;
}

#u50627:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50627.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50629-3_clip,#u50629-3_img
{
	width: 54px;
	height: 19px;
}

#u50629-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50631
{
	width: 312px;
	top: 50px;
}

#u50636
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50636:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50662
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50662:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50643
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50643:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50632,#u50633,#u50661,#u50640,#u50654
{
	width: 312px;
}

#u50655
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50655:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50636.MuseMenuActive,#u50662.MuseMenuActive,#u50643.MuseMenuActive,#u50655.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50637-5,#u50664-5,#u50645-5,#u50658-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50670-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 83px;
}

#u50624,#u50624-bw
{
	z-index: 2;
	height: 450px;
}

#u50671
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 55px;
}

#u50671:hover
{
	width: 40px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

#u50673
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 170px;
}

#u50668
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 287px;
}

#u50673:hover,#u50668:hover
{
	width: 39px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -549px;
}

