.version.contact /* version checker */
{
	color: #0000FB;
	background-color: #021676;
}

@-ms-viewport
{
	width: 378px;
}

@-webkit-viewport
{
	width: 378px;
}

@-o-viewport
{
	width: 378px;
}

@-moz-viewport
{
	width: 378px;
}

@viewport
{
	width: 378px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 378px;
	min-height: 671px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
}

#u27608
{
	z-index: 2;
	min-height: 310.6px;
	padding: 313px 18px 48.39999999999998px 5px;
}

#u27879
{
	z-index: 3;
	width: 183px;
	height: 28px;
	background-color: #FFFFFF;
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
	margin-left: 1px;
	position: relative;
}

#u27880
{
	z-index: 4;
	width: 183px;
	height: 28px;
	background-color: #FFFFFF;
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
	margin-left: 1px;
	margin-top: 43px;
	position: relative;
}

#u27881
{
	z-index: 5;
	width: 355px;
	height: 169px;
	background-color: #FFFFFF;
	opacity: 0.38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
	filter: alpha(opacity=38);
	margin-top: 43px;
	position: relative;
}

#u27608-bw
{
	z-index: 2;
	min-height: 310.6px;
}

#u27877
{
	z-index: 6;
	min-height: 765px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u27877-bw
{
	z-index: 6;
	min-height: 765px;
}

body
{
	position: relative;
	min-width: 378px;
}

#page .verticalspacer
{
	clear: both;
}

