.version.coral__alabaster /* version checker */
{
	color: #00000E;
	background-color: #1F8125;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 305px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 243px;
}

#slideshowu33395
{
	z-index: 3;
	width: 0.01px;
	height: 157px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -233px;
}

#u33399
{
	position: absolute;
	background-color: transparent;
}

#u33399popup
{
	z-index: 4;
}

#u33439
{
	z-index: 5;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u33448
{
	z-index: 7;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u33407
{
	position: absolute;
	width: 166px;
	background-color: transparent;
	left: 233px;
}

#u33407popup
{
	z-index: 9;
}

#u33445-4
{
	z-index: 10;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u33454-4
{
	z-index: 14;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u33445-4:hover,#u33454-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u33411-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u33411-4popup
{
	z-index: 18;
}

#u33411
{
	color: #999999;
}

#u33412-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 107px;
	left: 81px;
}

#u33412-4popup
{
	z-index: 22;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u34070
{
	z-index: 2;
	height: 63px;
}

#u34070-bw
{
	z-index: 2;
	margin-top: 242px;
	height: 63px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

