.version.crown_copy /* version checker */
{
	color: #00000F;
	background-color: #5C308F;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 525px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 45px;
}

#u28146-6
{
	z-index: 7;
	width: 47px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 7px;
}

#u28146-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 47px;
	margin: 11px -10000px 0px 0px;
}

#slideshowu28995
{
	z-index: 13;
	width: 0.01px;
	height: 101px;
	position: relative;
	margin-right: -10000px;
}

#u29014
{
	position: absolute;
	background-color: transparent;
}

#u29014popup
{
	z-index: 14;
}

#u29019
{
	z-index: 15;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29015
{
	z-index: 17;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29017
{
	z-index: 19;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29005-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u29005-4popup
{
	z-index: 21;
}

#u29004-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 56px;
}

#u29004-4popup
{
	z-index: 25;
}

#u29013-4
{
	position: absolute;
	width: 81px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 51px;
}

#u29013-4popup
{
	z-index: 29;
}

#u29005,#u29013
{
	color: #999999;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 51px;
}

#u27618
{
	z-index: 0;
	width: 280px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu27625
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 13px;
}

#pu27625
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u27625
{
	z-index: 0;
	width: 263px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu27666-3
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 6px;
}

#u27666-3
{
	z-index: 4;
	width: 250px;
	min-height: 441px;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

