.version.crown_2_copy /* version checker */
{
	color: #0000F9;
	background-color: #FE78FC;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 989px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 11px;
}

#slideshowu29175
{
	z-index: 7;
	width: 0.01px;
	height: 525px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u29176
{
	position: absolute;
	background-color: transparent;
}

#u29176popup
{
	z-index: 8;
}

#u29179
{
	z-index: 9;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29177
{
	z-index: 11;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29181
{
	z-index: 13;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29183
{
	z-index: 15;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29196
{
	position: absolute;
	width: 268px;
	background-color: transparent;
}

#u29196popup
{
	z-index: 17;
}

#u29198-4
{
	z-index: 18;
	width: 238px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u29199-4
{
	z-index: 22;
	width: 238px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u29197-4
{
	z-index: 26;
	width: 238px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u29200-4
{
	z-index: 30;
	width: 238px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u29204-25
{
	position: absolute;
	width: 25px;
	min-height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 44px;
	left: 325px;
}

#u29204-25popup
{
	z-index: 34;
}

#u29202-25
{
	position: absolute;
	width: 25px;
	min-height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 36px;
}

#u29202-25popup
{
	z-index: 59;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u28358-3
{
	z-index: 2;
	width: 280px;
	min-height: 475px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 50px;
}

#pu28365
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 919px;
	margin-left: 103px;
}

#u28365
{
	z-index: 5;
	width: 216px;
	min-height: 16px;
	margin-right: -10000px;
}

#u28368
{
	z-index: 6;
	width: 46px;
	height: 44px;
	margin-right: -10000px;
	left: 139px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -918px;
}

