.version.crown /* version checker */
{
	color: #0000F7;
	background-color: #A7B452;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 525px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 45px;
}

#u28146-6
{
	z-index: 7;
	width: 47px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 7px;
}

#u28146-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 47px;
	margin: 11px -10000px 0px 0px;
}

#u27703-39
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 89px;
}

#u27987
{
	z-index: 52;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 85px;
}

.ie #u27987
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27987:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 109px -10001px -1px 0px;
}

#u27988
{
	z-index: 53;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 84px;
}

.ie #u27988
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27988:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 125px -10001px -1px 0px;
}

#u27989
{
	z-index: 54;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 84px;
}

.ie #u27989
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27989:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 142px -10001px -1px 0px;
}

#u27990
{
	z-index: 55;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 84px;
}

.ie #u27990
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27990:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 159px -10001px -1px 0px;
}

#u27991
{
	z-index: 56;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 84px;
}

.ie #u27991
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27991:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 175px -10001px -1px 0px;
}

#u27992
{
	z-index: 57;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 84px;
}

.ie #u27992
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27992:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 190px -10001px -1px 0px;
}

#u27993
{
	z-index: 58;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 85px;
}

.ie #u27993
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27993:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 207px -10001px -1px 0px;
}

#u27994
{
	z-index: 59;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 85px;
}

.ie #u27994
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27994:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 224px -10001px -1px 0px;
}

#u27995
{
	z-index: 60;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 84px;
}

.ie #u27995
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27995:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 240px -10001px -1px 0px;
}

#u27996
{
	z-index: 61;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 84px;
}

.ie #u27996
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27996:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 256px -10001px -1px 0px;
}

#u27997
{
	z-index: 62;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 85px;
}

.ie #u27997
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27997:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 274px -10001px -1px 0px;
}

#u27998
{
	z-index: 63;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 83px;
}

.ie #u27998
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27998:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 290px -10001px -1px 0px;
}

#u27999
{
	z-index: 64;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 84px;
}

.ie #u27999
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27999:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 308px -10001px -1px 0px;
}

#u28000
{
	z-index: 65;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 323px;
	left: 84px;
}

.ie #u28000
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28000:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 323px -10001px -1px 0px;
}

#u28001
{
	z-index: 66;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 85px;
}

.ie #u28001
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28001:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 340px -10001px -1px 0px;
}

#u28002
{
	z-index: 67;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 356px;
	left: 85px;
}

.ie #u28002
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28002:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 356px -10001px -1px 0px;
}

#u28003
{
	z-index: 68;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 452px;
	left: 86px;
}

.ie #u28003
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28003:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 452px -10001px -1px 0px;
}

.ie #u27987:hover,.ie #u27988:hover,.ie #u27989:hover,.ie #u27990:hover,.ie #u27991:hover,.ie #u27992:hover,.ie #u27993:hover,.ie #u27994:hover,.ie #u27995:hover,.ie #u27996:hover,.ie #u27997:hover,.ie #u27998:hover,.ie #u27999:hover,.ie #u28000:hover,.ie #u28001:hover,.ie #u28002:hover,.ie #u28003:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 51px;
}

#u27618
{
	z-index: 0;
	width: 280px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu27625
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 13px;
}

#pu27625
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u27625
{
	z-index: 0;
	width: 263px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu27666-3
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 6px;
}

#u27666-3
{
	z-index: 4;
	width: 250px;
	min-height: 441px;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

