.version.crown_1_copy_2 /* version checker */
{
	color: #00001E;
	background-color: #5BDA2A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 525px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 45px;
}

#slideshowu29358
{
	z-index: 78;
	width: 0.01px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u29364
{
	position: absolute;
	background-color: transparent;
}

#u29364popup
{
	z-index: 79;
}

#u29369
{
	z-index: 80;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29367
{
	z-index: 82;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29365
{
	z-index: 84;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29371
{
	z-index: 86;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29375
{
	position: absolute;
	width: 268px;
	background-color: transparent;
	left: 99px;
}

#u29375popup
{
	z-index: 88;
}

#u29379-4
{
	z-index: 89;
	width: 238px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u29377-4
{
	z-index: 93;
	width: 238px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u29378-4
{
	z-index: 97;
	width: 238px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u29376-4
{
	z-index: 101;
	width: 238px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	line-height: 1.4;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u29373-4
{
	position: absolute;
	width: 81px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 15px;
	line-height: 1.4;
	font-size: 9px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u29373-4popup
{
	z-index: 105;
}

#u29373
{
	color: #999999;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#menuu29273
{
	z-index: 3;
	width: 37px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 7px;
}

#u29275
{
	width: 37px;
	padding-bottom: 17px;
}

#u29282
{
	width: 56px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u29282:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29285-4
{
	width: 48px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u29282:hover #u29285-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u29289
{
	width: 56px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u29282.MuseMenuActive,#u29289:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29290-4
{
	width: 48px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u29282.MuseMenuActive #u29285-4,#u29289:hover #u29290-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u29296
{
	width: 56px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u29289.MuseMenuActive,#u29296:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29297-4
{
	width: 48px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u29289.MuseMenuActive #u29290-4,#u29296:hover #u29297-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u29303
{
	width: 56px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u29296.MuseMenuActive,#u29303:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29305-4
{
	width: 48px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u29296.MuseMenuActive #u29297-4,#u29303:hover #u29305-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#pu29272
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 51px;
}

#u29272
{
	z-index: 2;
	width: 280px;
	height: 475px;
	margin-right: -10000px;
}

.ie #u29272
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u29350-9
{
	z-index: 69;
	width: 280px;
	min-height: 475px;
	margin-right: -10000px;
}

#menuu29314
{
	z-index: 36;
	width: 37px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 337px;
}

#u29274,#u29315
{
	width: 37px;
	min-height: 34px;
	margin-right: -10000px;
}

#u29346
{
	width: 37px;
	padding-bottom: 17px;
}

#u29275.MuseMenuActive,#u29346.MuseMenuActive
{
	width: 37px;
	min-height: 0px;
	margin: 0px;
}

#u29277-4_clip,#u29348-4_clip
{
	width: 37px;
	height: 17px;
}

#u29277-4,#u29348-4
{
	margin-right: -10000px;
	top: 8px;
}

#u29279,#u29316
{
	width: 56px;
	left: -7px;
	top: 34px;
}

#u29335
{
	width: 56px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u29303.MuseMenuActive,#u29335:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29338-4
{
	width: 48px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u29303.MuseMenuActive #u29305-4,#u29335:hover #u29338-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u29326
{
	width: 56px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u29335.MuseMenuActive,#u29326:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29329-4
{
	width: 48px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u29335.MuseMenuActive #u29338-4,#u29326:hover #u29329-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u29321
{
	width: 56px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u29326.MuseMenuActive,#u29321:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29324-4
{
	width: 48px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u29326.MuseMenuActive #u29329-4,#u29321:hover #u29324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u29280,#u29281,#u29288,#u29295,#u29302,#u29317,#u29332,#u29325,#u29318,#u29339
{
	width: 56px;
}

#u29340
{
	width: 56px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u29321.MuseMenuActive,#u29340:hover
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29340.MuseMenuActive
{
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29341-4
{
	width: 48px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u29321.MuseMenuActive #u29324-4,#u29340:hover #u29341-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u29340.MuseMenuActive #u29341-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

