.version.fabric /* version checker */
{
	color: #0000FE;
	background-color: #66C687;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 280px;
	min-height: 939px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding: 50px 50px 11px;
}

#pu28358-3
{
	width: 0.01px;
}

#u28358-3
{
	z-index: 2;
	width: 280px;
	min-height: 475px;
	margin-right: -10000px;
}

#u28539
{
	z-index: 7;
	width: 278px;
	height: 366px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: transparent url("../../images/dsc03463.jpg") no-repeat left top;
	background-size: cover;
}

#u28546
{
	z-index: 8;
	width: 278px;
	height: 366px;
	position: relative;
	margin-right: -10000px;
	margin-top: 366px;
	left: 1px;
	background: transparent url("../../images/cinderella1.jpg") no-repeat left top;
	background-size: cover;
}

#u28547
{
	z-index: 9;
	width: 278px;
	height: 366px;
	margin-left: 1px;
	position: relative;
	background: transparent url("../../images/dsc03621.jpg") no-repeat center center;
	background-size: cover;
}

#u28560
{
	z-index: 10;
	width: 278px;
	height: 366px;
	margin-left: 1px;
	position: relative;
	background: transparent url("../../images/back.jpg") no-repeat center center;
	background-size: cover;
}

#u28567
{
	z-index: 11;
	width: 278px;
	height: 366px;
	margin-left: 1px;
	position: relative;
	background: transparent url("../../images/thumbnail.jpg") no-repeat center center;
	background-size: cover;
}

#u28574
{
	z-index: 12;
	width: 278px;
	height: 366px;
	margin-left: 1px;
	position: relative;
	background: transparent url("../../images/1.jpg") no-repeat center center;
	background-size: cover;
}

#pu28365
{
	width: 0.01px;
	margin-left: 53px;
}

#u28365
{
	z-index: 5;
	width: 216px;
	min-height: 16px;
	margin-right: -10000px;
}

#u28368
{
	z-index: 6;
	width: 46px;
	height: 44px;
	margin-right: -10000px;
	left: 139px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

