.version.fabricmenu /* version checker */
{
	color: #0000E7;
	background-color: #81584E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 316px;
	min-height: 500.7391662837672px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding: 16px 54px 31.26083371623281px 10px;
}

#u28146-4
{
	z-index: 3;
	width: 109px;
	min-height: 13px;
}

#u28146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 109px;
	margin: 0px;
}

#ppu27618
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 14px;
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 41px;
}

#u27618
{
	z-index: 0;
	width: 271px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu39121-6
{
	width: 0.01px;
	padding-bottom: 244.02500000000006px;
	position: relative;
	left: 14px;
	padding-top: 63px;
	z-index: 2;
}

#u39121-6
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
}

#u39122-6
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-top: 48px;
	position: relative;
}

#u29407-13
{
	z-index: 7;
	width: 19px;
	min-height: 125px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u39125-6
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 55px;
}

#u39118-6
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 55px;
}

#u39124
{
	z-index: 48;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 55px;
}

#u39124:hover #u39124_states
{
	background: url("../../images/u39124_states-r.png") no-repeat 0px 0px;
}

#u39123
{
	z-index: 51;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 55px;
}

#u39123:hover #u39123_states
{
	background: url("../../images/u39123_states-r.png") no-repeat 0px 0px;
}

#u39120
{
	z-index: 54;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 111px;
	left: 55px;
}

#u39120:hover #u39120_states
{
	background: url("../../images/u39120_states-r.png") no-repeat 0px 0px;
}

#u39119
{
	z-index: 63;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 159px;
	left: 55px;
}

#u39124_states,#u39123_states,#u39120_states,#u39119_states
{
	height: 48px;
	width: 242px;
	vertical-align: top;
}

#u39119:hover #u39119_states
{
	background: url("../../images/u39119_states-r.png") no-repeat 0px 0px;
}

#u29454-5
{
	z-index: 20;
	width: 103px;
	min-height: 14px;
	margin-left: 212px;
}

#u29454-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px 0px 0px 212px;
}

#u29455-4
{
	z-index: 25;
	width: 103px;
	min-height: 14px;
	margin-left: 44px;
	margin-top: 1px;
}

#u29455-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 1px 0px 0px 44px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

