.version.floralccrown2 /* version checker */
{
	color: #0000ED;
	background-color: #B218ED;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 316px;
	min-height: 500.7391662837672px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding: 16px 54px 31.26083371623281px 10px;
}

#u28146-4
{
	z-index: 3;
	width: 109px;
	min-height: 13px;
}

#u28146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 109px;
	margin: 0px;
}

#ppu27618
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 14px;
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 41px;
}

#u27618
{
	z-index: 0;
	width: 271px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu39026-6
{
	width: 0.01px;
	position: relative;
	left: 14px;
	padding-top: 63px;
	z-index: 2;
	padding-bottom: 21px;
}

#u39026-6
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
}

#u39028-6
{
	z-index: 59;
	display: block;
	vertical-align: top;
	margin-top: 96px;
	position: relative;
}

#u39017-6
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
}

#u39020-6
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
}

#u39022-4
{
	z-index: 71;
	display: block;
	vertical-align: top;
	margin-left: 55px;
	margin-top: 57px;
	position: relative;
}

#u29407-13
{
	z-index: 7;
	width: 19px;
	min-height: 125px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u39024-6
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 55px;
}

#u39027-6
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 55px;
}

#u39015-6
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 55px;
}

#u39021
{
	z-index: 75;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 102px;
}

#u39012
{
	z-index: 76;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 144px;
}

#u39029
{
	z-index: 77;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 186px;
}

#u39023
{
	z-index: 78;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 227px;
}

#u39019
{
	z-index: 80;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 55px;
}

#u39019:hover #u39019_states
{
	background: url("../../images/u39019_states-r.png") no-repeat 0px 0px;
}

#u39018
{
	z-index: 83;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 55px;
}

#u39018:hover #u39018_states
{
	background: url("../../images/u39018_states-r.png") no-repeat 0px 0px;
}

#u39014
{
	z-index: 86;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 111px;
	left: 55px;
}

#u39014:hover #u39014_states
{
	background: url("../../images/u39014_states-r.png") no-repeat 0px 0px;
}

#u39030
{
	z-index: 89;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 159px;
	left: 54px;
}

#u39030:hover #u39030_states
{
	background: url("../../images/u39030_states-r.png") no-repeat 0px 0px;
}

#u39025
{
	z-index: 92;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 207px;
	left: 55px;
}

#u39025:hover #u39025_states
{
	background: url("../../images/u39025_states-r.png") no-repeat 0px 0px;
}

#u39016
{
	z-index: 95;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 255px;
	left: 55px;
}

#u39016:hover #u39016_states
{
	background: url("../../images/u39016_states-r.png") no-repeat 0px 0px;
}

#u39013
{
	z-index: 98;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 55px;
}

#u39019_states,#u39018_states,#u39014_states,#u39030_states,#u39025_states,#u39016_states,#u39013_states
{
	height: 48px;
	width: 242px;
	vertical-align: top;
}

#u39013:hover #u39013_states
{
	background: url("../../images/u39013_states-r.png") no-repeat 0px 0px;
}

#u29454-5
{
	z-index: 20;
	width: 103px;
	min-height: 14px;
	margin-left: 212px;
}

#u29454-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px 0px 0px 212px;
}

#u29455-4
{
	z-index: 25;
	width: 103px;
	min-height: 14px;
	margin-left: 44px;
	margin-top: 1px;
}

#u29455-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 1px 0px 0px 44px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

