.version.floralccrown2 /* version checker */
{
	color: #0000E2;
	background-color: #5F6AB8;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 544px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 4px;
}

#ppu50198
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu50198
{
	width: 0.01px;
	margin-left: 2px;
}

#u50198
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#menuu50096
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50104
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50105
{
	width: 54px;
	padding-bottom: 31px;
}

#u50105:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50105.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50107-3_clip,#u50107-3_img
{
	width: 54px;
	height: 19px;
}

#u50107-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50109
{
	width: 312px;
	top: 50px;
}

#u50161
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50161:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50204
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50204:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50194
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50194:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50110,#u50160,#u50201,#u50191,#u50184
{
	width: 312px;
}

#u50187
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50187:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50161.MuseMenuActive,#u50204.MuseMenuActive,#u50194.MuseMenuActive,#u50187.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50163-5,#u50205-5,#u50195-5,#u50188-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50307-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 83px;
}

#pu27618
{
	width: 0.01px;
}

#u27618,#u27618-bw
{
	z-index: 2;
	height: 450px;
}

#u39020-6
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 69px;
}

#u39026-6
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 69px;
}

#u39024-6
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 69px;
}

#u39017-6
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 69px;
}

#u39027-6
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 69px;
}

#u39028-6
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 69px;
}

#u39015-6
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 69px;
}

#u39022-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 124px;
}

#u39021
{
	z-index: 96;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 116px;
}

#u39012
{
	z-index: 97;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 158px;
}

#u39029
{
	z-index: 98;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 200px;
}

#u39023
{
	z-index: 99;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 241px;
}

#u39019
{
	z-index: 101;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 69px;
}

#u39019:hover #u39019_states
{
	background: url("../../images/u39019_states-r.png") no-repeat 0px 0px;
}

#u39018
{
	z-index: 104;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 69px;
}

#u39018:hover #u39018_states
{
	background: url("../../images/u39018_states-r.png") no-repeat 0px 0px;
}

#u39014
{
	z-index: 107;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 69px;
}

#u39014:hover #u39014_states
{
	background: url("../../images/u39014_states-r.png") no-repeat 0px 0px;
}

#u39030
{
	z-index: 110;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 157px;
	left: 68px;
}

#u39030:hover #u39030_states
{
	background: url("../../images/u39030_states-r.png") no-repeat 0px 0px;
}

#u39025
{
	z-index: 113;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 205px;
	left: 69px;
}

#u39025:hover #u39025_states
{
	background: url("../../images/u39025_states-r.png") no-repeat 0px 0px;
}

#u39016
{
	z-index: 116;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 253px;
	left: 69px;
}

#u39016:hover #u39016_states
{
	background: url("../../images/u39016_states-r.png") no-repeat 0px 0px;
}

#u39013
{
	z-index: 119;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 301px;
	left: 69px;
}

#u39019_states,#u39018_states,#u39014_states,#u39030_states,#u39025_states,#u39016_states,#u39013_states
{
	height: 48px;
	width: 242px;
	vertical-align: top;
}

#u39013:hover #u39013_states
{
	background: url("../../images/u39013_states-r.png") no-repeat 0px 0px;
}

#u49998
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 55px;
}

#u49998:hover
{
	width: 40px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

#u49151
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 170px;
}

#u49153
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 287px;
}

#u49151:hover,#u49153:hover
{
	width: 39px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -549px;
}

