.version.floralccrown1 /* version checker */
{
	color: #0000F1;
	background-color: #CDD66B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 544px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 4px;
}

#ppu50198
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu50198
{
	width: 0.01px;
	margin-left: 2px;
}

#u50198
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#menuu50096
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50104
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50105
{
	width: 54px;
	padding-bottom: 31px;
}

#u50105:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50105.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50107-3_clip,#u50107-3_img
{
	width: 54px;
	height: 19px;
}

#u50107-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50109
{
	width: 312px;
	top: 50px;
}

#u50161
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50161:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50204
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50204:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50194
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50194:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50110,#u50160,#u50201,#u50191,#u50184
{
	width: 312px;
}

#u50187
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50187:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50161.MuseMenuActive,#u50204.MuseMenuActive,#u50194.MuseMenuActive,#u50187.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50163-5,#u50205-5,#u50195-5,#u50188-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50307-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 83px;
}

#pu27618
{
	width: 0.01px;
}

#u27618,#u27618-bw
{
	z-index: 2;
	height: 450px;
}

#u33100-6
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 69px;
}

#u33088-6
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 69px;
}

#u33082-6
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 69px;
}

#u33094-6
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 69px;
}

#u33086-6
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 69px;
}

#u33083-6
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 69px;
}

#u33099-6
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 69px;
}

#u38946
{
	z-index: 93;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 69px;
}

#u38946:hover #u38946_states
{
	background: url("../../images/u38946_states-r.png") no-repeat 0px 0px;
}

#u38947
{
	z-index: 96;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 157px;
	left: 69px;
}

#u38947:hover #u38947_states
{
	background: url("../../images/u38947_states-r.png") no-repeat 0px 0px;
}

#u38948
{
	z-index: 99;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 205px;
	left: 69px;
}

#u38948:hover #u38948_states
{
	background: url("../../images/u38948_states-r.png") no-repeat 0px 0px;
}

#u38949
{
	z-index: 102;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 301px;
	left: 69px;
}

#u38949:hover #u38949_states
{
	background: url("../../images/u38949_states-r.png") no-repeat 0px 0px;
}

#u38950
{
	z-index: 105;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 253px;
	left: 69px;
}

#u38950:hover #u38950_states
{
	background: url("../../images/u38950_states-r.png") no-repeat 0px 0px;
}

#u38951-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 124px;
}

#u38955
{
	z-index: 111;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 116px;
}

#u38956
{
	z-index: 112;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 158px;
}

#u38956:hover
{
	opacity: 0.03;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
	filter: alpha(opacity=3);
	width: 32px;
	height: 28px;
	min-height: 0px;
	margin: 401px -10000px 0px 0px;
}

#u38957
{
	z-index: 113;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 200px;
}

#u38958
{
	z-index: 114;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 238px;
}

#u42894
{
	z-index: 116;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 69px;
}

#u42894:hover #u42894_states
{
	background: url("../../images/u42894_states-r.png") no-repeat 0px 0px;
}

#u38945
{
	z-index: 119;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 69px;
}

#u38946_states,#u38947_states,#u38948_states,#u38949_states,#u38950_states,#u42894_states,#u38945_states
{
	height: 48px;
	width: 242px;
	vertical-align: top;
}

#u38945:hover #u38945_states
{
	background: url("../../images/u38945_states-r.png") no-repeat 0px 0px;
}

#u49998
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 55px;
}

#u49998:hover
{
	width: 40px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

#u49151
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 170px;
}

#u49153
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 287px;
}

#u49151:hover,#u49153:hover
{
	width: 39px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -549px;
}

