.version.floralcrownmenu1 /* version checker */
{
	color: #000012;
	background-color: #C04729;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 544px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 4px;
}

#ppu50198
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu50198
{
	width: 0.01px;
	margin-left: 2px;
}

#u50198
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 7px;
}

#menuu50096
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50104
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50105
{
	width: 54px;
	padding-bottom: 31px;
}

#u50105:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50105.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50107-3_clip,#u50107-3_img
{
	width: 54px;
	height: 19px;
}

#u50107-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50109
{
	width: 312px;
	top: 50px;
}

#u50161
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50161:hover
{
	width: 310px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u50204
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50204:hover
{
	width: 310px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u50110,#u50160,#u50201,#u50191
{
	width: 312px;
}

#u50194
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50194:hover
{
	width: 310px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u50161.MuseMenuActive,#u50204.MuseMenuActive,#u50194.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50163-5,#u50205-5,#u50195-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50184
{
	width: 312px;
	padding-bottom: 2px;
}

#u50187
{
	width: 310px;
	padding-bottom: 28px;
	margin-right: -10000px;
	top: 1px;
	left: 1px;
}

#u50187:hover
{
	width: 308px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u50187.MuseMenuActive
{
	width: 310px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50188-5
{
	margin-right: -10000px;
	top: 14px;
	left: 3px;
}

#u50307-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 83px;
}

#pu27618
{
	width: 0.01px;
	margin-top: -4px;
}

#u27618,#u27618-bw
{
	z-index: 2;
	height: 450px;
}

#u55041-6
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 77px;
}

#u55039-6
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 77px;
}

#u55040-6
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 77px;
}

#u55044
{
	z-index: 69;
	position: relative;
	width: 380px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 1px;
}

#u55044:hover #u55044_states
{
	background: url("../../images/u55044_states-r.png") no-repeat 0px 0px;
}

#u55043
{
	z-index: 72;
	position: relative;
	width: 380px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 1px;
}

#u55043:hover #u55043_states
{
	background: url("../../images/u55043_states-r.png") no-repeat 0px 0px;
}

#u55042
{
	z-index: 75;
	position: relative;
	width: 380px;
	margin-right: -10000px;
	margin-top: 179px;
}

#u55042:hover #u55042_states
{
	background: url("../../images/u55042_states-r.png") no-repeat 0px 0px;
}

#u55058-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 159px;
}

#u55059
{
	z-index: 81;
	width: 32px;
	height: 28px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 150px;
}

.ie #u55059
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u55060
{
	z-index: 82;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 190px;
}

#u55060:hover
{
	opacity: 0.03;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
	filter: alpha(opacity=3);
	width: 32px;
	height: 28px;
	min-height: 0px;
	margin: 406px -10000px 0px 0px;
}

#u55079-6
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 81px;
}

#u55081-6
{
	z-index: 89;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 81px;
}

#u55082
{
	z-index: 96;
	position: relative;
	width: 380px;
	margin-right: -10000px;
	margin-top: 239px;
	left: 1px;
}

#u55044_states,#u55043_states,#u55042_states,#u55082_states
{
	height: 48px;
	width: 380px;
	vertical-align: top;
}

#u55082:hover #u55082_states
{
	background: url("../../images/u55082_states-r.png") no-repeat 0px 0px;
}

#u55083
{
	z-index: 99;
	height: 48px;
	width: 380px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 4px;
}

#u55083:hover
{
	background: url("../../images/u55083-r.png") no-repeat 0px 0px;
}

#u49998
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 55px;
}

#u49998:hover
{
	width: 40px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

#u49151
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 170px;
}

#u49153
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 287px;
}

#u49151:hover,#u49153:hover
{
	width: 39px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -549px;
}

