.version.floral /* version checker */
{
	color: #00001D;
	background-color: #7F3461;
}

@-ms-viewport
{
	width: 384px;
}

@-webkit-viewport
{
	width: 384px;
}

@-o-viewport
{
	width: 384px;
}

@-moz-viewport
{
	width: 384px;
}

@viewport
{
	width: 384px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 547.539166283767px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-top: -2px;
}

#page_position_content
{
	padding-top: 30px;
	padding-bottom: 48px;
	width: 0.01px;
}

#u28146-4
{
	z-index: 3;
	width: 90px;
	min-height: 13px;
	margin-left: 35px;
}

#u28146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 90px;
	margin: 0px 0px 0px 35px;
}

#pu27618
{
	width: 0.01px;
	margin-left: -2px;
}

#u27618
{
	z-index: 2;
	width: 271px;
	height: 451px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 56px;
}

#u29407-13
{
	z-index: 7;
	width: 10px;
	min-height: 71px;
	margin-right: -10000px;
	left: 37px;
}

#u27672-34
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 54px;
}

#u28165
{
	z-index: 54;
	width: 381px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1px;
}

.ie #u28165
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28165:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 22px;
	min-height: 0px;
	margin: 63px -10000px 0px 0px;
}

#u28166
{
	z-index: 55;
	width: 381px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 1px;
}

.ie #u28166
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28166:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 22px;
	min-height: 0px;
	margin: 85px -10000px 0px 0px;
}

#u28167
{
	z-index: 56;
	width: 381px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 1px;
}

.ie #u28167
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28167:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 22px;
	min-height: 0px;
	margin: 108px -10000px 0px 0px;
}

#u28168
{
	z-index: 57;
	width: 381px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 1px;
}

.ie #u28168
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28168:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 22px;
	min-height: 0px;
	margin: 130px -10000px 0px 0px;
}

#u28169
{
	z-index: 58;
	width: 381px;
	height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
}

.ie #u28169
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28169:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 23px;
	min-height: 0px;
	margin: 152px -10000px 0px 0px;
}

#u28170
{
	z-index: 59;
	width: 381px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
}

.ie #u28170
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28170:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 24px;
	min-height: 0px;
	margin: 176px -10000px 0px 0px;
}

#u28171
{
	z-index: 60;
	width: 380px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 1px;
}

.ie #u28171
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28171:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 24px;
	min-height: 0px;
	margin: 200px -10000px 0px 0px;
}

#u28172
{
	z-index: 61;
	width: 381px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
}

.ie #u28172
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28172:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 24px;
	min-height: 0px;
	margin: 223px -10000px 0px 0px;
}

#u28173
{
	z-index: 62;
	width: 381px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 1px;
}

.ie #u28173
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28173:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 24px;
	min-height: 0px;
	margin: 247px -10000px 0px 0px;
}

#u28174
{
	z-index: 63;
	width: 381px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
	left: 1px;
}

.ie #u28174
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28174:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 24px;
	min-height: 0px;
	margin: 271px -10000px 0px 0px;
}

#u28175
{
	z-index: 64;
	width: 381px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 1px;
}

.ie #u28175
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28175:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 24px;
	min-height: 0px;
	margin: 295px -10000px 0px 0px;
}

#u28176
{
	z-index: 65;
	width: 381px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 1px;
}

.ie #u28176
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28176:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 381px;
	height: 24px;
	min-height: 0px;
	margin: 318px -10000px 0px 0px;
}

#u28177
{
	z-index: 66;
	width: 380px;
	height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	left: 2px;
}

.ie #u28177
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28177:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 22px;
	min-height: 0px;
	margin: 436px -10000px 0px 0px;
}

.ie #u28165:hover,.ie #u28166:hover,.ie #u28167:hover,.ie #u28168:hover,.ie #u28169:hover,.ie #u28170:hover,.ie #u28171:hover,.ie #u28172:hover,.ie #u28173:hover,.ie #u28174:hover,.ie #u28175:hover,.ie #u28176:hover,.ie #u28177:hover
{
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
}

body
{
	position: relative;
	min-width: 384px;
}

#page .verticalspacer
{
	clear: both;
}

