.version.floral /* version checker */
{
	color: #0000FA;
	background-color: #7E3190;
}

@-ms-viewport
{
	width: 384px;
}

@-webkit-viewport
{
	width: 384px;
}

@-o-viewport
{
	width: 384px;
}

@-moz-viewport
{
	width: 384px;
}

@viewport
{
	width: 384px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 525px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 45px;
	margin-top: -2px;
}

#u28146-6
{
	z-index: 7;
	width: 47px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 7px;
}

#u28146-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 47px;
	margin: 11px -10000px 0px 0px;
}

#u27672-39
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 52px;
}

#u28165
{
	z-index: 52;
	width: 380px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
}

.ie #u28165
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28165:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 16px;
	min-height: 0px;
	margin: 105px -10000px 0px 0px;
}

#u28166
{
	z-index: 53;
	width: 380px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
}

.ie #u28166
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28166:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 16px;
	min-height: 0px;
	margin: 121px -10000px 0px 0px;
}

#u28167
{
	z-index: 54;
	width: 380px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
}

.ie #u28167
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28167:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 16px;
	min-height: 0px;
	margin: 137px -10000px 0px 0px;
}

#u28168
{
	z-index: 55;
	width: 380px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
}

.ie #u28168
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28168:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 16px;
	min-height: 0px;
	margin: 153px -10000px 0px 0px;
}

#u28169
{
	z-index: 56;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: -1px;
}

.ie #u28169
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28169:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 169px -10000px 0px 0px;
}

#u28170
{
	z-index: 57;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: -1px;
}

.ie #u28170
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28170:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 186px -10000px 0px 0px;
}

#u28171
{
	z-index: 58;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
}

.ie #u28171
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28171:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 203px -10000px 0px 0px;
}

#u28172
{
	z-index: 59;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: -1px;
}

.ie #u28172
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28172:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u28173
{
	z-index: 60;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
}

.ie #u28173
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28173:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 237px -10000px 0px 0px;
}

#u28174
{
	z-index: 61;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
}

.ie #u28174
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28174:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 254px -10000px 0px 0px;
}

#u28175
{
	z-index: 62;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
}

.ie #u28175
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28175:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 271px -10000px 0px 0px;
}

#u28176
{
	z-index: 63;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
}

.ie #u28176
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28176:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 288px -10000px 0px 0px;
}

#u28177
{
	z-index: 64;
	width: 380px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: -1px;
}

.ie #u28177
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28177:hover
{
	background-color: #000000;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	width: 380px;
	height: 17px;
	min-height: 0px;
	margin: 416px -10000px 0px 0px;
}

.ie #u28165:hover,.ie #u28166:hover,.ie #u28167:hover,.ie #u28168:hover,.ie #u28169:hover,.ie #u28170:hover,.ie #u28171:hover,.ie #u28172:hover,.ie #u28173:hover,.ie #u28174:hover,.ie #u28175:hover,.ie #u28176:hover,.ie #u28177:hover
{
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 51px;
}

#u27618
{
	z-index: 0;
	width: 280px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu27625
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 13px;
}

#pu27625
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u27625
{
	z-index: 0;
	width: 263px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu27666-3
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 6px;
}

#u27666-3
{
	z-index: 4;
	width: 250px;
	min-height: 441px;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 384px;
}

#page .verticalspacer
{
	clear: both;
}

