.version.flowers /* version checker */
{
	color: #00000F;
	background-color: #170B8D;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 280px;
	min-height: 509.9999999999999px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding: 15px 49px 45.000000000000114px 51px;
}

#u27638-4
{
	z-index: 4;
	width: 280px;
	min-height: 35px;
	left: -1px;
}

#ppu27635
{
	width: 0.01px;
	margin-left: -1px;
}

#pu27635
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u27635
{
	z-index: 0;
	width: 279px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu27636
{
	width: 0.01px;
	position: relative;
	left: 33px;
	padding-top: 28px;
	z-index: 2;
	padding-bottom: 33px;
}

#pu27636
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u27636
{
	z-index: 0;
	width: 213px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu27639-27
{
	width: 0.01px;
	position: relative;
	left: 9px;
	padding-top: 10px;
	z-index: 2;
	padding-bottom: 11px;
}

#u27639-27
{
	z-index: 8;
	width: 196px;
	min-height: 394px;
	margin-right: -10000px;
}

#u27645
{
	z-index: 35;
	width: 196px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 43px;
}

.ie #u27645
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27645:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 195px;
	height: 15px;
	min-height: 0px;
	margin: 37px -10001px -1px 0px;
}

.ie #u27645:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u27646
{
	z-index: 37;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 135px;
	left: 43px;
}

#u27646_states
{
	height: 18px;
	width: 180px;
	vertical-align: top;
	background: url("../../images/u27646_states.png") no-repeat 0px 0px;
}

#u27646:hover #u27646_states
{
	background: url("../../images/u27646_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

