.version.forget_me_not /* version checker */
{
	color: #00000B;
	background-color: #443C97;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 305px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 243px;
}

#slideshowu29084
{
	z-index: 3;
	width: 0.01px;
	height: 157px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -233px;
}

#u29102
{
	position: absolute;
	background-color: transparent;
}

#u29102popup
{
	z-index: 4;
}

#u34539
{
	z-index: 5;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u39367
{
	z-index: 7;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u39376
{
	z-index: 9;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u39385
{
	z-index: 11;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u39394
{
	z-index: 13;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u39403
{
	z-index: 15;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u29086
{
	position: absolute;
	width: 153px;
	background-color: transparent;
	left: 233px;
}

#u29086popup
{
	z-index: 17;
}

#u34545-4
{
	z-index: 18;
	width: 123px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u39373-4
{
	z-index: 22;
	width: 123px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u39382-4
{
	z-index: 26;
	width: 123px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u39391-4
{
	z-index: 30;
	width: 123px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u39400-4
{
	z-index: 34;
	width: 123px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u39409-4
{
	z-index: 38;
	width: 123px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u34545-4:hover,#u39373-4:hover,#u39382-4:hover,#u39391-4:hover,#u39400-4:hover,#u39409-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u29101-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u29101-4popup
{
	z-index: 42;
}

#u29101
{
	color: #999999;
}

#u29114-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 107px;
	left: 81px;
}

#u29114-4popup
{
	z-index: 46;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u34070
{
	z-index: 2;
	height: 63px;
}

#u34070-bw
{
	z-index: 2;
	margin-top: 242px;
	height: 63px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

