.version.fruit_punch /* version checker */
{
	color: #0000E4;
	background-color: #A3D548;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 517px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 31px;
}

#slideshowu30183
{
	z-index: 34;
	width: 0.01px;
	height: 157px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -233px;
}

#u30185
{
	position: absolute;
	background-color: transparent;
}

#u30185popup
{
	z-index: 35;
}

#u30190
{
	z-index: 36;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30241
{
	z-index: 38;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30250
{
	z-index: 40;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30259
{
	z-index: 42;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30205
{
	position: absolute;
	width: 144px;
	background-color: transparent;
	left: 233px;
}

#u30205popup
{
	z-index: 44;
}

#u30207-4
{
	z-index: 45;
	width: 114px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30247-4
{
	z-index: 49;
	width: 114px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30256-4
{
	z-index: 53;
	width: 114px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30265-4
{
	z-index: 57;
	width: 114px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30207-4:hover,#u30247-4:hover,#u30256-4:hover,#u30265-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u30204-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u30204-4popup
{
	z-index: 61;
}

#u30204
{
	color: #999999;
}

#u30192-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 107px;
	left: 81px;
}

#u30192-4popup
{
	z-index: 65;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pu28146-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 10px;
}

#u28146-4
{
	z-index: 3;
	width: 109px;
	min-height: 13px;
}

#u28146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 109px;
	margin: 0px;
}

#pu29407-13
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 14px;
}

#u29407-13
{
	z-index: 7;
	width: 19px;
	min-height: 125px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u27618
{
	z-index: 2;
	width: 271px;
	height: 451px;
	margin-right: -10000px;
	left: 41px;
}

#u29450-5
{
	z-index: 20;
	width: 103px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 517px;
	left: 30px;
}

#u29455-4
{
	z-index: 30;
	width: 103px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 517px;
	left: 140px;
}

#u29454-5
{
	z-index: 25;
	width: 103px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 517px;
	left: 250px;
}

#u29450-5:hover,#u29455-4:hover,#u29454-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 517px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -516px;
}

