.version.ginsa_shat /* version checker */
{
	color: #000006;
	background-color: #4EC205;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 533px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 15px;
}

#slideshowu51140
{
	z-index: 55;
	width: 0.01px;
	height: 495px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: -233px;
}

#u51141
{
	position: absolute;
	width: 380px;
	height: 495px;
	background-color: transparent;
	left: 233px;
}

#u51141popup
{
	z-index: 56;
}

#u51142
{
	z-index: 57;
	width: 380px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51329
{
	z-index: 59;
	width: 380px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51338
{
	z-index: 61;
	width: 380px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51347
{
	z-index: 63;
	width: 380px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51356
{
	z-index: 65;
	width: 380px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51365
{
	z-index: 67;
	width: 380px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u51162-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 67px;
}

#u51162-4popup
{
	z-index: 69;
}

#u51162
{
	color: #999999;
}

#u51160-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 78px;
	left: 81px;
}

#u51160-4popup
{
	z-index: 73;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pppu50670-3
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
}

#ppu50670-3
{
	width: 0.01px;
	margin-left: 2px;
}

#pu50670-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 83px;
}

#u50670-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
}

#u51136-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u51137-4
{
	z-index: 77;
	width: 281px;
	min-height: 39px;
	background-color: #FFFFFF;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u51137-4:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 281px;
	margin: 2px -10000px 0px 0px;
}

#u50622
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#menuu50625
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50626
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50627
{
	width: 54px;
	padding-bottom: 31px;
}

#u50627:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50627.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50629-3_clip,#u50629-3_img
{
	width: 54px;
	height: 19px;
}

#u50629-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50631
{
	width: 312px;
	top: 50px;
}

#u50636
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50636:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50662
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50662:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50643
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50643:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50632,#u50633,#u50661,#u50640,#u50654
{
	width: 312px;
}

#u50655
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50655:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50636.MuseMenuActive,#u50662.MuseMenuActive,#u50643.MuseMenuActive,#u50655.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50637-5,#u50664-5,#u50645-5,#u50658-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50624,#u50624-bw
{
	z-index: 2;
	height: 431px;
}

#u51138
{
	z-index: 54;
	width: 237px;
	height: 13px;
	background-color: #FFFFFF;
	margin-left: 143px;
	margin-top: 5px;
	position: relative;
}

#u50671
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 557px;
	left: 55px;
}

#u50671:hover
{
	width: 40px;
	min-height: 0px;
	margin: 557px -10000px 0px 0px;
}

#u50673
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 557px;
	left: 170px;
}

#u50668
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 557px;
	left: 287px;
}

#u50673:hover,#u50668:hover
{
	width: 39px;
	min-height: 0px;
	margin: 557px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -557px;
}

