.version.index /* version checker */
{
	color: #00000C;
	background-color: #A3B7E0;
}

@-ms-viewport
{
	width: 378px;
}

@-webkit-viewport
{
	width: 378px;
}

@-o-viewport
{
	width: 378px;
}

@-moz-viewport
{
	width: 378px;
}

@viewport
{
	width: 378px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 378px;
	min-height: 672px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u27608
{
	z-index: 2;
	min-height: 599px;
	padding-bottom: 73px;
}

#u27615-22
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 40px;
}

#u27608-bw
{
	z-index: 2;
	min-height: 599px;
}

#u27616
{
	z-index: 25;
	width: 245px;
	height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 67px;
}

.ie #u27616
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27616:hover
{
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	width: 245px;
	height: 37px;
	min-height: 0px;
	margin: 154px -10000px 0px 0px;
}

#u27642
{
	z-index: 26;
	width: 245px;
	height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 67px;
}

.ie #u27642
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27642:hover
{
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	width: 245px;
	height: 37px;
	min-height: 0px;
	margin: 306px -10000px 0px 0px;
}

#u27665
{
	z-index: 27;
	width: 245px;
	height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 458px;
	left: 67px;
}

.ie #u27665
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27665:hover
{
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	width: 245px;
	height: 37px;
	min-height: 0px;
	margin: 458px -10000px 0px 0px;
}

.ie #u27616:hover,.ie #u27642:hover,.ie #u27665:hover
{
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
}

body
{
	position: relative;
	min-width: 378px;
}

#page .verticalspacer
{
	clear: both;
}

