.version.index /* version checker */
{
	color: #00000E;
	background-color: #D9D551;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
}

#u26986
{
	z-index: 2;
	min-height: 463px;
	padding-bottom: 117px;
}

#u26992-12
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 117px;
	left: 50px;
}

#u26986-bw
{
	z-index: 2;
	min-height: 463px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

