.version.index /* version checker */
{
	color: #0000E4;
	background-color: #64830D;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 561px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 4px;
}

#ppu50198
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu50198
{
	width: 0.01px;
	margin-left: 2px;
}

#u50198
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#menuu50096
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50104
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50105
{
	width: 54px;
	padding-bottom: 31px;
}

#u50105:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50105.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50107-3_clip,#u50107-3_img
{
	width: 54px;
	height: 19px;
}

#u50107-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50109
{
	width: 312px;
	top: 50px;
}

#u50161
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50161:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50204
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50204:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50194
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50194:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50110,#u50160,#u50201,#u50191,#u50184
{
	width: 312px;
}

#u50187
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50187:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50161.MuseMenuActive,#u50204.MuseMenuActive,#u50194.MuseMenuActive,#u50187.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50163-5,#u50205-5,#u50195-5,#u50188-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50307-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 83px;
}

#pslideshowu50362
{
	width: 0.01px;
	margin-top: -1px;
}

#slideshowu50362
{
	z-index: 50;
	width: 0.01px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
}

#u50374
{
	position: absolute;
	width: 380px;
	height: 451px;
	background-color: transparent;
}

#u50374popup
{
	z-index: 51;
}

#u50375
{
	z-index: 52;
	width: 380px;
	height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u50426
{
	z-index: 54;
	width: 380px;
	height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u50402
{
	z-index: 56;
	width: 380px;
	height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u50414
{
	z-index: 58;
	width: 380px;
	height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u50373-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 171px;
	left: 603px;
}

#u50373-4popup
{
	z-index: 60;
}

#u50373
{
	color: #999999;
}

#u50372-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 100px;
	left: 603px;
}

#u50372-4popup
{
	z-index: 64;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u27618,#u27618-bw
{
	z-index: 2;
	height: 450px;
}

#u49998
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 55px;
}

#u49998:hover
{
	width: 40px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

#u49151
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 170px;
}

#u49153
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 287px;
}

#u49151:hover,#u49153:hover
{
	width: 39px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -549px;
}

