.version.layeroverlayeroverlayer /* version checker */
{
	color: #0000E1;
	background-color: #005CF0;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 548px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 3px;
	padding-bottom: 48px;
	width: 0.01px;
}

#slideshowu42706
{
	z-index: 4;
	width: 0.01px;
	height: 175px;
	left: -233px;
	position: relative;
}

#u42736
{
	position: absolute;
	background-color: transparent;
}

#u42736popup
{
	z-index: 5;
}

#u42825
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42834
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42843
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42852
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42861
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42870
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42745
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42741
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42737
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42753
{
	z-index: 24;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42751
{
	z-index: 26;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42749
{
	z-index: 28;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u42760
{
	position: absolute;
	width: 279px;
	background-color: transparent;
	left: 233px;
}

#u42760popup
{
	z-index: 30;
}

#u42831-4
{
	z-index: 31;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42840-4
{
	z-index: 35;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42849-4
{
	z-index: 39;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42858-4
{
	z-index: 43;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42867-4
{
	z-index: 47;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42876-4
{
	z-index: 51;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42766-4
{
	z-index: 55;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42765-4
{
	z-index: 59;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42764-4
{
	z-index: 63;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42763-4
{
	z-index: 67;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42762-4
{
	z-index: 71;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42761-4
{
	z-index: 75;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u42831-4:hover,#u42840-4:hover,#u42849-4:hover,#u42858-4:hover,#u42867-4:hover,#u42876-4:hover,#u42766-4:hover,#u42765-4:hover,#u42764-4:hover,#u42763-4:hover,#u42762-4:hover,#u42761-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#u42711-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 114px;
}

#u42711-4popup
{
	z-index: 79;
}

#u42711
{
	color: #999999;
}

#u42709-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 125px;
	left: 81px;
}

#u42709-4popup
{
	z-index: 83;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u34070
{
	z-index: 2;
	height: 63px;
}

#u34070-bw
{
	z-index: 2;
	margin-top: 64px;
	height: 63px;
}

#u42772
{
	z-index: 3;
	width: 237px;
	height: 13px;
	background-color: #FFFFFF;
	margin-left: 143px;
	margin-top: 182px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

