.version.luck_and_eyes /* version checker */
{
	color: #0000E0;
	background-color: #4B3041;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 544px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 4px;
}

#slideshowu41288
{
	z-index: 51;
	width: 0.01px;
	height: 148px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: -233px;
}

#u41291
{
	position: absolute;
	background-color: transparent;
}

#u41291popup
{
	z-index: 52;
}

#u41453
{
	z-index: 53;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41528
{
	z-index: 55;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41537
{
	z-index: 57;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41546
{
	z-index: 59;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41555
{
	z-index: 61;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41564
{
	z-index: 63;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41573
{
	z-index: 65;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41582
{
	z-index: 67;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41591
{
	z-index: 69;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41600
{
	z-index: 71;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41609
{
	z-index: 73;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u41302
{
	position: absolute;
	width: 166px;
	background-color: transparent;
	left: 233px;
}

#u41302popup
{
	z-index: 75;
}

#u41459-4
{
	z-index: 76;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41534-4
{
	z-index: 80;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41543-4
{
	z-index: 84;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41552-4
{
	z-index: 88;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41561-4
{
	z-index: 92;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41570-4
{
	z-index: 96;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41579-4
{
	z-index: 100;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41588-4
{
	z-index: 104;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41597-4
{
	z-index: 108;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41606-4
{
	z-index: 112;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41615-4
{
	z-index: 116;
	width: 136px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u41459-4:hover,#u41534-4:hover,#u41543-4:hover,#u41552-4:hover,#u41561-4:hover,#u41570-4:hover,#u41579-4:hover,#u41588-4:hover,#u41597-4:hover,#u41606-4:hover,#u41615-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u41290-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 87px;
}

#u41290-4popup
{
	z-index: 120;
}

#u41290
{
	color: #999999;
}

#u41301-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 98px;
	left: 81px;
}

#u41301-4popup
{
	z-index: 124;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#ppu50622
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu50622
{
	width: 0.01px;
	margin-left: 2px;
}

#u50622
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#menuu50625
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50626
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50627
{
	width: 54px;
	padding-bottom: 31px;
}

#u50627:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50627.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50629-3_clip,#u50629-3_img
{
	width: 54px;
	height: 19px;
}

#u50629-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50631
{
	width: 312px;
	top: 50px;
}

#u50636
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50636:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50662
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50662:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50643
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50643:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50632,#u50633,#u50661,#u50640,#u50654
{
	width: 312px;
}

#u50655
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50655:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50636.MuseMenuActive,#u50662.MuseMenuActive,#u50643.MuseMenuActive,#u50655.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50637-5,#u50664-5,#u50645-5,#u50658-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50670-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 83px;
}

#pu50624
{
	width: 0.01px;
}

#u50624,#u50624-bw
{
	z-index: 2;
	height: 450px;
}

#u41470
{
	z-index: 50;
	width: 237px;
	height: 13px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
	left: 143px;
}

#u41469-4
{
	z-index: 128;
	width: 241px;
	min-height: 13px;
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
	left: 143px;
}

#u50671
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 55px;
}

#u50671:hover
{
	width: 40px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

#u50673
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 170px;
}

#u50668
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 287px;
}

#u50673:hover,#u50668:hover
{
	width: 39px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -549px;
}

