.version.mainmenu /* version checker */
{
	color: #000019;
	background-color: #36F986;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 316px;
	min-height: 500.7391662837672px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding: 16px 54px 31.26083371623281px 10px;
}

#u28146-4
{
	z-index: 3;
	width: 109px;
	min-height: 13px;
}

#u28146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 109px;
	margin: 0px;
}

#ppu27618
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 14px;
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 41px;
}

#u27618
{
	z-index: 0;
	width: 271px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu33631-6
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 46px;
	z-index: 2;
	padding-bottom: 44px;
}

#u33631-6
{
	z-index: 35;
	width: 242px;
	min-height: 38px;
	background-color: transparent;
	text-align: center;
	line-height: 1.58;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 2px;
	position: relative;
}

#u33631-2
{
	font-size: 10px;
	letter-spacing: 4px;
}

#u33631-4
{
	font-size: 14px;
	letter-spacing: 36px;
	font-weight: normal;
}

#u33627-6
{
	z-index: 41;
	width: 242px;
	min-height: 43px;
	background-color: transparent;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 3px;
	margin-top: 107px;
	position: relative;
}

#u33627-2
{
	font-size: 10px;
	line-height: 1.58;
	letter-spacing: 4px;
}

#u33627-4
{
	line-height: 2.27;
	letter-spacing: 25px;
	font-weight: normal;
}

#u33629-6
{
	z-index: 29;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	letter-spacing: 4px;
	text-align: center;
	line-height: 1.58;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 130px;
	position: relative;
}

#u33629-2
{
	font-size: 10px;
}

#u33629-4
{
	font-size: 14px;
}

#u29407-13
{
	z-index: 7;
	width: 19px;
	min-height: 125px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u33628
{
	z-index: 48;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 58px;
}

#u33628_states
{
	height: 38px;
	width: 242px;
	vertical-align: top;
}

#u33628:hover #u33628_states
{
	background: url("../../images/u33628_states-r.png") no-repeat 0px 0px;
}

#u33861
{
	z-index: 51;
	height: 48px;
	width: 242px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 59px;
}

#u33861:hover
{
	background: url("../../images/u33861-r.png") no-repeat 0px 0px;
}

#u33862
{
	z-index: 54;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 365px;
	left: 57px;
}

#u33862_states
{
	height: 48px;
	width: 242px;
	vertical-align: top;
}

#u33862:hover #u33862_states
{
	background: url("../../images/u33862_states-r.png") no-repeat 0px 0px;
}

#u29454-5
{
	z-index: 20;
	width: 103px;
	min-height: 14px;
	margin-left: 212px;
}

#u29454-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px 0px 0px 212px;
}

#u29455-4
{
	z-index: 25;
	width: 103px;
	min-height: 14px;
	margin-left: 44px;
	margin-top: 1px;
}

#u29455-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 1px 0px 0px 44px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

