.version.main_screen /* version checker */
{
	color: #00001A;
	background-color: #E3C123;
}

@-ms-viewport
{
	width: 378px;
}

@-webkit-viewport
{
	width: 378px;
}

@-o-viewport
{
	width: 378px;
}

@-moz-viewport
{
	width: 378px;
}

@viewport
{
	width: 378px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 378px;
	min-height: 672px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u27608
{
	z-index: 2;
	min-height: 548px;
	padding: 71px 17px 53px;
}

#u28101-6
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u28102-4
{
	z-index: 9;
	width: 343px;
	min-height: 53px;
	background-color: #232857;
	border-radius: 7px;
	letter-spacing: 3px;
	text-align: center;
	font-size: 15px;
	line-height: 3.17;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 413px;
	position: relative;
}

#u27608-bw
{
	z-index: 2;
	min-height: 548px;
}

body
{
	position: relative;
	min-width: 378px;
}

#page .verticalspacer
{
	clear: both;
}

