#u28146-4
{
	background-color: transparent;
	line-height: 1.38;
	text-align: center;
	font-size: 14px;
	letter-spacing: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u27618
{
	background-color: #F7F6F4;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u29407-13
{
	background-color: transparent;
	font-size: 14px;
	letter-spacing: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u29450-5
{
	background-color: transparent;
	line-height: 1.49;
	text-align: center;
	font-size: 9px;
	letter-spacing: 2px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u29455-4
{
	background-color: transparent;
	line-height: 1.49;
	text-align: center;
	font-size: 11px;
	letter-spacing: 0px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u29454-5
{
	background-color: transparent;
	line-height: 1.49;
	text-align: center;
	font-size: 9px;
	letter-spacing: 2px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u28146-4:hover,#u29450-5:hover,#u29455-4:hover,#u29454-5:hover
{
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
}

#u29450-3,#u29454-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u29450,#u29454
{
	font-size: 11px;
	letter-spacing: 0px;
}

#u29450-3  span,#u29450-3  a,#u29450-3  span,#u29450-3  a,#u29450-3  span,#u29450-3  a,#u29450-3  span,#u29450-3  a,#u29450-3  span,#u29450-3  a,#u29454-3  span,#u29454-3  a,#u29454-3  span,#u29454-3  a,#u29454-3  span,#u29454-3  a,#u29454-3  span,#u29454-3  a,#u29454-3  span,#u29454-3  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.49;
}

