#u28146-4
{
	background-color: transparent;
	line-height: 1.38;
	font-size: 9px;
	text-align: center;
	letter-spacing: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u29407-13
{
	background-color: transparent;
	font-size: 9px;
	letter-spacing: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u27618
{
	background-color: #F7F6F4;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
}

#u29450-5
{
	background-color: transparent;
	line-height: 1.49;
	font-size: 9px;
	text-align: center;
	letter-spacing: 2px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u29455-4
{
	background-color: transparent;
	line-height: 1.49;
	font-size: 9px;
	text-align: center;
	letter-spacing: 2px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u29454-5
{
	background-color: transparent;
	line-height: 1.49;
	font-size: 9px;
	text-align: center;
	letter-spacing: 2px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u28146-4:hover,#u29450-5:hover,#u29455-4:hover,#u29454-5:hover
{
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
}

#u29450,#u29454
{
	text-decoration: none;
}

