#slideshowu27738
{
	position: relative;
}

#u27745,#u27747,#u27749
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u27744,#u27739
{
	position: absolute;
	background-color: transparent;
}

#u27742-4,#u27740-4,#u27741-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: left;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u27752-4
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u27752
{
	color: #999999;
}

#u27743-4
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

