#u27638-4
{
	background-color: transparent;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u27638
{
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u27635
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C7B299;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u27636
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u27639-27
{
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u27639-2,#u27639-4,#u27639-6,#u27639-8,#u27639-10,#u27639-12,#u27639-14,#u27639-16,#u27639-18,#u27639-20,#u27639-22,#u27639-24
{
	line-height: 1.65;
}

