#u34070
{
	background-color: #F7F6F4;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
}

#u34073-5
{
	background-color: transparent;
	letter-spacing: 2px;
	font-size: 9px;
	text-align: center;
	line-height: 1.49;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u34072-4
{
	background-color: transparent;
	letter-spacing: 0px;
	font-size: 11px;
	text-align: center;
	line-height: 1.49;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u34071-5
{
	background-color: transparent;
	letter-spacing: 2px;
	font-size: 9px;
	text-align: center;
	line-height: 1.49;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u34073-5:hover,#u34072-4:hover,#u34071-5:hover
{
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
}

#u34073-3,#u34071-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u34073,#u34071
{
	font-size: 11px;
	letter-spacing: 0px;
}

#u34073-3  span,#u34073-3  a,#u34073-3  span,#u34073-3  a,#u34071-3  span,#u34071-3  a,#u34071-3  span,#u34071-3  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.49;
}

