#u27630
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	background: transparent url("../../images/dsc03134.jpg") no-repeat left top;
	background-size: cover;
}

#u27629
{
	background-color: #FFFFFF;
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
}

#u27641-26
{
	background-color: transparent;
	line-height: 1.65;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

