#u27002
{
	background: transparent url("../../images/upclose.gif") no-repeat left bottom;
	background-size: cover;
}

#slideshowu27068
{
	position: relative;
}

#u27070
{
	position: absolute;
	background-color: transparent;
}

#u27075,#u27112,#u27126
{
	border-width: 9px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u27075_clip,#u27112_clip,#u27126_clip
{
	overflow: hidden;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

