#u28358-3
{
	background-color: transparent;
	position: relative;
}

#u28365
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u28368
{
	background-color: #FFFFFF;
	position: relative;
}

