.version.menufineart2 /* version checker */
{
	color: #000018;
	background-color: #CE875C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 316px;
	min-height: 500.7391662837672px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding: 16px 54px 31.26083371623281px 10px;
}

#u28146-4
{
	z-index: 3;
	width: 109px;
	min-height: 13px;
}

#u28146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 109px;
	margin: 0px;
}

#ppu27618
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 14px;
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 41px;
}

#u27618
{
	z-index: 0;
	width: 271px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu40283-6
{
	width: 0.01px;
	position: relative;
	left: 15px;
	padding-top: 66px;
	z-index: 2;
	padding-bottom: 17px;
}

#u40283-6
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
}

#u40279-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-top: 96px;
	position: relative;
}

#u40281-6
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	position: relative;
}

#u40278-6
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	position: relative;
}

#u40280-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	margin-left: 58px;
	margin-top: 37px;
	position: relative;
}

#u29407-13
{
	z-index: 7;
	width: 19px;
	min-height: 125px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u40284-6
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 55px;
}

#u40275
{
	z-index: 48;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 55px;
}

#u40275:hover #u40275_states
{
	background: url("../../images/u40275_states-r.png") no-repeat 0px 0px;
}

#u40277
{
	z-index: 51;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 55px;
}

#u40277:hover #u40277_states
{
	background: url("../../images/u40277_states-r.png") no-repeat 0px 0px;
}

#u40282
{
	z-index: 54;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 280px;
	left: 57px;
}

#u40282:hover #u40282_states
{
	background: url("../../images/u40282_states-r.png") no-repeat 0px 0px;
}

#u40276
{
	z-index: 63;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 328px;
	left: 58px;
}

#u40276:hover #u40276_states
{
	background: url("../../images/u40276_states-r.png") no-repeat 0px 0px;
}

#u40273
{
	z-index: 69;
	width: 32px;
	height: 28px;
	background-color: #F9F8F7;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 408px;
	left: 106px;
}

#u40273:hover
{
	opacity: 0.03;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
	filter: alpha(opacity=3);
	width: 32px;
	height: 28px;
	min-height: 0px;
	margin: 408px -10000px 0px 0px;
}

#u40290-6
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 55px;
}

#u40291
{
	z-index: 81;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 56px;
}

#u40291:hover #u40291_states
{
	background: url("../../images/u40291_states-r.png") no-repeat 0px 0px;
}

#u40292-6
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 57px;
}

#u40293
{
	z-index: 90;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 162px;
	left: 57px;
}

#u40275_states,#u40277_states,#u40282_states,#u40276_states,#u40291_states,#u40293_states
{
	height: 48px;
	width: 242px;
	vertical-align: top;
}

#u40293:hover #u40293_states
{
	background: url("../../images/u40293_states-r.png") no-repeat 0px 0px;
}

#u29454-5
{
	z-index: 20;
	width: 103px;
	min-height: 14px;
	margin-left: 212px;
}

#u29454-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 0px 0px 0px 212px;
}

#u29455-4
{
	z-index: 25;
	width: 103px;
	min-height: 14px;
	margin-left: 44px;
	margin-top: 1px;
}

#u29455-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 1px 0px 0px 44px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

