.version.menufloral /* version checker */
{
	color: #0000F6;
	background-color: #BDF5AB;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 517px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 31px;
}

#pu28146-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 10px;
}

#u28146-4
{
	z-index: 3;
	width: 109px;
	min-height: 13px;
}

#u28146-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 109px;
	margin: 0px;
}

#ppu27618
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 14px;
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 31px;
}

#u27618
{
	z-index: 0;
	width: 271px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu29475-4
{
	width: 0.01px;
	padding-bottom: 43.050000000000125px;
	position: relative;
	left: 18px;
	padding-top: 23px;
	z-index: 2;
}

#u29475-4
{
	z-index: 34;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 1px;
	position: relative;
}

#u29474-4
{
	z-index: 50;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 1px;
	margin-top: 36px;
	position: relative;
}

#u30636-4
{
	z-index: 69;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 2px;
	margin-top: 60px;
	position: relative;
}

#u29476-4
{
	z-index: 46;
	margin-top: 85px;
	position: relative;
}

#u29476-4_img
{
	display: block;
	vertical-align: top;
}

#u30635-4
{
	z-index: 65;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 2px;
	margin-top: 45px;
	position: relative;
}

#u29407-13
{
	z-index: 7;
	width: 19px;
	min-height: 125px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u29477-4
{
	z-index: 38;
	width: 242px;
	background-color: transparent;
	line-height: 1.65;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 49px;
}

#u29478-4
{
	z-index: 42;
	width: 242px;
	min-height: 19px;
	background-color: transparent;
	line-height: 1.65;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 49px;
}

#u30631
{
	z-index: 55;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 50px;
}

#u30631:hover #u30631_states
{
	background: url("../../images/u30631_states-r.png") no-repeat 0px 0px;
}

#u30633-4
{
	z-index: 57;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 49px;
}

#u30634-4
{
	z-index: 61;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 50px;
}

#u30638-4
{
	z-index: 73;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 50px;
}

#u30639-4
{
	z-index: 77;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 49px;
}

#u30640-4
{
	z-index: 81;
	width: 242px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.58;
	font-size: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 50px;
}

#u30641
{
	z-index: 86;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 49px;
}

#u30641:hover #u30641_states
{
	background: url("../../images/u30641_states-r.png") no-repeat 0px 0px;
}

#u30642
{
	z-index: 89;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 50px;
}

#u30642:hover #u30642_states
{
	background: url("../../images/u30642_states-r.png") no-repeat 0px 0px;
}

#u30644
{
	z-index: 92;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 49px;
}

#u30644:hover #u30644_states
{
	background: url("../../images/u30644_states-r.png") no-repeat 0px 0px;
}

#u30645
{
	z-index: 95;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 50px;
}

#u30645:hover #u30645_states
{
	background: url("../../images/u30645_states-r.png") no-repeat 0px 0px;
}

#u30646
{
	z-index: 98;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 118px;
	left: 50px;
}

#u30646:hover #u30646_states
{
	background: url("../../images/u30646_states-r.png") no-repeat 0px 0px;
}

#u30647
{
	z-index: 101;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 138px;
	left: 50px;
}

#u30647:hover #u30647_states
{
	background: url("../../images/u30647_states-r.png") no-repeat 0px 0px;
}

#u30648
{
	z-index: 104;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 51px;
}

#u30648:hover #u30648_states
{
	background: url("../../images/u30648_states-r.png") no-repeat 0px 0px;
}

#u30649
{
	z-index: 107;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 178px;
	left: 52px;
}

#u30649:hover #u30649_states
{
	background: url("../../images/u30649_states-r.png") no-repeat 0px 0px;
}

#u30650
{
	z-index: 110;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 199px;
	left: 51px;
}

#u30641_states,#u30642_states,#u30644_states,#u30645_states,#u30646_states,#u30647_states,#u30648_states,#u30649_states,#u30650_states
{
	height: 19px;
	width: 242px;
	vertical-align: top;
}

#u30650:hover #u30650_states
{
	background: url("../../images/u30650_states-r.png") no-repeat 0px 0px;
}

#u30651
{
	z-index: 113;
	position: relative;
	width: 242px;
	margin-right: -10000px;
	margin-top: 388px;
	left: 50px;
}

#u30631_states,#u30651_states
{
	height: 20px;
	width: 242px;
	vertical-align: top;
}

#u30651:hover #u30651_states
{
	background: url("../../images/u30651_states-r.png") no-repeat 0px 0px;
}

#u29450-5
{
	z-index: 20;
	width: 103px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 517px;
	left: 30px;
}

#u29455-4
{
	z-index: 30;
	width: 103px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 517px;
	left: 140px;
}

#u29454-5
{
	z-index: 25;
	width: 103px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 517px;
	left: 250px;
}

#u29450-5:hover,#u29455-4:hover,#u29454-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 103px;
	margin: 517px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -516px;
}

