.version.merry_go_round /* version checker */
{
	color: #000011;
	background-color: #290D49;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	padding-top: 21px;
	padding-bottom: 392px;
	width: 0.01px;
}

#slideshowu32396
{
	z-index: 2;
	width: 0.01px;
	height: 157px;
	left: -233px;
	position: relative;
}

#u32403
{
	position: absolute;
	background-color: transparent;
}

#u32403popup
{
	z-index: 3;
}

#u32408
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u32463
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u32472
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u32399
{
	position: absolute;
	width: 165px;
	background-color: transparent;
	left: 233px;
}

#u32399popup
{
	z-index: 10;
}

#u32402-4
{
	z-index: 11;
	width: 135px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u32469-4
{
	z-index: 15;
	width: 135px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u32478-4
{
	z-index: 19;
	width: 135px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u32402-4:hover,#u32469-4:hover,#u32478-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u32419-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u32419-4popup
{
	z-index: 23;
}

#u32419
{
	color: #999999;
}

#u32418-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 107px;
	left: 81px;
}

#u32418-4popup
{
	z-index: 27;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

