.version.millinery /* version checker */
{
	color: #000003;
	background-color: #04644B;
}

@-ms-viewport
{
	width: 378px;
}

@-webkit-viewport
{
	width: 378px;
}

@-o-viewport
{
	width: 378px;
}

@-moz-viewport
{
	width: 378px;
}

@viewport
{
	width: 378px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 378px;
	min-height: 672px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u27608
{
	z-index: 2;
	min-height: 495px;
	padding-bottom: 177px;
}

#u27871-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 458px;
	left: 73px;
}

#u27608-bw
{
	z-index: 2;
	min-height: 495px;
}

#u27662-21
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 40px;
}

#u27661
{
	z-index: 28;
	width: 245px;
	height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 66px;
}

.ie #u27661
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27661:hover
{
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	width: 245px;
	height: 37px;
	min-height: 0px;
	margin: 154px -10000px 0px 0px;
}

#u27660
{
	z-index: 29;
	width: 245px;
	height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 66px;
}

.ie #u27660
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27660:hover
{
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	width: 245px;
	height: 37px;
	min-height: 0px;
	margin: 306px -10000px 0px 0px;
}

#u27870
{
	z-index: 30;
	width: 245px;
	height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 453px;
	left: 66px;
}

.ie #u27870
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27870:hover
{
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	width: 245px;
	height: 37px;
	min-height: 0px;
	margin: 453px -10000px 0px 0px;
}

.ie #u27661:hover,.ie #u27660:hover,.ie #u27870:hover
{
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
}

body
{
	position: relative;
	min-width: 378px;
}

#page .verticalspacer
{
	clear: both;
}

