.version.ohkchundang /* version checker */
{
	color: #000008;
	background-color: #AF446B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 548px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 3px;
	padding-bottom: 48px;
	width: 0.01px;
}

#slideshowu43278
{
	z-index: 4;
	width: 0.01px;
	height: 175px;
	left: -233px;
	position: relative;
}

#u43286
{
	position: absolute;
	background-color: transparent;
}

#u43286popup
{
	z-index: 5;
}

#u43305
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u43419
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u43428
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u43437
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u43446
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u43455
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u43464
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u43336
{
	position: absolute;
	width: 279px;
	background-color: transparent;
	left: 233px;
}

#u43336popup
{
	z-index: 20;
}

#u43345-4
{
	z-index: 21;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u43425-4
{
	z-index: 25;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u43434-4
{
	z-index: 29;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u43443-4
{
	z-index: 33;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u43452-4
{
	z-index: 37;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u43461-4
{
	z-index: 41;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u43470-4
{
	z-index: 45;
	width: 249px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u43345-4:hover,#u43425-4:hover,#u43434-4:hover,#u43443-4:hover,#u43452-4:hover,#u43461-4:hover,#u43470-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#u43279-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 114px;
}

#u43279-4popup
{
	z-index: 49;
}

#u43279
{
	color: #999999;
}

#u43280-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 125px;
	left: 81px;
}

#u43280-4popup
{
	z-index: 53;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u34070
{
	z-index: 2;
	height: 63px;
}

#u34070-bw
{
	z-index: 2;
	margin-top: 64px;
	height: 63px;
}

#u43349
{
	z-index: 3;
	width: 237px;
	height: 13px;
	background-color: #FFFFFF;
	margin-left: 143px;
	margin-top: 182px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

