.version.once_upon_a_time /* version checker */
{
	color: #00001F;
	background-color: #89911C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 305px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 243px;
}

#slideshowu30363
{
	z-index: 3;
	width: 0.01px;
	height: 157px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -233px;
}

#u30378
{
	position: absolute;
	background-color: transparent;
}

#u30378popup
{
	z-index: 4;
}

#u30379
{
	z-index: 5;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30422
{
	z-index: 7;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30431
{
	z-index: 9;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30388
{
	position: absolute;
	width: 180px;
	background-color: transparent;
	left: 233px;
}

#u30388popup
{
	z-index: 11;
}

#u30390-4
{
	z-index: 12;
	width: 150px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	text-align: left;
	font-size: 12px;
	letter-spacing: 3px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30428-4
{
	z-index: 16;
	width: 150px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	text-align: left;
	font-size: 12px;
	letter-spacing: 3px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30437-4
{
	z-index: 20;
	width: 150px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	text-align: left;
	font-size: 12px;
	letter-spacing: 3px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30390-4:hover,#u30428-4:hover,#u30437-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u30387-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u30387-4popup
{
	z-index: 24;
}

#u30387
{
	color: #999999;
}

#u30365-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 107px;
	left: 81px;
}

#u30365-4popup
{
	z-index: 28;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u34070
{
	z-index: 2;
	height: 63px;
}

#u34070-bw
{
	z-index: 2;
	margin-top: 242px;
	height: 63px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

