.version.portfoli /* version checker */
{
	color: #0000FB;
	background-color: #215859;
}

@-ms-viewport
{
	width: 384px;
}

@-webkit-viewport
{
	width: 384px;
}

@-o-viewport
{
	width: 384px;
}

@-moz-viewport
{
	width: 384px;
}

@viewport
{
	width: 384px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-top: 71px;
	padding-right: 380px;
	padding-bottom: 499px;
	margin-top: -2px;
}

body
{
	position: relative;
	min-width: 384px;
}

#page .verticalspacer
{
	clear: both;
}

