.version.rabitfurr /* version checker */
{
	color: #000018;
	background-color: #BAA322;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.6499999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -29px;
	padding-bottom: 437px;
	width: 0.01px;
}

#slideshowu40495
{
	z-index: 2;
	width: 0.01px;
	height: 162px;
	left: -233px;
	position: relative;
}

#u40496
{
	position: absolute;
	background-color: transparent;
}

#u40496popup
{
	z-index: 3;
}

#u40503
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40569
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40578
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40587
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40596
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40605
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40619
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40509
{
	position: absolute;
	width: 200px;
	background-color: transparent;
	left: 233px;
}

#u40509popup
{
	z-index: 18;
}

#u40512-4
{
	z-index: 19;
	width: 170px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40575-4
{
	z-index: 23;
	width: 170px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40584-4
{
	z-index: 27;
	width: 170px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40593-4
{
	z-index: 31;
	width: 170px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40602-4
{
	z-index: 35;
	width: 170px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40611-4
{
	z-index: 39;
	width: 170px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40625-4
{
	z-index: 43;
	width: 170px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #000000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40512-4:hover,#u40575-4:hover,#u40584-4:hover,#u40593-4:hover,#u40602-4:hover,#u40611-4:hover,#u40625-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u40525-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u40525-4popup
{
	z-index: 47;
}

#u40525
{
	color: #999999;
}

#u40506-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 112px;
	left: 49px;
}

#u40506-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

