.version.shade_of_hue /* version checker */
{
	color: #0000F9;
	background-color: #86620F;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
}

#page_position_content
{
	padding-top: 49px;
	padding-bottom: 50px;
	width: 0.01px;
}

#slideshowu27738
{
	z-index: 2;
	width: 0.01px;
	height: 470px;
	left: -9px;
}

#u27744popup
{
	z-index: 3;
}

#u27744
{
	width: 339px;
	height: 429px;
	left: 30px;
}

#u27745
{
	z-index: 4;
	width: 339px;
	height: 429px;
	margin-right: -10000px;
}

#u27747
{
	z-index: 6;
	width: 339px;
	height: 429px;
	margin-right: -10000px;
}

#u27749
{
	z-index: 8;
	width: 339px;
	height: 429px;
	margin-right: -10000px;
}

#u27739popup
{
	z-index: 10;
}

#u27739
{
	width: 349px;
	top: 430px;
	left: 31px;
}

#u27742-4
{
	z-index: 11;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u27740-4
{
	z-index: 15;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u27741-3
{
	z-index: 19;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u27752-4popup
{
	z-index: 22;
}

#u27752-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 196px;
}

#u27743-4popup
{
	z-index: 26;
}

#u27743-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 195px;
	left: 366px;
}

#slideshowu27788
{
	z-index: 30;
	width: 0.01px;
	height: 471px;
	left: -9px;
	top: -470px;
	margin-bottom: -470px;
	position: relative;
}

#u27794
{
	position: absolute;
	width: 340px;
	height: 429px;
	background-color: transparent;
	top: 1px;
	left: 29px;
}

#u27794popup
{
	z-index: 31;
}

#u27795
{
	z-index: 32;
	width: 340px;
	height: 429px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27842
{
	z-index: 34;
	width: 340px;
	height: 429px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27851
{
	z-index: 36;
	width: 340px;
	height: 429px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27860
{
	z-index: 38;
	width: 340px;
	height: 429px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27795_clip,#u27842_clip,#u27851_clip,#u27860_clip
{
	overflow: hidden;
	width: 340px;
	height: 429px;
}

#u27795_img,#u27842_img,#u27851_img,#u27860_img
{
	margin-top: -8px;
	margin-bottom: -9px;
}

#u27789
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 431px;
	left: 30px;
}

#u27789popup
{
	z-index: 40;
}

#u27792-4
{
	z-index: 41;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	line-height: 1.4;
	color: #999999;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u27792
{
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u27848-4
{
	z-index: 45;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	line-height: 1.4;
	color: #999999;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u27857-4
{
	z-index: 49;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	line-height: 1.4;
	color: #999999;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u27866-4
{
	z-index: 53;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	line-height: 1.4;
	color: #999999;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u27802-4
{
	position: absolute;
	width: 10px;
	min-height: 410px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u27802-4popup
{
	z-index: 57;
}

#u27802
{
	color: #999999;
}

#u27793-4
{
	position: absolute;
	width: 10px;
	min-height: 410px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 367px;
}

#u27793-4popup
{
	z-index: 61;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

