.version.straw /* version checker */
{
	color: #000014;
	background-color: #143627;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 525px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 45px;
}

#u28146-6
{
	z-index: 7;
	width: 47px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 27px;
}

#u28146-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 47px;
	margin: 38px -10000px 0px 0px;
}

#u27667-20
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 89px;
}

#u27874
{
	z-index: 33;
	width: 214px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 84px;
}

.ie #u27874
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27874:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 213px;
	height: 0px;
	min-height: 0px;
	margin: 208px -10001px -1px 0px;
}

#u27876
{
	z-index: 34;
	width: 214px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 84px;
}

.ie #u27876
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27876:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 213px;
	height: 0px;
	min-height: 0px;
	margin: 224px -10001px -1px 0px;
}

#u27882
{
	z-index: 35;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 84px;
}

.ie #u27882
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27882:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 242px -10001px -1px 0px;
}

#u27884
{
	z-index: 36;
	width: 211px;
	height: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 84px;
}

.ie #u27884
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27884:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	width: 210px;
	height: 0px;
	min-height: 0px;
	margin: 353px -10001px -1px 0px;
}

.ie #u27874:hover,.ie #u27876:hover,.ie #u27882:hover,.ie #u27884:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#pu27618
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 51px;
}

#u27618
{
	z-index: 0;
	width: 280px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu27625
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 13px;
}

#pu27625
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u27625
{
	z-index: 0;
	width: 263px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu27666-3
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 6px;
}

#u27666-3
{
	z-index: 4;
	width: 250px;
	min-height: 441px;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

