.version.three_band_rose /* version checker */
{
	color: #000015;
	background-color: #5CFC72;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 392px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 156px;
}

#slideshowu30796
{
	z-index: 3;
	width: 0.01px;
	height: 371px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -233px;
}

#u30806
{
	position: absolute;
	width: 111px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 18px;
	top: 132px;
	left: 233px;
}

#u30806popup
{
	z-index: 4;
}

#u30882
{
	z-index: 5;
	width: 111px;
	height: 73px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u30882.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 111px;
	height: 73px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u38023
{
	z-index: 7;
	width: 111px;
	height: 73px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
}

#u38023.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 111px;
	height: 73px;
	min-height: 0px;
	margin: 74px -10000px 0px 0px;
}

#u30900
{
	z-index: 9;
	width: 111px;
	height: 73px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
}

#u30900.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 111px;
	height: 73px;
	min-height: 0px;
	margin: 148px -10000px 0px 0px;
}

#u30797
{
	position: absolute;
	background-color: transparent;
}

#u30797popup
{
	z-index: 11;
}

#u30879
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u38020
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30897
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30819
{
	position: absolute;
	width: 179px;
	background-color: transparent;
	left: 233px;
}

#u30819popup
{
	z-index: 18;
}

#u30885-4
{
	z-index: 19;
	width: 149px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u38026-4
{
	z-index: 23;
	width: 149px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30903-4
{
	z-index: 27;
	width: 149px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30885-4:hover,#u38026-4:hover,#u30903-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 34px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u30825-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u30825-4popup
{
	z-index: 31;
}

#u30825
{
	color: #999999;
}

#u30824-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 107px;
	left: 81px;
}

#u30824-4popup
{
	z-index: 35;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u34070
{
	z-index: 2;
	height: 63px;
}

#u34070-bw
{
	z-index: 2;
	margin-top: 242px;
	height: 63px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

