.version.traditionalmillinerymenu /* version checker */
{
	color: #0000E7;
	background-color: #AEF050;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 544px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 4px;
}

#ppu50198
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu50198
{
	width: 0.01px;
	margin-left: 2px;
}

#u50198
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#menuu50096
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50104
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50105
{
	width: 54px;
	padding-bottom: 31px;
}

#u50105:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50105.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50107-3_clip,#u50107-3_img
{
	width: 54px;
	height: 19px;
}

#u50107-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50109
{
	width: 312px;
	top: 50px;
}

#u50161
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50161:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50204
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50204:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50194
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50194:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50110,#u50160,#u50201,#u50191,#u50184
{
	width: 312px;
}

#u50187
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50187:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50161.MuseMenuActive,#u50204.MuseMenuActive,#u50194.MuseMenuActive,#u50187.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50163-5,#u50205-5,#u50195-5,#u50188-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50307-3
{
	z-index: 47;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 83px;
}

#pu27618
{
	width: 0.01px;
}

#u27618,#u27618-bw
{
	z-index: 2;
	height: 450px;
}

#u41281
{
	z-index: 51;
	position: relative;
	width: 255px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 62px;
}

#u41281:hover #u41281_states
{
	background: url("../../images/u41281_states-r.png") no-repeat 0px 0px;
}

#u41277-6
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 69px;
}

#u42696-6
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 69px;
}

#u42697
{
	z-index: 66;
	position: relative;
	width: 255px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 62px;
}

#u42697:hover #u42697_states
{
	background: url("../../images/u42697_states-r.png") no-repeat 0px 0px;
}

#u43275-6
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 67px;
}

#u43274
{
	z-index: 75;
	position: relative;
	width: 255px;
	margin-right: -10000px;
	margin-top: 126px;
	left: 61px;
}

#u41281_states,#u42697_states,#u43274_states
{
	height: 59px;
	width: 255px;
	vertical-align: top;
}

#u43274:hover #u43274_states
{
	background: url("../../images/u43274_states-r.png") no-repeat 0px 0px;
}

#u49998
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 55px;
}

#u49998:hover
{
	width: 40px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

#u49151
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 170px;
}

#u49153
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 549px;
	left: 287px;
}

#u49151:hover,#u49153:hover
{
	width: 39px;
	min-height: 0px;
	margin: 549px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -549px;
}

