.version.underthewillowtree /* version checker */
{
	color: #000010;
	background-color: #AD6FC5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.6499999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -29px;
	padding-bottom: 437px;
	width: 0.01px;
}

#slideshowu40296
{
	z-index: 2;
	width: 0.01px;
	height: 162px;
	left: -233px;
	position: relative;
}

#u40298
{
	position: absolute;
	background-color: transparent;
}

#u40298popup
{
	z-index: 3;
}

#u40301
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40367
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40376
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u40314
{
	position: absolute;
	width: 221px;
	background-color: transparent;
	left: 233px;
}

#u40314popup
{
	z-index: 10;
}

#u40317-4
{
	z-index: 11;
	width: 191px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40373-4
{
	z-index: 15;
	width: 191px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40382-4
{
	z-index: 19;
	width: 191px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u40317-4:hover,#u40373-4:hover,#u40382-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u40312-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u40312-4popup
{
	z-index: 23;
}

#u40312
{
	color: #999999;
}

#u40297-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 112px;
	left: 49px;
}

#u40297-4popup
{
	z-index: 27;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

