.version.white_mangolia /* version checker */
{
	color: #0000EC;
	background-color: #C3E50A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 543px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 5px;
}

#slideshowu30580
{
	z-index: 57;
	width: 0.01px;
	height: 162px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -233px;
}

#u30588
{
	position: absolute;
	background-color: transparent;
}

#u30588popup
{
	z-index: 58;
}

#u30589
{
	z-index: 59;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30621
{
	z-index: 61;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u30596
{
	position: absolute;
	width: 162px;
	background-color: transparent;
	left: 233px;
}

#u30596popup
{
	z-index: 63;
}

#u30598-4
{
	z-index: 64;
	width: 132px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30627-4
{
	z-index: 68;
	width: 132px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	letter-spacing: 3px;
	color: #000000;
	font-size: 12px;
	text-align: left;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u30598-4:hover,#u30627-4:hover
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u30600-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 96px;
}

#u30600-4popup
{
	z-index: 72;
}

#u30600
{
	color: #999999;
}

#u30595-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 112px;
	left: 49px;
}

#u30595-4popup
{
	z-index: 76;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#ppu50569
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu50569
{
	width: 0.01px;
	margin-left: 1px;
}

#u50569
{
	z-index: 7;
	width: 40px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u50569:hover
{
	width: 40px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#menuu50571
{
	z-index: 11;
	width: 54px;
	margin-right: -10000px;
}

#u50572
{
	width: 54px;
	min-height: 50px;
	margin-right: -10000px;
}

#u50573
{
	width: 54px;
	padding-bottom: 31px;
}

#u50573:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50573.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u50576-3_clip,#u50576-3_img
{
	width: 54px;
	height: 19px;
}

#u50576-3
{
	margin-right: -10000px;
	top: 15px;
}

#u50577
{
	width: 312px;
	top: 50px;
}

#u50587
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50587:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50582
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50582:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50601
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50601:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50608
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50608:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50578,#u50586,#u50579,#u50600,#u50607,#u50593
{
	width: 312px;
}

#u50596
{
	width: 312px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u50596:hover
{
	width: 311px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u50587.MuseMenuActive,#u50582.MuseMenuActive,#u50601.MuseMenuActive,#u50608.MuseMenuActive,#u50596.MuseMenuActive
{
	width: 312px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u50590-5,#u50584-5,#u50604-5,#u50609-5,#u50597-5
{
	margin-right: -10000px;
	top: 14px;
	left: 2px;
}

#u50614-3
{
	z-index: 54;
	width: 284px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 84px;
}

#u50568
{
	z-index: 2;
	height: 450px;
}

#u50568-bw
{
	z-index: 2;
	margin-top: 1px;
	height: 450px;
}

#u50566
{
	z-index: 9;
	width: 37px;
	margin-right: -10000px;
	margin-top: 548px;
	left: 55px;
}

#u50562
{
	z-index: 3;
	width: 39px;
	margin-right: -10000px;
	margin-top: 548px;
	left: 170px;
}

#u50564
{
	z-index: 5;
	width: 39px;
	margin-right: -10000px;
	margin-top: 548px;
	left: 287px;
}

#u50562:hover,#u50564:hover
{
	width: 39px;
	min-height: 0px;
	margin: 548px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -548px;
}

